﻿
@{
    ViewBag.Title = "Document";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";

    var _ListCategory = new List<TNItem>();
    if (ViewBag.ListCategory != null)
    {
        _ListCategory = ViewBag.ListCategory as List<TNItem>;
    }

    var _ListCustomer = new List<Customer_Model>();
    if (ViewBag.ListCustomer != null)
    {
        _ListCustomer = ViewBag.ListCustomer as List<Customer_Model>;
    }
}
<style>
    .sidebar {
        z-index: 9999;
        right: 0;
        top: 110px;
        height: 100%;
        position: fixed;
        background-color: #ffdeac;
        -webkit-transition: margin 0.3s ease;
        -moz-transition: margin 0.3s ease;
        -o-transition: margin 0.3s ease;
        transition: margin 0.3s ease;
    }

    .collapsed {
        display: none;
    }
</style>
<header class="page-header">
    <h2>Thư viện tài liệu</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<section class="content-with-menu content-with-menu-has-toolbar media-gallery">
    <div class="content-with-menu-container">
        <menu id="content-menu" class="inner-menu" role="menu">
            <div class="nano">
                <div class="nano-content">
                    <div class="inner-menu-content">
                        <a href="#" class="btn btn-block btn-primary btn-md pt-2 pb-2 text-3" onclick="openfile()">
                            <i class="fas fa-upload mr-1"></i>
                            Tải lên
                        </a>

                        <hr class="separator" />
                        <div class="sidebar-widget m-0">
                            <div class="widget-header clearfix">
                                <h6 class="title float-left mt-1">Danh mục</h6>
                            </div>
                            <div class="widget-content">
                                <ul class="mg-folders">
                                    @if (Request["Category"] == null)
                                    {
                                        <li>
                                            <a href="@Url.Action("Document", "Desktop", new { Slug = 9})" class="menu-item active">
                                                <i class="fas fa-folder"></i>
                                                Các tập tin chưa phân loại.
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@Url.Action("Document", "Desktop", new { Slug = 9}))" class="menu-item">
                                                <i class="fas fa-folder"></i>
                                                Các tập tin chưa phân loại.
                                            </a>
                                        </li>
                                    }
                                    @{
                                        foreach (var item in _ListCategory)
                                        {
                                            if (Request["Category"] != null &&
                                                Request["Category"] == item.Value.ToString())
                                            {
                                                <li>
                                                    <a href="@Url.Action("Document","Desktop", new { Category = item.Value, Slug = 1 })" class="menu-item active">
                                                        <i class="fas fa-folder"></i>
                                                        @item.Text
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="@Url.Action("Document","Desktop", new { Category = item.Value, Slug = 1 })" class="menu-item">
                                                        <i class="fas fa-folder"></i>
                                                        @item.Text
                                                    </a>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <hr class="separator" />
                    </div>
                </div>
            </div>
        </menu>

        <div class="inner-body mg-main">
            <form class="inner-toolbar clearfix">
                <ul>
                    <li class="p-1" style="width:25%">
                        <select id="cbo_Search" class="form-control select2" name="Customer">
                            <option value="">--Chọn--</option>
                            @{
                                foreach (var item in _ListCustomer)
                                {
                                    if (ViewBag.Customer != null && ViewBag.Customer == item.CustomerKey)
                                    {
                                        <option value="@item.CustomerKey" selected>@item.FullName</option>
                                    }
                                    else
                                    {
                                        <option value="@item.CustomerKey">@item.FullName</option>
                                    }
                                }
                            }
                        </select>
                    </li>
                    <li class="p-1">
                        <input type="text" class="form-control" id="txt_Search" placeholder="" name="FileName" value="@ViewBag.FileName">
                    </li>
                    <li>
                        <button type="submit" class="btn btn-primary btn-block">Tìm</button>
                    </li>
                </ul>
            </form>

            <!---->
            <div class="row mg-files" data-sort-destination data-sort-id="media-gallery" id="listdoc">
                @Html.Action("ListViewDocument", "Desktop")
            </div>
        </div>
    </div>
</section>

<form method="post" enctype="multipart/form-data" id="frmSubmit" style="display:none" action="@Url.Action("UploadDocument","Desktop")">
    <input id="files" type="file" multiple name="files" />
    <input id="CategoryKey" type="hidden" value="" name="CategoryKey" />
</form>

<div class="col-md-3 sidebar collapsed" id="sidebar-right">
    <section class="card row">
        <header class="card-header bg-transparent">
            <div class="card-actions">
                <button type="button" class="close toggle-sidebar-right" aria-hidden="true">×</button>
            </div>
            <h2 class="card-title" id="title">Chi tiết</h2>
        </header>
        <div class="card-body p-2">
            <div class="nano" style="height:100vh">
                <div class="nav-main nano-content">
                    <input id="txt_AutoKey" type="hidden" />
                    <div class="form-group">
                        <label for="">Khách hàng</label>
                        <select id="cbo_Customer" class="form-control select2" name="Customer">
                            @{
                                foreach (var item in _ListCustomer)
                                {
                                    <option value="@item.CustomerKey">@item.FullName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Loại tài liệu</label>
                        <select id="cbo_Category" class="form-control select2" name="Category">
                            @{
                                foreach (var item in _ListCategory)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-label-group">
                        <input type="text" class="form-control" id="txt_Title" placeholder="" name="Title">
                        <label for="txt_Title">Tiêu đề</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" class="form-control datepicker" id="txt_SignDate" placeholder="" name="SignDate">
                        <label for="txt_SignDate">Ngày ký/ phát hành/ hiệu lực</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" class="form-control datepicker" id="txt_FromDate" placeholder="" name="FromDate">
                        <label for="txt_FromDate">Từ ngày</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" class="form-control datepicker" id="txt_ToDate" placeholder="" name="ToDate">
                        <label for="txt_ToDate">Đến ngày</label>
                    </div>
                    <div class="form-label-group">
                        <textarea type="text" class="form-control" id="txt_Description" placeholder="" name="Description"></textarea>
                    </div>
                    <hr />
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-primary rounded-0 toggle-sidebar-right" onclick="Update()">
                            <i class="far fa-save"></i>
                            Cập nhật
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-0 toggle-sidebar-right" onclick="Delete()">
                            <i class="fas fa-trash"></i>
                            Xóa
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- end: page -->
@section scripts{
    <script src="@Url.Content("~/assets/themes/vendor/isotope/isotope.js")"></script>
    <script src="~/Assets/App_JS/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script>
        var URL_Delete = "@Url.Action("DeleteDocument", "Desktop")";
        var URL_Save = "@Url.Action("UpdateDocument", "Desktop")";
        var URL_Open = "@Url.Action("OpenDocument", "Desktop")";
        var URL_Refesh = "@Url.Action("ListViewDocument","Desktop")";

        const userAgent = navigator.userAgent.toLowerCase();
        const isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
        var width = $(window).width();
        if (isTablet || width <= 1366) {
            $("html").addClass("sidebar-left-collapsed");
        }
        $(document).ready(function () {
            $(".toggle-sidebar-right").click(function () {
                toggleSidebar("right");

                return false;
            });

            $("#files").on("change", function () {
                var fileName = $("#files").val();
                var cate = getUrlParameter('CategoryKey');
                if (fileName) {
                    // returns true if the string is not empty
                    $("#CategoryKey").val(cate);
                    Utils.LoadIn();
                    $("#frmSubmit").submit();
                }
            });
        });
        function View(Key) {
            toggleSidebar("right");

            $.ajax({
                url: URL_Open,
                type: "GET",
                data: {
                    "Key": Key
                },
                beforeSend: function () {

                },
                success: function (r) {
                    var obj = JSON.parse(r.Data);
                    $("#title").text(obj.FileName);

                    $("#txt_AutoKey").val(obj.AutoKey);
                    $("#txt_Title").val(obj.Title);
                    $("#txt_SignDate").val(Utils.ConvertToDDMMYYYY(obj.SignDate));
                    $("#txt_FromDate").val(Utils.ConvertToDDMMYYYY(obj.FromDate));
                    $("#txt_ToDate").val(Utils.ConvertToDDMMYYYY(obj.ToDate));
                    $("#txt_Description").text(obj.Description);

                    $("#cbo_Customer").val(obj.CustomerKey).trigger("change");
                    $("#cbo_Category").val(obj.Category).trigger("change");
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {

                }
            });
        }
        function Update() {
            $.ajax({
                url: URL_Save,
                type: "POST",
                data: {
                    "AutoKey": $("#txt_AutoKey").val(),
                    "CategoryKey": $("#cbo_Category").val(),
                    "Title": $("#txt_Title").val(),
                    "FromDate": $("#txt_FromDate").val(),
                    "ToDate": $("#txt_ToDate").val(),
                    "SignDate": $("#txt_SignDate").val(),
                    "Customer": $("#cbo_Customer").val(),
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.Success) {
                        Utils.OpenNotify("Đã tải thành công !.", "Thông báo", "success");
                        //location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        function toggleSidebar(side) {
            if (side !== "left" &&
                side !== "right") {
                return false;
            }
            var left = $("#sidebar-left"),
                right = $("#sidebar-right"),
                content = $("#content"),
                openSidebarsCount = 0,
                contentClass = "";

            // toggle sidebar
            if (side === "left") {
                left.toggleClass("collapsed");
            } else if (side === "right") {
                right.toggleClass("collapsed");
            }

            // determine number of open sidebars
            if (!left.hasClass("collapsed")) {
                openSidebarsCount += 1;
            }

            if (!right.hasClass("collapsed")) {
                openSidebarsCount += 1;
            }

            // determine appropriate content class
            if (openSidebarsCount === 0) {
                contentClass = "col-md-12";
            } else if (openSidebarsCount === 1) {
                contentClass = "col-md-9";
            } else {
                contentClass = "col-md-6";
            }

            // apply class to content
            content.removeClass("col-md-12 col-md-9 col-md-6")
                .addClass(contentClass);
        }
        function Delete(Key) {
            if (Key === '') {
                Key = $("#txt_AutoKey").val();
            }
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "Key": Key
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        $("div[key=" + Key + "]").fadeOut(300,
                                            function () {
                                                $(this).remove();
                                            });
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function openfile() {
            //var cate = getUrlParameter('CategoryKey');
            //if (!cate) {
            //    Utils.OpenNotify("Bạn phải chọn danh mục năm !.", "Thông báo", "warning");
            //    return false;
            //}
            //else {
                $("#files").trigger("click");
            //}
        }
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
            return false;
        };


        $(document).on('click', 'a[viewdoc]', function (e) {
            var link = '';
            var url = '';
            var name = $(this).attr("viewdoc");
            if (location.port.length > 0) {
                url = document.location.protocol + "//" + document.location.hostname + ":" + location.port;
            }
            else {
                url = document.location.protocol + "//" + document.location.hostname;
            }

            var attr = $(this).attr('href');
            if (attr.indexOf('.doc') !== -1 ||
                attr.indexOf('.docx') !== -1) {
                link += 'http://docs.google.com/viewer?embedded=true&url=' + url + $(this).attr('href');
            }
            if (attr.indexOf('.xls') !== -1 ||
                attr.indexOf('.xlsx') !== -1) {
                link += 'http://docs.google.com/viewer?embedded=true&url=' + url + $(this).attr('href');
            }
            if (attr.indexOf('.pdf') !== -1) {
                link += 'http://docs.google.com/viewer?embedded=true&url=' + url + $(this).attr('href');
            }

            var height = $(window).height();
            var iframe = "<iframe name = 'iFrameBackOffice' frameborder = '0' marginwidth = '0' marginheight = '0' allowfullscreen scrolling = 'no' style = 'position: relative; border: none; padding: 0px; margin: 0px;' width = '100%' height = '" + height + "' src = '" + link + "'></iframe> ";

            $.dialog({
                theme: 'supervan',
                closeIcon: true,
                columnClass: 'xlarge',
                title: name,
                content: iframe,
                animation: 'scale',
                closeAnimation: 'scale',
                backgroundDismiss: true,
            });
        });

        //$(function () {
        //    var hubNotify = $.connection.DocumentHub;

        //    $.connection.hub.start().done(function () {
        //        getAll();
        //    });

        //    hubNotify.client.RefeshDocument = function () {
        //        getAll();
        //    };
        //});

        //function getAll() {
        //    var model = $('#listdoc');
        //    $.ajax({
        //        url: URL_Refesh,
        //        contentType: 'application/html ; charset:utf-8',
        //        type: 'GET',
        //        dataType: 'html',
        //        success: function (result) { model.empty().append(result); }
        //    });
        //}
    </script>
}