﻿@using System.Data
@{
    ViewBag.Title = "StockList";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
    DataTable _Table = new DataTable();
    if (ViewBag.TableIVT != null)
    {
        _Table = ViewBag.TableIVT as DataTable;
    }
}

<header class="page-header">
    <h2>Tồn kho</h2>
    <div class="right-wrapper text-right" style="margin-right:10px">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ol>
    </div>

</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">
                <div class="row">
                    <div class="col-md-4">
                        <select id="cbo_Month" class="form-control select2" name="cboMonth">

                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body border-primary">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2">#</th>
                            <th rowspan="2">Sản phẩm/mặt hàng</th>
                            <th rowspan="2">Đvt (Cơ bản)</th>
                            <th colspan="2" class="text-center">Tồn đầu kỳ</th>
                            <th colspan="2" class="text-center">Nhập trong kỳ</th>
                            <th colspan="2" class="text-center">Xuất trong kỳ</th>
                            <th colspan="2" class="text-center">Tồn cuối kỳ</th>
                            <th rowspan="2">#</th>
                        </tr>
                        <tr>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Số tiền</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Số tiền</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Số tiền</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Số tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int No = 1;
                            foreach (DataRow r in _Table.Rows)
                            {
                                float Begin = r["Begin_Quantity"].ToFloat();
                                double BeginAmount = r["Begin_AmountCurrencyMain"].ToDouble();
                                float In = r["In_Quantity"].ToFloat();
                                double InAmount = r["In_AmountCurrencyMain"].ToDouble();
                                float Out = r["Out_Quantity"].ToFloat();
                                double OutAmount = r["Out_AmountCurrencyMain"].ToDouble();
                                float End = r["End_Quantity"].ToFloat();
                                double EndAmount = r["End_AmountCurrencyMain"].ToDouble();

                                if (End <= 5)
                                {
                                    <tr style="background:#eec6c6">
                                        <td>@(No++)</td>
                                        <td>@r["ProductName"].ToString()</td>
                                        <td>@r["StandardUnitName"].ToString()</td>
                                        <td class="text-right" style="width:7%">@Begin.ToString("n0")</td>
                                        <td class="text-right" style="width:7%">@BeginAmount.ToString("n0")</td>
                                        <td class="text-right" style="width:7%">@In.ToString("n0")</td>
                                        <td class="text-right" style="width:7%">@InAmount.ToString("n0")</td>
                                        <td class="text-right" style="width:7%">@Out.ToString("n0")</td>
                                        <td class="text-right" style="width:7%">@OutAmount.ToString("n0")</td>
                                        <td class="text-right" style="width:7%">@End.ToString("n0")</td>
                                        <td class="text-right" style="width:7%">@EndAmount.ToString("n0")</td>
                                        <th></th>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>@(No++)</td>
                                        <td>@r["ProductName"].ToString()</td>
                                        <td>@r["StandardUnitName"].ToString()</td>
                                        <td class="text-right" style="width:7%">@Begin.ToString("n0")</td>
                                        <td class="text-right" style="width:7%">@BeginAmount.ToString("n0")</td>
                                        <td class="text-right" style="width:7%">@In.ToString("n0")</td>
                                        <td class="text-right" style="width:7%">@InAmount.ToString("n0")</td>
                                        <td class="text-right" style="width:7%">@Out.ToString("n0")</td>
                                        <td class="text-right" style="width:7%">@OutAmount.ToString("n0")</td>
                                        <td class="text-right" style="width:7%">@End.ToString("n0")</td>
                                        <td class="text-right" style="width:7%">@EndAmount.ToString("n0")</td>
                                        <th></th>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-primary ">

            </div>
        </div>
    </div>
</div>
