﻿
@{
    Layout = null;
    string _Logo = "~/assets/themes/img/Logo_TNS.png";
    if (Session["Partner_Model"] != null)
    {
        Partner_Model zPart = Session["Partner_Model"] as Partner_Model;
        if (zPart.Logo_Large != string.Empty)
        {
            _Logo = zPart.Logo_Large;
        }
    }
}

<!DOCTYPE html>

<html class="fixed sidebar-light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple APP</title>
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/animate/animate.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/font-awesome/css/all.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/jstree/themes/default/style.css")" />
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/jquery-ui/jquery-ui.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/jquery-ui/jquery-ui.theme.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/jquery-confirm/css/jquery-confirm.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/magnific-popup/magnific-popup.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/pnotify/pnotify.custom.css")" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/css/theme.css")" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/css/skins/default.css")" />
    <!-- Head Libs -->
    <script src="@Url.Content("~/assets/themes/vendor/modernizr/modernizr.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/assets/App_Css/LayoutDesktop.css")" />
    @RenderSection("Style", false)
    <link href="~/Assets/App_CSS/Loading.css" rel="stylesheet" />
    <script src="~/Assets/App_JS/session-timeout.js"></script>
</head>
<body class="loading-overlay-showing" data-loading-overlay>
    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div class="se-pre-con" style="background: #3498db;">
        <div class="book">
            <div class="book__page"></div>
            <div class="book__page"></div>
            <div class="book__page"></div>
        </div>
    </div>
    <section class="body">
        <header class="header">
            <div class="logo-container">
                <a href="@Url.RouteUrl("dTrangChu")" class="logo">
                    <img src="@Url.Content(_Logo)" style="height:35px;">
                </a>
                <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>
            <!-- start: search & user box -->
            <div class="header-right">
                <ul class="notifications">
                    <li class="">
                        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bell"></i>
                            <span class="badge">3</span>
                        </a>
                        <div class="dropdown-menu notification-menu" x-placement="bottom-start">
                            <div class="notification-title">
                                <span class="float-right badge badge-default">3</span>
                                Thông báo
                            </div>
                            <div class="content">
                                <ul>
                                    <li>
                                        <a href="" class="clearfix">
                                            <div class="image">
                                                <i class="fas fa-info bg-danger text-light"></i>
                                            </div>
                                            <span class="title">@ViewBag.Message1</span>
                                            <span class="message">Thông báo tự động</span>
                                        </a>
                                    </li>                                    
                                </ul>                                
                            </div>
                        </div>
                    </li>
                </ul>
                <span class="separator"></span>
                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="@Url.Content("~/assets/themes/img/Logo_TNS.png")" alt="Joseph Doe" class="rounded-circle" data-lock-picture="img/!logged-user.jpg" style="object-fit:cover">
                        </figure>
                        <div class="profile-info" data-lock-name="John Doe" data-lock-email="..">
                            <span class="name">Quản lý</span>
                        </div>
                        <i class="fa custom-caret"></i>
                    </a>
                    <div class="dropdown-menu">
                        <ul class="list-unstyled mb-2">
                            <li>
                                <a role="menuitem" href="@Url.Action("SignOut","Auth")">
                                    <i class="fas fa-power-off"></i> Thoát tài khoản
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <div class="inner-wrapper" style="background-image: url('@Url.Content("#")')">
            <aside id="sidebar-left" class="sidebar-left" style="">
                <div class="sidebar-header">
                    <div class="sidebar-title">

                    </div>
                    <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>
                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            @Html.Partial("~/Views/Shared/_Menu_Desktop.cshtml")
                        </nav>
                    </div>
                </div>
            </aside>
            <section role="main" class="content-body">
                @RenderBody()
            </section>
        </div>
    </section>

    <script src="@Url.Content("~/assets/themes/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/jquery-browser-mobile/jquery.browser.mobile.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/popper/umd/popper.min.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/bootstrap/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/common/common.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/nanoscroller/nanoscroller.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/magnific-popup/jquery.magnific-popup.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/moment/moment.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/jquery-confirm/js/jquery-confirm.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/pnotify/pnotify.custom.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/ios7-switch/ios7-switch.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/autosize/autosize.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/inputmask/jquery.inputmask.bundle.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/jquery-validation/jquery.validate.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js")"></script>
    <script src="@Url.Content("~/assets/themes/js/jquery.number.js")"></script>
    @RenderSection("Scripts", false)
    <!-- Theme Base, Components and Settings -->
    <script src="@Url.Content("~/assets/themes/js/theme.js")"></script>
    <!-- Theme Initialization Files -->
    <script src="@Url.Content("~/assets/themes/js/theme.init.js")"></script>
    <script src="@Url.Content("~/assets/App_Js/Utils.js")"></script>
    <script src="@Url.Content("~/assets/App_Js/Layout.js")"></script>
    <script>
        sessionTimeout({
            warnAfter: 600000,
            titleText: "Thông báo.",
            message: "Phiên làm việc của bạn sắp hết thời gian, phần mềm sẽ quay về trang đăng nhập trong lần hoạt động kế tiếp !.",
            logOutUrl: "@Url.Action( "SignOut", "Auth")",
            keepAliveUrl: "@Url.Action("KeepSessionAlive", "Base")",
            timeOutUrl:"@Url.Action("SignOut", "Auth")",
            logOutBtnText: "Kết thúc phiên làm việc",
            stayConnectedBtnText:"Giữ phiên làm việc"
        });
    </script>
</body>
</html>
