﻿@{

}

<!DOCTYPE html>
<html class="fixed has-top-menu">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Simple APP</title>
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <!-- themes/vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/animate/animate.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/font-awesome/css/all.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/jstree/themes/default/style.css")" />
    <!-- Specific Page themes/vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/jquery-ui/jquery-ui.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/jquery-ui/jquery-ui.theme.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/jquery-confirm/css/jquery-confirm.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/magnific-popup/magnific-popup.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/pnotify/pnotify.custom.css")" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/css/theme.css")" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/css/skins/default.css")" />
    <!-- Head Libs -->
    <script src="@Url.Content("~/assets/themes/vendor/modernizr/modernizr.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/assets/App_Css/LayoutDesktop.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/App_Css/LayoutMobile.css")" />
    <link rel="stylesheet" href="~/Assets/App_CSS/Loading.css" />
</head>
<body>

    <div class="se-pre-con" style="background: #3498db;">
        <div class="book">
            <div class="book__page"></div>
            <div class="book__page"></div>
            <div class="book__page"></div>
        </div>
    </div>
    <section class="body">
        <header class="header">
            <div class="logo-container">

                <div class="tab-navigation">
                    <nav style="">
                        <ul class="nav nav-pills">
                            <li class="border border-white">
                                <a class="nav-link p-0 text-center" href="@Url.RouteUrl("mHoaDonVao")" style="height:100%">
                                    <i class="fas fa-file-import fa-2x" style="margin-right:0px"></i><br />
                                    Mua vào
                                </a>
                            </li>
                            <li class="border border-white">
                                <a class="nav-link p-0 text-center" href="@Url.RouteUrl("mHoaDonRa")" style="height:100%">
                                    <i class="fas fa-file-export fa-2x" style="margin-right:0px"></i><br />
                                    Bán ra
                                </a>
                            </li>
                            <li class="border border-white">
                                <a class="nav-link p-0 text-center" href="@Url.RouteUrl("mHoaDonCB")" style="height:100%">
                                    <i class="fas fa-balance-scale fa-2x" style="margin-right:0px"></i><br />
                                    Tổng hợp
                                </a>
                            </li>
                            <li class="border border-white">
                                <a class="nav-link p-0 text-center" href="@Url.RouteUrl("mTrangChu")" style="height:100%">
                                    <i class="fas fa-home fa-2x" style="margin-right:0px"></i><br />
                                    Trang chủ
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </header>
        <div class="inner-wrapper"
             style="
             background-image: url('@Url.Content("~/assets/themes/img/Logo_TNS.png")');
             background-size:150px;
             background-repeat:no-repeat;
             background-position:center;">
            <section role="main" class="container-fluid p-0">
                @RenderBody()
            </section>
        </div>
    </section>
    <button type="button" class="btn btn-primary back2Top" id="btn_back2Top">
        <i class="fas fa-level-up-alt"></i>
    </button>
    <script src="@Url.Content("~/assets/themes/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/jquery-browser-mobile/jquery.browser.mobile.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/popper/umd/popper.min.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/bootstrap/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/common/common.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/nanoscroller/nanoscroller.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/magnific-popup/jquery.magnific-popup.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/moment/moment.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/jquery-confirm/js/jquery-confirm.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/pnotify/pnotify.custom.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/ios7-switch/ios7-switch.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/autosize/autosize.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/inputmask/jquery.inputmask.bundle.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/jquery-validation/jquery.validate.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js")"></script>
    <script src="@Url.Content("~/assets/themes/js/jquery.number.js")"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="@Url.Content("~/assets/themes/vendor/isotope/isotope.js")"></script>
    <script src="@Url.Content("~/assets/themes/js/theme.js")"></script>
    <!-- Theme Initialization Files -->
    <script src="@Url.Content("~/assets/themes/js/theme.init.js")"></script>
    <script src="@Url.Content("~/assets/App_Js/Utils.js")"></script>
    <script src="@Url.Content("~/assets/App_Js/Layout.js")"></script>
    @RenderSection("Scripts", false)
    <script>
        $(document).ready(function () {
            var url = document.location.pathname;
            $("a[href='" + url + "']").addClass("active");
        });
    </script>
</body>
</html>
