﻿
@{
    Layout = null;
    User_Model UserLog = Session["User_Model"] as User_Model;
}
@if (UserLog.ListRole.Count > 0)
{
    <ul class="nav nav-main">
        @{
            var ListMenu = UserLog.ListRole.Where(p => p.Parent == "0").OrderBy(p => p.RoleID);

            foreach (User_Role Menu in ListMenu)
            {
                if (Menu.RoleRead)
                {
                    int Level = Menu.Level;
                    string MainName = Menu.RoleName;
                    string MainIcon = Menu.Icon;
                    string MainRoute = Menu.RouteName;
                    string MainAcion = Menu.ActionName;
                    string MainController = Menu.ControllerName;
                    string MainURL = "#";
                    if (MainAcion != string.Empty &&
                        MainAcion != "#")
                    {
                        MainURL = Url.Action(MainAcion, MainController);
                    }

                    var ListMenuSub1 = UserLog.ListRole.Where(p => p.Parent == Menu.RoleKey).OrderBy(p => p.RoleID);
                    if (ListMenuSub1.Count() > 0)
                    {
                        <li class="nav-parent">
                            <a href="@MainURL" class="nav-link">
                                <i class="@MainIcon"></i>
                                <span>@MainName</span>
                            </a>
                            <ul class="nav nav-children" style="">
                                @{
                                    foreach (User_Role MenuSub1 in ListMenuSub1)
                                    {
                                        if (MenuSub1.RoleRead)
                                        {
                                            int Level1 = MenuSub1.Level;
                                            string Sub1Name = MenuSub1.RoleName;
                                            string Sub1con = MenuSub1.Icon;
                                            string Sub1Route = MenuSub1.RouteName;
                                            string Sub1Acion = MenuSub1.ActionName;
                                            string Sub1Controller = MenuSub1.ControllerName;
                                            string Sub1URL = "#";
                                            if (Sub1Acion != string.Empty)
                                            {
                                                Sub1URL = Url.Action(Sub1Acion, Sub1Controller);
                                            }

                                            var ListMenuSub2 = UserLog.ListRole.Where(p => p.Parent == MenuSub1.RoleKey).OrderBy(p => p.RoleID);

                                            if (ListMenuSub2.Count() > 0)
                                            {
                                                <li class="nav-parent">
                                                    <a href="@Sub1URL" class="nav-link">
                                                        <i class="@Sub1con"></i>
                                                        @Sub1Name
                                                    </a>
                                                    <ul class="nav nav-children" style="">
                                                        @{
                                                            foreach (User_Role MenuSub2 in ListMenuSub2)
                                                            {
                                                                if (MenuSub2.RoleRead)
                                                                {
                                                                    int Level2 = MenuSub2.Level;
                                                                    string Sub2Name = MenuSub2.RoleName;
                                                                    string Sub2con = MenuSub2.Icon;
                                                                    string Sub2Route = MenuSub2.RouteName;
                                                                    string Sub2Acion = MenuSub2.ActionName;
                                                                    string Sub2Controller = MenuSub2.ControllerName;
                                                                    string Sub2URL = "#";
                                                                    if (Sub2Acion != string.Empty)
                                                                    {
                                                                        Sub2URL = Url.Action(Sub2Acion, Sub2Controller);
                                                                    }

                                                                    var ListMenuSub3 = UserLog.ListRole.Where(p => p.Parent == MenuSub2.RoleKey);
                                                                    if (ListMenuSub3.Count() > 0)
                                                                    {
                                                                        <li class="nav-parent">
                                                                            <a href="@Sub2URL" class="nav-link">
                                                                                <i class="@Sub2con"></i>
                                                                                @Sub2Name
                                                                            </a>
                                                                            <ul class="nav nav-children" style="">
                                                                                @{
                                                                                    foreach (User_Role MenuSub3 in ListMenuSub3)
                                                                                    {
                                                                                        if (MenuSub3.RoleRead)
                                                                                        {
                                                                                            int Level3 = MenuSub3.Level;
                                                                                            string Sub3Name = MenuSub3.RoleName;
                                                                                            string Sub3con = MenuSub3.Icon;
                                                                                            string Sub3Route = MenuSub3.RouteName;
                                                                                            string Sub3Acion = MenuSub3.ActionName;
                                                                                            string Sub3Controller = MenuSub3.ControllerName;
                                                                                            string Sub3URL = "#";
                                                                                            if (Sub3Acion != string.Empty)
                                                                                            {
                                                                                                Sub3URL = Url.Action(Sub3Acion, Sub3Controller);
                                                                                            }
                                                                                            <li>
                                                                                                <a href="@Sub3URL">
                                                                                                    <i class="@Sub3con"></i>@Sub3Name
                                                                                                </a>
                                                                                            </li>
                                                                                        }
                                                                                    }
                                                                                }
                                                                            </ul>
                                                                        </li>
                                                                    }
                                                                    else
                                                                    {
                                                                        <li>
                                                                            <a href="@Sub2URL">
                                                                                <i class="@Sub2con"></i>
                                                                                @Sub2Name
                                                                            </a>
                                                                        </li>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="@Sub1URL">
                                                        <i class="@Sub1con"></i><span>@Sub1Name</span>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    }
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@MainURL">
                                <i class="@MainIcon"></i>
                                <span>@MainName</span>
                            </a>
                        </li>
                    }
                }
            }
        }
    </ul>
}
else
{

}
