﻿@model Order_Model
@{
    Layout = null;
    double Money = Model.AmountOrder;

}
<div class="card border ">
    <div class="card-header">
        <h2 class="card-title">Thông tin thanh toán</h2>
    </div>
    <div class="card-body">
        <div class="form-label-group">
            <input type="text" class="form-control" placeholder="0.0" id="txt_Name" name="">
            <label for="txt_Name">Họ tên khách hàng</label>
        </div>
        <div class="form-label-group">
            <input type="text" class="form-control" placeholder="0.0" id="txt_Phone" name="">
            <label for="txt_Phone">Số điện thoại</label>
        </div>
        <div class="form-label-group">
            <input type="text" class="form-control" placeholder="0.0" id="txt_Address" name="">
            <label for="txt_Address">Địa chỉ</label>
        </div>
        <div class="form-group-sm">
            <div class="radio-custom radio-warning">
                <input type="radio" id="rdoPay" name="radioPayment" value="Pay" checked>
                <label for="rdoPay">Trả trước</label>
            </div>
            <div class="radio-custom radio-warning">
                <input type="radio" id="rdoLater" name="radioPayment" value="No">
                <label for="rdoLater">Trả sau</label>
            </div>
        </div>
        <div class="form-label-group">
            <input type="text" class="form-control number" placeholder="0.0" id="txt_AmountOrder" name="" disabled value="@Model.AmountOrder">
            <label for="txt_AmountOrder">Tiền đơn hàng</label>
        </div>
        <div class="row" name="Pay">
            <div class="col-6">
                <div class="form-label-group">
                    <input type="text" class="form-control number" placeholder="0.0" id="txt_PercentDiscount" name="" maxlength="3" min="0" max="100" onblur="CalOrder()" value="0">
                    <label for="txt_PercentDiscount">Giảm giá (%)</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-label-group">
                    <input type="text" class="form-control number" placeholder="0.0" id="txt_AmountDiscount" name="" maxlength="3" min="0" max="100" value="@Model.AmountDiscount" disabled>
                    <label for="txt_AmountDiscount">Số tiền</label>
                </div>
            </div>
        </div>
        <div class="form-label-group" name="Pay">
            <input type="text" class="form-control number" placeholder="0.0" id="txt_MustPay" name="" disabled value="@Model.AmountOrder">
            <label for="txt_MustPay">Số tiền cần thanh toán</label>
        </div>
        <div class="form-label-group" name="Pay">
            <input type="text" class="form-control number" placeholder="0.0" id="txt_BuyerPay" name="" onblur="CalPay()" value="@Model.AmountReceived">
            <label for="txt_BuyerPay">Số tiền khách gửi</label>
        </div>
        <div class="form-label-group" name="Pay">
            <input type="text" class="form-control number" placeholder="0.0" id="txt_Return" name="" disabled value="@Model.AmountReturned">
            <label for="txt_Return">Số tiền trả lại</label>
        </div>
    </div>
    <div class="card-footer text-center">
        <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
            <i class="far fa-times-circle"></i>
            Đóng
        </button>
        <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
            <i class="far fa-save"></i>
            Đặt hàng
        </button>
    </div>
</div>