﻿@model Input_Order_Model
@{
    Layout = null;
    double Money = Model.AmountOrder;

}
<div class="card border ">
    <div class="card-header">
        <h2 class="card-title">Thông tin hóa đơn thanh toán mua hàng</h2>
    </div>
    <div class="card-body">
        <div class="form-label-group">
            <input type="text" class="form-control" placeholder="0.0" id="txt_Name" name="" value="@Model.VendorName">
            <label for="txt_Name">Nhà cung cấp</label>
        </div>
        <div class="form-label-group">
            <input type="text" class="form-control" placeholder="0.0" id="txt_Phone" name="" value="@Model.VendorPhone">
            <label for="txt_Phone">Số điện thoại</label>
        </div>
        <div class="form-label-group">
            <input type="text" class="form-control" placeholder="0.0" id="txt_Address" name="" value="@Model.VendorAddress">
            <label for="txt_Address">Địa chỉ</label>
        </div>
        <div class="form-label-group">
            <input type="text" class="form-control" placeholder="0.0" id="txt_Document" name="" value="@Model.DocumentOrigin">
            <label for="txt_Document">Chứng từ nhập</label>
        </div>
        <div class="form-group-sm d-none">
            <div class="radio-custom radio-warning">
                <input type="radio" id="rdoPay" name="radioPayment" value="Pay" checked>
                <label for="rdoPay">Trả trước</label>
            </div>
            <div class="radio-custom radio-warning">
                <input type="radio" id="rdoLater" name="radioPayment" value="No">
                <label for="rdoLater">Trả sau</label>
            </div>
        </div>
        <div class="form-label-group">
            <input type="text" class="form-control number" placeholder="0.0" id="txt_AmountOrder" name="" readonly value="@Model.AmountOrder">
            <label for="txt_AmountOrder">Tiền đơn hàng</label>
        </div>
        <div class="row" name="Pay">
            <div class="col-6">
                <div class="form-label-group">
                    <input type="text" class="form-control number" placeholder="0.0" id="txt_PercentDiscount" name="" maxlength="3" min="0" max="100" onblur="CalOrder()" value="0">
                    <label for="txt_PercentDiscount">Giảm giá (%)</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-label-group">
                    <input type="text" class="form-control number" placeholder="0.0" id="txt_AmountDiscount" name="" value="@Model.AmountDiscount" readonly>
                    <label for="txt_AmountDiscount">Số tiền</label>
                </div>
            </div>
        </div>
        <div class="form-label-group" name="Pay">
            <input type="text" class="form-control number" placeholder="0.0" id="txt_MustPay" name="" value="@Model.AmountOrder">
            <label for="txt_MustPay">Số tiền cần thanh toán</label>
        </div>
    </div>
    <div class="card-footer text-right">
        <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss float-left">
            <i class="far fa-times-circle"></i>
            Đóng
        </button>
        <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="SaveTemp()">
            <i class="far fa-save"></i>
            Lưu tạm
        </button>
        <button id="btn_Save" type="button" class="btn btn-outline-warning" onclick="SavePayment()">
            <i class="far fa-save"></i>
            Thanh toán & nhập hàng
        </button>

    </div>
</div>