﻿@{
    Layout = null;
    string _DateView = ViewBag.DateView;
}

<form class="row" id="formSearchButton" action="">
    <div class="col-12">
        <table class="table table-sm mb-0 Custom">
            <tr>
                <td class="text-left" style="vertical-align:middle">
                    <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Prev">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                </td>
                <td class="text-center" style="vertical-align:middle" onclick="OpenDate();">
                    <h4 class="font-weight-semibold text-primary">
                        @_DateView
                    <i class="fas fa-chevron-down"></i>
                </h4>
            </td>
            <td class="text-right" style="vertical-align:middle">
                <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Next">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </td>
        </tr>
    </table>
</div>
<input id="txt_DateView" type="hidden" name="DateView" value="@_DateView" />
</form>
<div id="modalDate" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <form class="card border border-primary" id="formSearchDate" action="">
        <div class="card-header">
            <h2 class="card-title">Xem theo ngày</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="control-label">Từ ngày</label>
                    <div data-plugin-datepicker data-plugin-skin="dark" name="FromDate"></div>
                    <input id="txt_FromDate" type="hidden" name="FromDate" />
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Đến ngày</label>
                    <div data-plugin-datepicker data-plugin-skin="dark" name="ToDate"></div>
                    <input id="txt_ToDate" type="hidden" name="ToDate" />
                </div>
            </div>
            <div class="card-footer border-primary text-center">
                <button type="button" class="btn btn-outline-primary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button type="submit" class="btn btn-outline-primary modal-confirm">
                    <i class="fas fa-search"></i>
                    Tìm
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    function OpenDate() {
        Utils.OpenMagnific("#modalDate");
    }
</script>
