﻿@{
    ViewBag.Title = "InvoiceIn";
    Layout = "~/Views/Shared/_Layout_mInvoice.cshtml";    
    List<Invoice_Model> _ListInvoiceIN = new List<Invoice_Model>();
    if (ViewBag.ListInvoiceIN != null)
    {
        _ListInvoiceIN = ViewBag.ListInvoiceIN as List<Invoice_Model>;
    }
    string _DateView = ViewBag.DateView;
}
<div class="row">
    <div class="col-12">
        @Html.Partial("~/Views/Shared/_SearchDateButtonModal.cshtml")
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="toggle toggle-quaternary" data-plugin-toggle>
            <section class="toggle active" id="Summary">
                <label> TỔNG HỢP HÓA ĐƠN MUA VÀO</label>
                <div class="toggle-content">
                    <table class="table table-borderd bg-white Custom table-sm table-striped ">
                        @{
                            Invoice_Quarter_Model Model = new Invoice_Quarter_Model();
                            Model = ViewBag.Summary as Invoice_Quarter_Model;
                            <tr>
                                <td><i class="fas fa-circle-notch"></i></td>
                                <td class="font-weight-semibold text-dark">Thuế GTGT đầu vào Q(@_DateView.Split('/')[0])</td>
                                <td class="font-weight-semibold text-danger number">@Model.AmountVatInTotal</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-circle-notch"></i></td>
                                <td class="font-weight-semibold text-dark">     - Số V đầu vào trực tiếp</td>
                                <td class="font-weight-semibold text-danger number">@Model.AmountVatInDirect</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-circle-notch"></i></td>
                                <td class="font-weight-semibold text-dark">     - Số V đầu vào dùng chung</td>
                                <td class="font-weight-semibold text-danger number">@Model.AmountVatInShare</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-circle-notch"></i></td>
                                <td class="font-weight-semibold text-dark">Số V được trừ của hóa đơn dùng chung</td>
                                <td class="font-weight-semibold text-danger number"> @Model.AmountVatInShareToMinus</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-circle-notch"></i></td>
                                <td class="font-weight-semibold text-dark">Tổng số V được trừ trong quý</td>
                                <td class="font-weight-semibold text-danger number">@Model.AmountVatAllowMinus</td>
                            </tr>
                        }
                    </table>
                </div>
            </section>
            <section class="toggle">
                <label>
                    BẢNG KÊ
                </label>
                <div class="toggle-content">
                    <table class="table bg-white table-sm table-striped">
                        @{
                            if (_ListInvoiceIN.Count > 0)
                            {
                                for (int i = 0; i < _ListInvoiceIN.Count; i++)
                                {
                                    #region [Info]
                                    Invoice_Model zModel = _ListInvoiceIN[i];
                                    string Key = zModel.InvoiceKey;
                                    string No = (i + 1).ToString();
                                    string InvoiceID = zModel.InvoiceID;
                                    string InvoiceType = zModel.InvoiceType;
                                    int CategoryKey = zModel.CategoryKey;
                                    string CategoryName = zModel.CategoryName;
                                    string InvoiceDate = zModel.InvoiceDate.ToString("dd/MM/yyyy");
                                    string PartnerName = zModel.PartnerName;
                                    string FileAttach = zModel.FileAttach;
                                    double AmountNotV = zModel.AmountNotV;
                                    double AmountVat = zModel.AmountVat;
                                    double AmountTotal = zModel.AmountTotal;
                                    string Description = zModel.Description;
                                    #endregion

                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-6">
                                                    Ngày:
                                                    <span class="text-primary float-right font-weight-semibold">@InvoiceDate</span>
                                                </div>
                                                <div class="col-6">
                                                    Số HĐ:
                                                    <span class="text-primary float-right font-weight-semibold">@InvoiceID</span>
                                                </div>
                                            </div>
                                            <h5 class="font-weight-semibold text-muted">@PartnerName</h5>
                                            <div class="row mb-1">
                                                <div class="col-6 text-danger ">
                                                    <i class="fas fa-dollar-sign"></i>:
                                                    <span class="font-weight-semibold number">@AmountNotV</span>
                                                </div>
                                                <div class="col-6 text-danger ">
                                                    <i class="fas fa-dollar-sign"></i> V:
                                                    <span class="font-weight-semibold number">@AmountVat</span>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                @if (CategoryKey == 9)
                                                {
                                                    <span class="float-left font-weight-semibold text-danger">@Description</span>
                                                }
                                                @if (FileAttach.Length > 0)
                                                {
                                                    <a href="@FileAttach" download class="btn btn-outline-primary btn-sm modal-with-zoom-anim">
                                                        <i class="fas fa-download"></i>
                                                    </a>
                                                }
                                                <button type="button" class="btn btn-outline-primary btn-sm" onclick="Detail('@Key')">
                                                    <i class="far fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Key')">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary fixedBR" onclick="Detail('')">
    <i class="fas fa-plus"></i>
    Thêm mới
</button>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Thông tin hóa đơn</h2>
        </div>
        <div class="card-body ">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số hóa đơn</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_InvoiceID" value="" placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Ngày lập</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control datepicker" id="txt_InvoiceDate" value="" placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Khấu trừ</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Category" class="form-control select2" name="Branch">
                        <option value="0">Trực tiếp</option>
                        <option value="1" selected>Dùng chung</option>
                        <option value="2">Tồn kho</option>
                        <option value="9">Không đủ điều kiện</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">MST</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control " id="txt_PartnerTax" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Đơn vị bán</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control " id="txt_PartnerName" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số tiền chưa VAT</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control number" id="txt_AmountNotV" value="0" placeholder="" onblur="TotalAmout()">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số tiền VAT</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control number" id="txt_AmountVat" value="0" placeholder="" onblur="TotalAmout()">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Tổng tiền</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control number" id="txt_AmountTotal" value="0" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Tập tin</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="file" id="FileAttach" class="form-control" accept="image/*;capture=camera" />
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea id="txt_Description" rows="3" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row d-none">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">VAT đầu vào</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_ReferenceInvoice" class="form-control select2" name="Branch" multiple="multiple">
                        @{
                            foreach (Invoice_Model zItem in _ListInvoiceIN)
                            {
                                <option value="@zItem.InvoiceKey">@zItem.InvoiceID</option>
                            }
                        }
                    </select>
                </div>
            </div>

        </div>
        <div class="card-footer text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_InvoiceKey" type="hidden" name="FeaKey" value="" />
</div>
@section Scripts{
    <script>
        var URL_Detail = '@Url.Action("mDetailInvoice", "Mobile")';
        var URL_Delete = '@Url.Action("mDeleteInvoice", "Mobile")';
        var URL_Save = '@Url.Action("mSaveInvoice", "Mobile")';
        var URL_GetCustomerByTax =  '@Url.Action("GetCustomerByTax", "Mobile")';       
        var URL_SearchButton ='@Url.Action("SearchInvoiceIN_Button", "Mobile")';
        var URL_SearchDate = '@Url.Action("SearchInvoiceIN_Date", "Mobile")';
    </script>
    <script src="~/Assets/App_JS/MobileJS/In.js"></script>
    <script>
        $(document).ready(function () {
            $("#formSearchButton").attr("action", URL_SearchButton);
            $("#formSearchDate").attr("action", URL_SearchDate);
        });
    </script>
}

