﻿@model Invoice_Quarter_Model
@{
    ViewBag.Title = "Balance";
    Layout = "~/Views/Shared/_Layout_mInvoice.cshtml";

    List<Invoice_Model> _ListInvoiceIN = new List<Invoice_Model>();
    if (ViewBag.ListInvoiceIN != null)
    {
        _ListInvoiceIN = ViewBag.ListInvoiceIN as List<Invoice_Model>;
    }
    List<Invoice_Model> _ListInvoiceOUT = new List<Invoice_Model>();
    if (ViewBag.ListInvoiceOUT != null)
    {
        _ListInvoiceOUT = ViewBag.ListInvoiceOUT as List<Invoice_Model>;
    }
    string _DateView = ViewBag.DateView;
}
<form class="row" action="@Url.Action("InvoiceBalanceQuarter","Mobile")" id="QuarterForm">
    <div class="col-12">
        <table class="table mb-0">
            <tr>
                <td class="text-left">
                    <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Prev">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                </td>
                <td class="text-center" onclick="OpenDate()">
                    <h4 class="font-weight-semibold text-primary">
                        Quý @_DateView
                        <i class="fas fa-caret-down"></i>
                    </h4>
                </td>
                <td class="text-right">
                    <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Next">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <input type="hidden" name="DateView" value="@_DateView" />
</form>
<div class="toggle toggle-quaternary" data-plugin-toggle id="QuarterData">
    <section class="toggle active">
        <label>BẢNG TÍNH THUẾ GTGT QUÝ</label>
        <div class="toggle-content ">
            <table class="table table-borderd bg-white Custom table-sm table-striped">
                @{
                    if (ViewBag.Summary != null)
                    {
                        Invoice_Quarter_Model Model = ViewBag.Summary as Invoice_Quarter_Model;

                        <tr>
                            <td><i class="fas fa-circle-notch"></i></td>
                            <td class="font-weight-semibold text-dark">
                                Thuế GTGT được trừ chuyển qua
                            </td>
                            <td class="font-weight-semibold text-danger number">
                                @Model.AmountPrevious
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-circle-notch"></i></td>
                            <td class="font-weight-semibold text-dark">
                                Thuế GTGT đầu vào
                            </td>
                            <td class="font-weight-semibold text-danger number">
                                @Model.AmountVatInTotal
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-circle-notch"></i></td>
                            <td class="font-weight-semibold text-dark">
                                - Số V đầu vào trực tiếp
                            </td>
                            <td class="font-weight-semibold text-danger number">
                                @Model.AmountVatInDirect
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-circle-notch"></i></td>
                            <td class="font-weight-semibold text-dark">
                                - Số V đầu vào dùng chung
                            </td>
                            <td class="font-weight-semibold text-danger number">
                                @Model.AmountVatInShare
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-circle-notch"></i></td>
                            <td class="font-weight-semibold text-dark">
                                Số V được trừ của hóa đơn dùng chung
                            </td>
                            <td class="font-weight-semibold text-danger number">
                                @Model.AmountVatInShareToMinus
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-circle-notch"></i></td>
                            <td class="font-weight-semibold text-dark">
                                Tổng số V được trừ trong quý
                            </td>
                            <td class="font-weight-semibold text-danger number">
                                @Model.AmountVatAllowMinus
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-circle-notch"></i></td>
                            <td class="font-weight-semibold text-dark">
                                Doanh số bán ra chịu thuế
                            </td>
                            <td class="font-weight-semibold text-danger number">
                                @Model.IncomeWithV
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-circle-notch"></i></td>
                            <td class="font-weight-semibold text-dark">
                                Doanh số bán ra không chịu thuế
                            </td>
                            <td class="font-weight-semibold text-danger number">
                                @Model.IncomeNoV
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-circle-notch"></i></td>
                            <td class="font-weight-semibold text-dark">
                                Tổng doanh số bán ra
                            </td>
                            <td class="font-weight-semibold text-danger number">
                                @Model.InComeTotal
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-circle-notch"></i></td>
                            <td class="font-weight-semibold text-dark">
                                Thuế GTGT đầu ra Q@_DateView.Split('/')[0]
                            </td>
                            <td class="font-weight-semibold text-danger number">
                                @Model.AmountVatOutTotal
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-circle-notch"></i></td>
                            <td class="font-weight-semibold text-dark">Số tiền nộp thuế của quý hiện tại</td>
                            <td class="font-weight-semibold text-danger text-right">
                                @Model.AmountPayCurrent.FormatMoneyFromObject()
                            </td>
                        </tr>
                        <tr class="bg-warning">
                            <td><i class="fas fa-circle-notch"></i></td>
                            <td class="font-weight-semibold text-dark">Số tiền nộp thuế khi cộng quý trước</td>
                            <td class="font-weight-semibold text-danger text-right">
                                @Model.AmountPayInclude.FormatMoneyFromObject()
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-center">
                                <button id="btn_Save" type="button" class="btn btn-warning" onclick="SaveReportInvoice()">
                                    <i class="fas fa-angle-double-right"></i>
                                    Lưu chuyển
                                </button>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </section>
    <section class="toggle">
        <label>BẢNG KÊ ĐẦU VÀO</label>
        <div class="toggle-content">
            <table class="table bg-white table-sm table-striped">
                @{
                    if (_ListInvoiceIN.Count > 0)
                    {
                        for (int i = 0; i < _ListInvoiceIN.Count; i++)
                        {
                            #region [Info]
                            Invoice_Model zModel = _ListInvoiceIN[i];
                            string Key = zModel.InvoiceKey;
                            string No = (i + 1).ToString();
                            string InvoiceID = zModel.InvoiceID;
                            string InvoiceType = zModel.InvoiceType;
                            string CategoryName = zModel.CategoryName;
                            string InvoiceDate = zModel.InvoiceDate.ToString("dd/MM/yyyy");
                            string PartnerName = zModel.PartnerName;
                            string FileAttach = zModel.FileAttach;
                            double AmountNotV = zModel.AmountNotV;
                            double AmountVat = zModel.AmountVat;
                            double AmountTotal = zModel.AmountTotal;
                            #endregion

                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            Ngày:
                                            <span class="text-primary float-right font-weight-semibold">@InvoiceDate</span>
                                        </div>
                                        <div class="col-6">
                                            Số HĐ:
                                            <span class="text-primary float-right font-weight-semibold">@InvoiceID</span>
                                        </div>
                                    </div>
                                    <h5 class="font-weight-semibold text-muted">@PartnerName</h5>
                                    <div class="row mb-1">
                                        <div class="col-6 text-danger ">
                                            Số tiền chưa V:
                                            <span class="font-weight-semibold number float-right">@AmountNotV</span>
                                        </div>
                                        <div class="col-6 text-danger ">
                                            Số tiền V:
                                            <span class="font-weight-semibold number float-right">@AmountVat</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </section>
    <section class="toggle">
        <label>BẢNG KÊ BÁN RA</label>
        <div class="toggle-content">
            <table class="table bg-white table-sm table-striped">
                @{
                    if (_ListInvoiceOUT.Count > 0)
                    {
                        for (int i = 0; i < _ListInvoiceOUT.Count; i++)
                        {
                            #region [Info]
                            Invoice_Model zModel = _ListInvoiceOUT[i];
                            string Key = zModel.InvoiceKey;
                            string No = (i + 1).ToString();
                            string InvoiceID = zModel.InvoiceID;
                            string InvoiceType = zModel.InvoiceType;
                            string CategoryName = zModel.CategoryName;
                            string InvoiceDate = zModel.InvoiceDate.ToString("dd/MM/yyyy");
                            string FileAttach = zModel.FileAttach;
                            string PartnerName = zModel.PartnerName;
                            double AmountNotV = zModel.AmountNotV;
                            double AmountVat = zModel.AmountVat;
                            double AmountTotal = zModel.AmountTotal;
                            int IsReturn = zModel.ReturnStatus;
                            string Css = "";
                            if (IsReturn == 1)
                            {
                                Css = "style=\"text-decoration: line-through\"";
                            }
                            #endregion

                            <tr>
                                <td>
                                    @if (IsReturn == 1)
                                    {
                                        <div class="row">
                                            <div class="col-12">
                                                <a href="@zModel.ReplaceFile" download>
                                                    Biên bản thu hồi
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    <div class="row" @Html.Raw(Css)>
                                        <div class="col-4">
                                            Ngày:
                                            <span class="text-primary float-right" @Html.Raw(Css)>@InvoiceDate</span>
                                        </div>
                                        <div class="col-8">
                                            Số HĐ:
                                            <span class="text-primary float-right" @Html.Raw(Css)>
                                                @InvoiceID
                                            </span>
                                        </div>
                                    </div>
                                    <h4 class="font-weight-semibold text-muted" @Html.Raw(Css)>@PartnerName</h4>
                                    <div class="row mb-1" @Html.Raw(Css)>
                                        <div class="col-6 text-danger ">
                                            Số tiền chưa V:
                                            <span class="font-weight-semibold number float-right" @Html.Raw(Css)>@AmountNotV</span>
                                        </div>
                                        <div class="col-6 text-danger ">
                                            Số tiền V:
                                            <span class="font-weight-semibold number float-right" @Html.Raw(Css)>@AmountVat</span>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <div class="alert alert-primary">
                                    <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </section>
</div>
<div id="modalDate" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Tùy chọn thời gian</h2>
        </div>
        <div class="card-body ">
            <div class="form-group">
                <div class="radio-custom radio-warning">
                    <input type="radio" id="radioQuarter" name="radioView" value="Quarter" checked>
                    <label for="radioQuarter">Xem theo quý</label>
                </div>
                <div class="radio-custom radio-warning">
                    <input type="radio" id="radioYear" name="radioView" value="Year">
                    <label for="radioYear">Xem theo năm</label>
                </div>
            </div>
        </div>
        <div class="card-footer  text-center">
            <button type="button" class="btn btn-outline-primary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button type="button" class="btn btn-outline-primary modal-confirm" onclick="SetView()">
                <i class="fas fa-search"></i>
                OK
            </button>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var URL_SaveReportInvoice = '@Url.Action("SaveQuarterInvoice", "Mobile")';
        var URL_Quarter = '@Url.Action("InvoiceBalanceQuarter", "Mobile")';
        var URL_Year = '@Url.Action("InvoiceBalanceYear", "Mobile")';
    </script>
    <script>
        $(document).ready(function () {
            $("a[href='/m-can-doi-hoa-don']").addClass("active");
        });
        function OpenDate() {
            Utils.OpenMagnific("#modalDate");
        }
        function SetView() {
            var val = $("#modalDate input[type='radio']:checked").val();
            if (val == "Quarter") {
                window.location.href = URL_Quarter;
            }
            if (val == "Year") {
                window.location.href = URL_Year;
            }
        }
        function SaveReportInvoice() {
            var DateView = $("#txt_DateView").val();
            $.ajax({
                url: URL_SaveReportInvoice,
                type: 'POST',
                data: {
                    "DateView": DateView,
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.Success) {
                        Utils.OpenNotify('Đã lưu thành công !.', 'Thông báo', 'success');
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
    </script>
}
