﻿
@{
    ViewBag.Title = "ListTask";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
    List<Task_Model> _ListTask = new List<Task_Model>();
    if (ViewBag.ListTask != null)
    {
        _ListTask = ViewBag.ListTask as List<Task_Model>;
    }
    List<Customer_Model> _ListCustomer = new List<Customer_Model>();
    if (ViewBag.ListCustomer != null)
    {
        _ListCustomer = ViewBag.ListCustomer as List<Customer_Model>;
    }
    List<Employee_Model> _ListEmployee = new List<Employee_Model>();
    if (ViewBag.ListEmployee != null)
    {
        _ListEmployee = ViewBag.ListEmployee as List<Employee_Model>;
    }
    List<User_Model> _ListUser = new List<User_Model>();
    if (ViewBag.ListUser != null)
    {
        _ListUser = ViewBag.ListUser as List<User_Model>;
    }
   
}
<header class="page-header">
    <h2>Công việc</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header ">

            </div>
        </div>
        <div class="card-body ">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Ngày tạo</th>
                        <th>Công việc</th>
                        <th>Tình trạng</th>
                        <th>Ngày hoàn thành</th>
                        <th>Khác hàng</th>
                        <th>Nguời lập</th>
                        <th>Người thực hiện</th>
                        <th class="text-right">
                            <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Detail('')">
                                <i class="fa fa-plus"></i>
                                Thêm mới
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody id="tblBody">
                    @{
                        if (_ListTask.Count > 0)
                        {
                            for (int i = 0; i < _ListTask.Count; i++)
                            {
                                #region [Info]
                                Task_Model zModel = _ListTask[i];
                                string Key = zModel.TaskKey.ToString();
                                string No = (i + 1).ToString();
                                string zStartDate = "";
                                if (zModel.StartDate != DateTime.MinValue)
                                {
                                    zStartDate = zModel.StartDate.ToString("dd/MM/yyyy");
                                }
                                string Subject = zModel.Subject;
                                string Complete = "";
                                if (zModel.Complete == 0)
                                {
                                    Complete = "Hoàn thành";
                                }
                                else
                                {
                                    Complete = "Chưa hoàn thành";
                                }
                                string zCompleteDate = "";
                                if (zModel.CompleteDate != DateTime.MinValue)
                                {
                                    zCompleteDate = zModel.CompleteDate.ToString("dd/MM/yyyy");
                                }
                                string CustomerName = zModel.CustomerName;
                                string ApproveName = zModel.ApproveName;
                                string OwnerName = zModel.OwnerName;
                                #endregion
                                <tr>
                                    <th>@No</th>
                                    <td>@zStartDate</td>
                                    <td>@Subject</td>
                                    <td>@Complete</td>
                                    <td>@zCompleteDate</td>
                                    <td>@CustomerName</td>
                                    <td>@ApproveName</td>
                                    <td>@OwnerName</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Detail('@Key')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Key')">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8">
                                    <div class="alert alert-primary">
                                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer ">
        </div>
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Thông tin công việc</h2>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Công việc</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Subject" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Nội dung</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_TaskContent" value="" placeholder="" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Tập tin</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="file" id="txt_TaskFile" class="form-control" accept="image/*;capture=camera" />
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Ngày tạo</label>
                <div class="col-lg-7 col-xl-9">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="dte_StartDate" required="" name="Birthday"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-right">Ưu tiên</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_Priority" class="form-control select2" name="Position">
                        <option value="0">--Chọn--</option>
                        <option value="1">Ưu tiên</option>
                        <option value="2">Bình thường</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-right">Tình trạng</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_Complete" class="form-control select2" name="Position">
                        <option value="0" selected="">Hoàn thành</option>
                        <option value="1">Chưa hoàn thành</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Ngày Hoàn thành</label>
                <div class="col-lg-7 col-xl-9">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="dte_CompleteDate" required="" name="Birthday"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-right">Khách hàng</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_Customer" class="form-control select2" name="Customer">
                        <option value="0">--Chọn--</option>
                        @foreach (Customer_Model zItem in _ListCustomer)
                        {
                            <option value="@zItem.CustomerKey">@zItem.FullName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-right">Người lập</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_Approve" class="form-control select2" name="Approve">
                        @foreach (User_Model zItem1 in _ListUser)
                        {
                            if (ViewBag.UserKey == zItem1.UserKey)
                            {
                                <option selected value="@zItem1.UserKey">@zItem1.EmployeeName</option>
                            }
                            else
                            {
                                <option value="@zItem1.UserKey">@zItem1.EmployeeName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-right">Người thực hiện</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_Owner" class="form-control select2" name="Owner">
                        <option value="0">--Chọn--</option>
                        @foreach (Employee_Model zItem in _ListEmployee)
                        {
                            <option value="@zItem.EmployeeKey">@(zItem.LastName + ' ' + zItem.FirstName)</option>
                        }
                    </select>
                </div>
            </div>


        </div>
        <div class="card-footer  text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_TaskKey" type="hidden" name="FeaKey" value="" />
</div>

<script>
        var URL_Detail = "@Url.Action("DetailTask", "Desktop")";
        var URL_Delete = "@Url.Action("DeleteTask", "Desktop")";
        var URL_Save = "@Url.Action("SaveTask", "Desktop")";
</script>
<script>
    $(document).ready(function () {

    });

    function Save() {
        var obj = {
            TaskKey : $("#txt_TaskKey").val(),
            Subject :$("#txt_Subject").val(),
            TaskContent : $("#txt_TaskContent").val(),           
            StartDate: Utils.ConvertToYYYYMMDD($("#dte_StartDate").val()),
            PriorityKey : $("#cbo_Priority").val(),
            PriorityName : $("#cbo_Priority option:selected").text(),
            Complete : $('#cbo_Complete').val(),
            CompleteDate: Utils.ConvertToYYYYMMDD($("#dte_CompleteDate").val()),
            CustomerKey : $("#cbo_Customer").val(),
            CustomerName : $("#cbo_Customer option:selected").text(),
            ApproveBy : $("#cbo_Approve").val(),
            ApproveName : $("#cbo_Approve option:selected").text(),
            OwnerBy : $("#cbo_Owner").val(),
            OwnerName : $("#cbo_Owner option:selected").text(),
        }
        var TaskFile = $("#txt_TaskFile").get(0);
        var files = TaskFile.files;
        var fileData = new FormData();
        for (var i = 0; i < files.length; i++)
        {
            fileData.append(files[i].name, files[i]);
        }
        fileData.append("TaskObj", JSON.stringify(obj));
        fileData.append("TaskKey", $("#txt_TaskKey").val());               
        $.ajax({
            url: URL_Save,
            processData: false,
            contentType: false,
            type: "POST",
            data: fileData,
            beforeSend: function () {
                Utils.LoadIn();
            },
            success: function (r) {
                if (r.Success) {
                    location.reload();
                }
                else {
                    Utils.OpenNotify(r.Message, "Thông báo", "error");
                }
            },
            error: function (err) {
                Utils.OpenNotify(err.responseText, "Thông báo", "error");
            },
            complete: function () {
                Utils.LoadOut();
            }
        });
    }
    function Detail(TaskKey) {
        Utils.OpenMagnific("#modalEdit");       
        if (TaskKey.length >= 36) {          
            $.ajax({               
                url: URL_Detail,
                type: "GET",
                data: {
                    "TaskKey": TaskKey
                },
                beforeSend: function () {
                    Utils.LoadIn();                   
                },
                success: function (r) {
                    if (r.Success) {
                        var obj = JSON.parse(r.Data);
                        var zStartDate = Utils.ConvertToDDMMYYYY(obj.StartDate);
                        var zCompleteDate = Utils.ConvertToDDMMYYYY(obj.CompleteDate);
                        $("#txt_TaskKey").val(obj.TaskKey);
                        $("#txt_Subject").val(obj.Subject);
                        $("#txt_TaskContent").val(obj.TaskContent);
                        //$("#txt_TaskFile").val(obj.TaskFile);
                        $("#dte_StartDate").val(zStartDate);
                        $('#cbo_Priority').val(obj.PriorityKey).trigger('change');
                        $('#cbo_Complete').val(obj.Complete).trigger('change');
                        $("#dte_CompleteDate").val(zCompleteDate);
                        $('#cbo_Customer').val(obj.CustomerKey).trigger('change');
                        $('#cbo_Approve').val(obj.ApproveBy).trigger('change');
                        $('#cbo_Owner').val(obj.OwnerBy).trigger('change');                        
                    }
                    else {
                        Utils.OpenNotify(r.Message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        else {
            Utils.ClearUI("#modalEdit");
            var zdate = Utils.ConvertToDDMMYYYY(new Date());         
            $("#dte_StartDate").val(zdate);                  
        }
    }
    function Delete(TaskKey) {
        $.confirm({
            type: "red",
            typeAnimated: true,
            title: "Cảnh báo !.",
            content: "Bạn có chắc xóa thông tin này ?.",
            buttons: {
                confirm: {
                    text: "Đồng ý",
                    btnClass: "btn-red",
                    action: function () {
                        $.ajax({
                            url: URL_Delete,
                            type: "POST",
                            data: {
                                "TaskKey": TaskKey
                            },
                            beforeSend: function () {

                            },
                            success: function (r) {
                                if (r.Success) {
                                    location.reload();
                                }
                                else {
                                    Utils.OpenNotify(r.Message, "Thông báo", "error");
                                }
                            },
                            error: function (err) {
                                Utils.OpenNotify(err.responseText, "Thông báo", "error");
                            },
                            complete: function () {

                            }
                        });
                    }
                },
                cancel: {
                    text: "Hủy",
                }
            }
        });
    }
</script>
