﻿@model Order_Model
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout_mSale.cshtml";
}
@section style{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .ui-menu {
            z-index: 10001;
        }

        .bg-orange {
            background-color: orange;
        }

        :root {
            --input-padding-x: .75rem;
            --input-padding-y: .75rem
        }

        .form-control {
            min-height: 2.7rem !important;
        }

        .form-label-group {
            position: relative;
            margin-bottom: 0.3rem
        }

            .form-label-group > input, .form-label-group > label {
                padding: var(--input-padding-y) var(--input-padding-x)
            }

            .form-label-group > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0;
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out
            }

            .form-label-group input::-webkit-input-placeholder {
                color: transparent
            }

            .form-label-group input:-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-moz-placeholder {
                color: transparent
            }

            .form-label-group input::placeholder {
                color: transparent
            }

            .form-label-group input:not(:placeholder-shown) {
                padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2/3));
                padding-bottom: calc(var(--input-padding-y)/3)
            }

                .form-label-group input:not(:placeholder-shown) ~ label {
                    padding-top: calc(var(--input-padding-y)/3);
                    padding-bottom: calc(var(--input-padding-y)/3);
                    font-size: 14px;
                    color: #777
                }
    </style>
}

<div class="row m-0">
    <div class="col-md-12 p-0" style="height: 70vh;overflow: scroll;">
        @{
            if (Model.ListItem.Count > 0)
            {
                <table class="table table-sm bg-white Custom">
                    @foreach (Order_Item_Model Item in Model.ListItem)
                    {
                        <tr>
                            <td class="text-center font-weight-bolder">
                                <h1 class="m-0">@Item.Quantity</h1>
                            </td>
                            <td>
                                <h5 class="font-weight-bolder m-0">@Item.ObjectName</h5>
                                X <span class="font-weight-bolder m-0 text-success number">@Item.ObjectPrice</span>
                                @if (Item.Description.Length > 0)
                                {
                                    <br /><span style="font-style:italic; font-weight:bolder" class="text-muted">@Item.Description</span>
                                }
                            </td>
                            <td class=" text-muted" style="vertical-align: bottom; font-weight:700; font-size:0.85rem">
                                <span class="number float-right text-danger">@Item.Amount</span>
                            </td>
                        </tr>
                        <tr style="display:none; background-color:lemonchiffon" name="edit" for="@Item.ObjectKey">
                            <td class="p-0" colspan="3">
                                <h5 class="text-center font-weight-bolder">Điều chỉnh</h5>
                                <ul style="display:flex; margin:0px; padding:0px; width:100%; list-style:none;">
                                    <li style="width:100%; margin: 3px;">
                                        <div class="input-group input-group-sm ">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text font-weight-bolder">ĐG</span>
                                            </span>
                                            <input type="text" class="form-control number" name="txt_SalePrice" value="@Item.ObjectPrice" key="@Item.ObjectKey" />
                                        </div>
                                    </li>
                                    <li style="width:100%; margin: 3px;">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text font-weight-bolder">SL</span>
                                                <button role="button" class="btn btn-default btn-sm" name="btn_Minus" key="@Item.ObjectKey">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <input type="number" class="form-control font-weight-bolder text-center" key="@Item.ObjectKey" name="txt_Quantity" value="@Item.Quantity" />
                                            <div class="input-group-append">
                                                <button role="button" class="btn btn-default btn-sm" name="btn_Plus" key="@Item.ObjectKey">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li style="width:100%; margin: 3px;">
                                        <div class="input-group input-group-sm ">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text font-weight-bolder">=</span>
                                            </span>
                                            <input type="text" class="form-control number" name="txt_AmountPrice" value="@Item.Amount" key="@Item.ObjectKey" />
                                        </div>
                                    </li>

                                </ul>
                                <ul style="display:flex; margin:0px; padding:0px; width:100%; list-style:none;">
                                    <li style="width:100%; margin: 3px;">
                                        <textarea class="form-control" placeholder="Ghi chú" name="txt_Description">@Item.Description</textarea>
                                    </li>
                                </ul>
                                <ul style="display:flex; margin:0px; padding:0px; width:100%; list-style:none; text-align:center;">
                                    <li style="width:100%; margin: 3px;">
                                        <button role="button" class="btn btn-outline btn-outline-purple " onclick="Close('@Item.ObjectKey')">
                                            Đóng
                                        </button>
                                        <button role="button" class="btn btn-outline btn-outline-purple " onclick="Remove('@Item.ObjectKey')">
                                            Xóa
                                        </button>
                                        <button role="button" class="btn btn-outline btn-outline-purple " onclick="Apply('@Item.ObjectKey')">
                                            Áp dụng
                                        </button>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Bạn chưa có sản phẩm nào trong giỏ hàng !</strong>.
                </div>
            }
        }
    </div>
</div>
<div class="row m-0 border border-top" style="position: fixed; bottom:72px; width:100%; z-index:1000">
    <div class="col-md-12 p-0 bg-white">
        <table class="table mb-0 text-muted table-sm">
            <tr>
                <td style="vertical-align:middle">
                    <div class="form-label-group mb-0">
                        <input type="text" class="form-control" placeholder="." id="txt_BuyerPhone">
                        <label for="txt_BuyerPhone">Số điện thoại</label>
                    </div>
                    <div class="form-label-group mb-0">
                        <input type="text" class="form-control" placeholder="." id="txt_BuyerName">
                        <label for="txt_BuyerName">Tên khách hàng</label>
                    </div>
                    <input type="hidden" id="txt_BuyerKey" name="Role" value="" />
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row m-0 border border-top" style="position: fixed; bottom:0px; width:100%; height:72px; z-index:1000">
    <div class="col-md-12 p-0">
        <table class="table table-sm mb-0">
            <tr class="bg-primary text-white">
                <td style="vertical-align:middle;">
                    <h2 class="" style="margin-top:10px; margin-bottom:10px;">Thanh toán</h2>
                </td>
                <td style="vertical-align:middle">
                    <h3 class="font-weight-bolder text-right">
                        <span class="number">
                            @Model.AmountOrder
                        </span>
                    </h3>
                </td>
                <td style="text-align:center; vertical-align:middle; width:20%" class="bg-orange">
                    <a href="#" onclick="Preview()" class="text-white ">
                        <i class="fas fa-chevron-right fa-2x"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="modalPayment" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

</div>
<div id="modalPrint" class="zoom-anim-dialog modal-block modal-block-sm modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Bản in mẫu</h2>
        </div>
        <div class="card-body" id="printdata">
        </div>
        <div class="card-footer">
            <form action="@Url.Action("CancelOrder", "Mobile")" onsubmit="return confirm('Bạn có chắc hủy đơn này ?');">
                <input id="txt_OrderKey" type="hidden" value="" name="OrderKey" />
                <button type="submit" class="btn btn-purple">
                    <i class="fas fa-trash fa-2x"></i>
                    Hủy đơn
                </button>
                <button type="button" class="btn btn-purple float-right" onclick="printDiv();">
                    <i class="fa fa-print fa-2x"></i>
                    In
                </button>
                <a class="btn btn-purple float-right" href="@Url.Action("Product","Mobile")">
                    <i class="far fa-times-circle fa-2x"></i>
                    Đóng
                </a>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        var URL_Remove = "@Url.Action("RemoveCart","Mobile")";
        var URL_CheckCart = "@Url.Action("CheckCart", "Mobile")";
        var URL_Edit = "@Url.Action("EditCart", "Mobile")";
        var URL_Save = "@Url.Action("SaveCart", "Mobile")";
        var URL_Print = "@Url.Action("Print", "Mobile", new { OrderKey = "_id_" })";
        var URL_GetCustomerByPhone = "@Url.Action("GetCustomerByPhone", "Mobile")";
        var URL_AutoComplete = "@Url.Action("AutoNumber","Mobile")";
    </script>
    <script src="~/Assets/App_JS/MobileJS/Cart.js"></script>
}
