﻿
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout_mSale.cshtml";
}
<style>
    .bg-orange {
        background-color: orange;
    }
</style>
<form class="row" action="#" id="SubmitForm">
    <div class="col-12">
        <table class="table mb-0">
            <tr>
                <td class="text-left">
                    <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Prev">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                </td>
                <td class="text-center" onclick="OpenDate()">
                    <h4 class="font-weight-semibold text-primary">
                        #
                        <i class="fas fa-caret-down"></i>
                    </h4>
                </td>
                <td class="text-right">
                    <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Next">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <input type="hidden" name="DateView" value="#" />
</form>
<div class="row border-bottom border-primary">
    <div class="col-sm-12" style="background-color:white">
        <canvas id="canvas"></canvas>
    </div>
</div>
<section class="card mb-1 mt-0">
    <div class="card-body">
        <div class="widget-summary">
            <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon bg-primary">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
            <div class="widget-summary-col">
                <div class="summary">
                    <h4 class="title">Tiền bán hàng</h4>
                    <div class="info">
                        <strong class="amount">15,281,000,000</strong>
                    </div>
                </div>
                <div class="summary-footer">
                    <a class="text-muted text-uppercase" href="#" onclick="toggle_visibility('d1');">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body" id="d1" style="display:none">
        <table class="table table-responsive-lg table-bordered table-striped table-sm mb-0">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Company</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Change</th>
                    <th class="text-right">Change %</th>
                    <th class="text-right">Open</th>
                    <th class="text-right">High</th>
                    <th class="text-right">Low</th>
                    <th class="text-right">Volume</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>AAC</td>
                    <td>AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                    <td class="text-right">$1.38</td>
                    <td class="text-right">-0.01</td>
                    <td class="text-right">-0.36%</td>
                    <td class="text-right">$1.39</td>
                    <td class="text-right">$1.39</td>
                    <td class="text-right">$1.38</td>
                    <td class="text-right">9,395</td>
                </tr>
                <tr>
                    <td>AAD</td>
                    <td>ARDENT LEISURE GROUP</td>
                    <td class="text-right">$1.15</td>
                    <td class="text-right"> +0.02</td>
                    <td class="text-right">1.32%</td>
                    <td class="text-right">$1.14</td>
                    <td class="text-right">$1.15</td>
                    <td class="text-right">$1.13</td>
                    <td class="text-right">56,431</td>
                </tr>
                <tr>
                    <td>AAX</td>
                    <td>AUSENCO LIMITED</td>
                    <td class="text-right">$4.00</td>
                    <td class="text-right">-0.04</td>
                    <td class="text-right">-0.99%</td>
                    <td class="text-right">$4.01</td>
                    <td class="text-right">$4.05</td>
                    <td class="text-right">$4.00</td>
                    <td class="text-right">90,641</td>
                </tr>
                <tr>
                    <td>ABC</td>
                    <td>ADELAIDE BRIGHTON LIMITED</td>
                    <td class="text-right">$3.00</td>
                    <td class="text-right"> +0.06</td>
                    <td class="text-right">2.04%</td>
                    <td class="text-right">$2.98</td>
                    <td class="text-right">$3.00</td>
                    <td class="text-right">$2.96</td>
                    <td class="text-right">862,518</td>
                </tr>
                <tr>
                    <td>ABP</td>
                    <td>ABACUS PROPERTY GROUP</td>
                    <td class="text-right">$1.91</td>
                    <td class="text-right">0.00</td>
                    <td class="text-right">0.00%</td>
                    <td class="text-right">$1.92</td>
                    <td class="text-right">$1.93</td>
                    <td class="text-right">$1.90</td>
                    <td class="text-right">595,701</td>
                </tr>
                <tr>
                    <td>ABY</td>
                    <td>ADITYA BIRLA MINERALS LIMITED</td>
                    <td class="text-right">$0.77</td>
                    <td class="text-right"> +0.02</td>
                    <td class="text-right">2.00%</td>
                    <td class="text-right">$0.76</td>
                    <td class="text-right">$0.77</td>
                    <td class="text-right">$0.76</td>
                    <td class="text-right">54,567</td>
                </tr>
                <tr>
                    <td>ACR</td>
                    <td>ACRUX LIMITED</td>
                    <td class="text-right">$3.71</td>
                    <td class="text-right"> +0.01</td>
                    <td class="text-right">0.14%</td>
                    <td class="text-right">$3.70</td>
                    <td class="text-right">$3.72</td>
                    <td class="text-right">$3.68</td>
                    <td class="text-right">191,373</td>
                </tr>
                <tr>
                    <td>ADU</td>
                    <td>ADAMUS RESOURCES LIMITED</td>
                    <td class="text-right">$0.72</td>
                    <td class="text-right">0.00</td>
                    <td class="text-right">0.00%</td>
                    <td class="text-right">$0.73</td>
                    <td class="text-right">$0.74</td>
                    <td class="text-right">$0.72</td>
                    <td class="text-right">8,602,291</td>
                </tr>
                <tr>
                    <td>AGG</td>
                    <td>ANGLOGOLD ASHANTI LIMITED</td>
                    <td class="text-right">$7.81</td>
                    <td class="text-right">-0.22</td>
                    <td class="text-right">-2.74%</td>
                    <td class="text-right">$7.82</td>
                    <td class="text-right">$7.82</td>
                    <td class="text-right">$7.81</td>
                    <td class="text-right">148</td>
                </tr>
                <tr>
                    <td>AGK</td>
                    <td>AGL ENERGY LIMITED</td>
                    <td class="text-right">$13.82</td>
                    <td class="text-right"> +0.02</td>
                    <td class="text-right">0.14%</td>
                    <td class="text-right">$13.83</td>
                    <td class="text-right">$13.83</td>
                    <td class="text-right">$13.67</td>
                    <td class="text-right">846,403</td>
                </tr>
                <tr>
                    <td>AGO</td>
                    <td>ATLAS IRON LIMITED</td>
                    <td class="text-right">$3.17</td>
                    <td class="text-right">-0.02</td>
                    <td class="text-right">-0.47%</td>
                    <td class="text-right">$3.11</td>
                    <td class="text-right">$3.22</td>
                    <td class="text-right">$3.10</td>
                    <td class="text-right">5,416,303</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="card mb-1 mt-0">
    <div class="card-body">
        <div class="widget-summary">
            <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon bg-tertiary">
                    <i class="fas fa-dollar-sign"></i>
                </div>
            </div>
            <div class="widget-summary-col">
                <div class="summary">
                    <h4 class="title">Thu bán hàng</h4>
                    <div class="info">
                        <strong class="amount">14,890,300,000</strong>
                    </div>
                </div>
                <div class="summary-footer">
                    <a class="text-muted text-uppercase" href="#">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="card mb-1 mt-0">
    <div class="card-body">
        <div class="widget-summary">
            <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon bg-secondary">
                    <i class="fas fa-dollar-sign"></i>
                </div>
            </div>
            <div class="widget-summary-col">
                <div class="summary">
                    <h4 class="title">Nợ phải thu</h4>
                    <div class="info">
                        <strong class="amount">1,890,300,000</strong>
                    </div>
                </div>
                <div class="summary-footer">
                    <a class="text-muted text-uppercase" href="#">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="card mb-1 mt-0">
    <div class="card-body">
        <div class="widget-summary">
            <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon bg-quaternary">
                    <i class="fas fa-life-ring"></i>
                </div>
            </div>
            <div class="widget-summary-col">
                <div class="summary">
                    <h4 class="title">Hàng hóa</h4>
                    <div class="info">
                        <strong class="amount">10,000,000</strong>
                    </div>
                </div>
                <div class="summary-footer">
                    <a class="text-uppercase">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="modalDate" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Tùy chọn thời gian</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group">
                <div class="radio-custom radio-warning">
                    <input type="radio" id="radioWeek" name="radioView" value="Week" checked>
                    <label for="radioWeek">Tuần</label>
                </div>
                <div class="radio-custom radio-warning">
                    <input type="radio" id="radioMonth" name="radioView" value="Month">
                    <label for="radioMonth">Tháng</label>
                </div>
                <div class="radio-custom radio-warning">
                    <input type="radio" id="radioYear" name="radioView" value="Year">
                    <label for="radioYear">Năm</label>
                </div>
            </div>
            <div class="card-footer border-primary text-center">
                <button type="button" class="btn btn-outline-primary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button type="button" class="btn btn-outline-primary modal-confirm" onclick="SetView()">
                    <i class="fas fa-search"></i>
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/assets/themes/js/Chart.js"></script>
    <script src="~/assets/themes/js/ChartUtils.js"></script>
    <script>
        function OpenDate() {
            Utils.OpenMagnific("#modalDate");
        }

        function toggle_visibility(id) {
            var e = document.getElementById(id);
            if (e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
        }

        var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        var color = Chart.helpers.color;
        var barChartData = {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'Dataset 1',
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                borderWidth: 1,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            }]
        };

        window.onload = function () {
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Bar Chart'
                    }
                }
            });
        };
    </script>
}