﻿
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout_mSale.cshtml";

    List<Order_Model> _ListOrder = new List<Order_Model>();
    if (ViewBag.ListOrder != null)
    {
        _ListOrder = ViewBag.ListOrder as List<Order_Model>;
    }
}
<style>
    .bg-orange {
        background-color: orange;
    }
</style>
<form class="row" action="#" id="SubmitForm">
    <div class="col-12">
        <table class="table mb-0">
            <tr>
                <td class="text-left">
                    <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Prev">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                </td>
                <td class="text-center" onclick="OpenDate()">
                    <h4 class="font-weight-semibold text-primary">
                        #
                        <i class="fas fa-caret-down"></i>
                    </h4>
                </td>
                <td class="text-right">
                    <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Next">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <input type="hidden" name="DateView" value="#" />
</form>
<div class="row border-bottom border-primary">
    <div class="col-sm-12" style="background-color:white">
        <canvas id="canvas"></canvas>
    </div>
</div>
<section class="card mb-1 mt-0">
    <div class="card-body">
        <div class="widget-summary">
            <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon bg-primary">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
            <div class="widget-summary-col">
                <div class="summary">
                    <h4 class="title">Số đơn hàng</h4>
                    <div class="info">
                        <strong class="amount">@_ListOrder.Count</strong>
                    </div>
                </div>
                <div class="summary-footer">
                    <a class="text-muted text-uppercase" href="#" onclick="toggle_visibility('d1');">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body" id="d1" style="display:none">
        <table class="table bg-white table-sm table-striped">
            @{
                if (_ListOrder.Count > 0)
                {
                    for (int i = 0; i < _ListOrder.Count; i++)
                    {
                        #region Info
                        Order_Model zModel = _ListOrder[i];
                        string OrderDate = zModel.OrderDate.ToString("dd/MM/yyyy");
                        string OrderID = zModel.OrderID;
                        string ObjectName = zModel.ObjectName;
                        string CustomerKey = zModel.BuyerKey;
                        string CustomerName = zModel.BuyerName;
                        string CustomerPhone = zModel.BuyerPhone;
                        double AmountCurrencyMain = zModel.AmountCurrencyMain;
                        #endregion

                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-6">
                                        Ngày:
                                        <span class="text-primary float-right">@OrderDate</span>
                                    </div>
                                    <div class="col-6">
                                        Số #:
                                        <span class="text-primary float-right">@OrderID</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        Họ tên
                                        <span class="text-primary float-right">@CustomerName</span>
                                    </div>
                                    <div class="col-6">
                                        <i class="fas fa-mobile"></i>
                                        <a href="tel:@CustomerPhone" class="text-primary float-right">@CustomerPhone</a>
                                    </div>
                                </div>
                                <h4 class="font-weight-semibold text-muted">@ObjectName</h4>
                                <div class="row mb-1">
                                    <div class="col-6 text-danger ">
                                        Số tiền:
                                        <span class="font-weight-semibold number float-right">@AmountCurrencyMain</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
</section>
<section class="card mb-1 mt-0">
    <div class="card-body">
        <div class="widget-summary">
            <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon bg-tertiary">
                    <i class="fas fa-dollar-sign"></i>
                </div>
            </div>
            <div class="widget-summary-col">
                <div class="summary">
                    <h4 class="title">Tiền bán hàng</h4>
                    <div class="info">
                        <strong class="amount">@(_ListOrder.Sum(s => s.AmountCurrencyMain).FormatMoneyFromObject())</strong>
                    </div>
                </div>
                <div class="summary-footer">
                    <a class="text-muted text-uppercase" href="#">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="modalDate" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Tùy chọn thời gian</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group">
                <div class="radio-custom radio-warning">
                    <input type="radio" id="radioMonth" name="radioView" value="Month">
                    <label for="radioMonth">Tháng</label>
                </div>
                <div class="radio-custom radio-warning">
                    <input type="radio" id="radioYear" name="radioView" value="Year">
                    <label for="radioYear">Năm</label>
                </div>
            </div>
            <div class="card-footer border-primary text-center">
                <button type="button" class="btn btn-outline-primary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button type="button" class="btn btn-outline-primary modal-confirm" onclick="SetView()">
                    <i class="fas fa-search"></i>
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/assets/themes/js/Chart.js"></script>
    <script src="~/assets/themes/js/ChartUtils.js"></script>
    @Html.Raw(ViewBag.ScriptChart)
    <script>
        function addCommas(nStr) {
            nStr += '';
            var x = nStr.split('.');
            var x1 = x[0];
            var x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            };
            return x1 + x2;
        };
        function kFormatter(num) {
            if (num > 999999) {
                return Math.abs(num) > 999999 ? Math.sign(num) * ((Math.abs(num) / 1000000).toFixed(1)) + 'tr' : Math.sign(num) * Math.abs(num)
            }
            if (num > 999) {
                return Math.abs(num) > 999 ? Math.sign(num) * ((Math.abs(num) / 1000).toFixed(1)) + 'ng' : Math.sign(num) * Math.abs(num)
            }

            return num;
        }
        function OpenDate() {
            Utils.OpenMagnific("#modalDate");
        }
        function SetView() {
            //var val = $("#modalDate input[type='radio']:checked").val();
            //if (val == "Quarter") {
            //    window.location.href = URL_Quarter;
            //}
            //if (val == "Year") {
            //    window.location.href = URL_Year;
            //}
        }
        $(document).ready(function () {
            renderChart();
        });

        function renderChart() {
            var ctx = document.getElementById('canvas');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [@Html.Raw(ViewBag.Label)],
                    datasets: [@Html.Raw(ViewBag.Dataset)]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
    </script>
}