﻿
@{
    ViewBag.Title = "_Product_mList";
    Layout = "~/Views/Shared/_Layout_mSale.cshtml";
    List<Product_Model> _ListProductSearch = new List<Product_Model>();
    if (ViewBag.ListProductSearch != null)
    {
        _ListProductSearch = ViewBag.ListProductSearch as List<Product_Model>;
    }
    List<Product_Category_Model> _ListProductCategory = new List<Product_Category_Model>();
    if (ViewBag.ListProductCategory != null)
    {
        _ListProductCategory = ViewBag.ListProductCategory as List<Product_Category_Model>;
    }
    List<Product_Unit_Model> _ListProductUnit = new List<Product_Unit_Model>();
    if (ViewBag.ListProductUnit != null)
    {
        _ListProductUnit = ViewBag.ListProductUnit as List<Product_Unit_Model>;
    }
    int zKey = ViewBag.CategoryKey;
}
<style>
    #cart.shake {
        animation: shakeCart 0.4s ease-in-out forwards;
    }

    @@keyframes xAxis {
        100% {
            transform: translateX(calc(50vw - 105px));
        }
    }

    @@keyframes yAxis {
        100% {
            transform: translateY(calc(-50vh + 75px));
        }
    }

    @@keyframes shakeCart {
        25% {
            transform: translateX(6px);
        }

        50% {
            transform: translateX(-4px);
        }

        75% {
            transform: translateX(2px);
        }

        100% {
            transform: translateX(0);
        }
    }
</style>
<form class="row" action="@Url.Action("Product", "Mobile")" method="get" id="form_Search">
    <div class="col-12">
        <select class="form-control select2 " id="cbo_CategoryKey" placeholder="" name="CategoryKey">
            <option value="0" selected="">--Tất cả--</option>
            @{
                foreach (Product_Category_Model zItem in _ListProductCategory)
                {
                    if (zKey == @zItem.CategoryKey)
                    {
                        <option selected="" value="@zItem.CategoryKey">@zItem.CategoryNameVN</option>
                    }
                    else
                    {
                        <option value="@zItem.CategoryKey">@zItem.CategoryNameVN</option>
                    }
                }
            }
        </select>
    </div>
</form>
<div class="row m-0">
    <div class="col-md-12 p-0">
        <table class="table table-sm bg-white" id="tblProduct">
            @{
                if (_ListProductSearch.Count > 0)
                {
                    for (int i = 0; i < _ListProductSearch.Count; i++)
                    {
                        #region [Info]
                        Product_Model zModel = _ListProductSearch[i];
                        string Key = zModel.ProductKey;
                        string No = (i + 1).ToString();
                        string ProductID = zModel.ProductID;
                        string ProductName = zModel.ProductName;
                        double StandardCost = zModel.StandardCost;
                        double SalePrice = zModel.SalePrice;
                        float SafetyInStock = zModel.SafetyInStock;
                        string Photo = zModel.PhotoPath;
                        if (Photo == string.Empty)
                        {
                            Photo = Helper.NoImage;
                        }
                        #endregion

                        <tr productkey="@Key" class="rocket">
                            <td style="width:100px">
                                <img src="@Url.Content(Photo)" class="rounded"
                                     style="width:100px; height:100px" />
                            </td>
                            <td>
                                <h3 style="font-size:14px" class="mt-0">@ProductName</h3>
                                <h4 class="text-danger font-weight-semibold">
                                    <span class="number float-right">@SalePrice</span>
                                    <span class="d-none">SL: 0</span>
                                </h4>
                            </td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
</div>
@section Scripts{
    <script>
        var URL_AddToCard = "@Url.Action("AddToCart", "Mobile")";
    </script>
    <script>
        $(document).ready(function () {
            $("#cbo_CategoryKey").change(function () {
                $('#form_Search').submit();
            });

            $('#tblProduct').on('click', 'tr', function () {
                var ProductKey = $(this).attr('productkey');
                var cart = $('#cart');
                cart.addClass('shake');
                AddToCart(ProductKey);
            });
        });

        function AddToCart(ProductKey) {
            $.ajax({
                url: URL_AddToCard,
                type: 'POST',
                data: {
                    "ProductKey": ProductKey,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        $('.cart-count').html(r.Data);
                    }
                    else {

                    }
                },
                error: function (err) {
                    console.log(err.responseText);
                },
                complete: function () {
                    var cart = $('#cart');
                    setTimeout(function () {
                        cart.removeClass('shake');
                    }, 500);
                }
            });
        }
    </script>
}
