﻿
@{
    ViewBag.Title = "ListInvoice";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
    List<Invoice_Model> _ListInvoiceIN = new List<Invoice_Model>();
    if (ViewBag.ListInvoiceIN != null)
    {
        _ListInvoiceIN = ViewBag.ListInvoiceIN as List<Invoice_Model>;
    }
}
<style>
    .select2-results__option[aria-selected=true] {
        display: none;
    }

    .select2-selection--multiple {
        overflow: hidden !important;
        height: auto !important;
    }
</style>
<header class="page-header">
    <h2>Hóa đơn vào</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li>
            </li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-5">
                        @Html.Partial("~/Views/Shared/_SearchDateButtonModal.cshtml")
                    </div>
                    <div class="col-md-7" style="display:flex;align-items: center; text-align:right; justify-content:flex-end">
                        <form id="ExportZip" class="" action="@Url.Action("DownloadZip", "Financial")" method="post" enctype="multipart/form-data">
                            <button type="submit" class="modal-with-zoom-anim btn btn-info mr-1">
                                <i class="fas fa-file-excel"></i>
                                Download Zip
                            </button>
                        </form>
                        <form id="ExportExcel" class="" action="@Url.Action("ExportToExcel", "Financial")">
                            <button type="submit" class="modal-with-zoom-anim btn btn-info">
                                <i class="fas fa-file-excel"></i>
                                Excel
                            </button>
                        </form>
                    </div>
                </div>
                @{
                    if (ViewBag.Message != null && 
                        ViewBag.Message != string.Empty)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>@ViewBag.Message</strong>
                        </div>
                    }
                }
            </div>
            <div class="card-body">
                <table class="table table-sm Custom table-responsive-lg">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>
                                <input type="text" class="form-control" id="Filter_InvoiceID" placeholder="Số hóa đơn" onkeyup="Utils.FilterQuick(this,1,'tblBody')">
                            </th>
                            <th>Ngày lập</th>
                            <th>Khấu trừ</th>
                            <th>
                                <input type="text" class="form-control" id="Filter_PartnerName" placeholder="Tên đối tác" onkeyup="Utils.FilterQuick(this,4,'tblBody')">
                            </th>
                            <th>Tạm tính</th>
                            <th>Số V</th>
                            <th>Số tiền</th>
                            <th>
                                <button class="modal-with-zoom-anim btn btn-info float-right" type="button" onclick="Detail('')">
                                    <i class="fa fa-plus"></i>
                                    Thêm mới
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @{
                            if (_ListInvoiceIN.Count > 0)
                            {
                                double SumAmountNotVIN = _ListInvoiceIN.Where(s => s.AmountVat > 0 && s.CategoryKey != 9).Sum(item => item.AmountNotV);
                                double SumAmountVatIN = _ListInvoiceIN.Where(s => s.AmountVat > 0 && s.CategoryKey != 9).Sum(item => item.AmountVat);
                                double SumAmountTotalIN = _ListInvoiceIN.Where(s => s.AmountVat > 0 && s.CategoryKey != 9).Sum(item => item.AmountTotal);

                                <tr style="background-color:lemonchiffon">
                                    <td colspan="5" class="font-weight-semibold">
                                        Tổng giá trị HHDV mua vào phục vụ SXKD được khấu trừ thuế GTGT:
                                    </td>
                                    <td class="number text-danger font-weight-semibold">
                                        @SumAmountNotVIN
                                    </td>
                                    <td class="number text-danger font-weight-semibold">
                                        @SumAmountVatIN
                                    </td>
                                    <td class="number text-danger font-weight-semibold">
                                        @SumAmountTotalIN
                                    </td>
                                    <td class="text-right">#</td>
                                </tr>

                                SumAmountNotVIN = _ListInvoiceIN.Where(s => s.AmountVat == 0 && s.CategoryKey != 9).Sum(item => item.AmountNotV);
                                SumAmountVatIN = _ListInvoiceIN.Where(s => s.AmountVat == 0 && s.CategoryKey != 9).Sum(item => item.AmountVat);
                                SumAmountTotalIN = _ListInvoiceIN.Where(s => s.AmountVat == 0 && s.CategoryKey != 9).Sum(item => item.AmountTotal);

                                <tr style="background-color:lemonchiffon">
                                    <td colspan="5" class="font-weight-semibold">
                                        Tổng giá trị HHDV không tập hợp lên tờ khai:
                                    </td>
                                    <td class="number text-danger font-weight-semibold">
                                        @SumAmountNotVIN
                                    </td>
                                    <td class="number text-danger font-weight-semibold">
                                        @SumAmountVatIN
                                    </td>
                                    <td class="number text-danger font-weight-semibold">
                                        @SumAmountTotalIN
                                    </td>
                                    <td class="text-right">#</td>
                                </tr>

                                for (int i = 0; i < _ListInvoiceIN.Count; i++)
                                {
                                    #region Info
                                    Invoice_Model zModel = _ListInvoiceIN[i];
                                    string Key = zModel.InvoiceKey;
                                    string No = (i + 1).ToString();
                                    string InvoiceID = zModel.InvoiceID;
                                    string InvoiceType = zModel.InvoiceType;
                                    int CategoryKey = zModel.CategoryKey;
                                    string CategoryName = zModel.CategoryName;
                                    string InvoiceDate = zModel.InvoiceDate.ToString("dd/MM/yyyy");
                                    string PartnerName = zModel.PartnerName;
                                    string FileAttach = zModel.FileAttach;
                                    double AmountNotV = zModel.AmountNotV;
                                    double AmountVat = zModel.AmountVat;
                                    double AmountTotal = zModel.AmountTotal;
                                    string Description = zModel.Description;
                                    #endregion

                                    <tr>
                                        <td data-title="Stt">@No</td>
                                        <td data-title="Số">@InvoiceID</td>
                                        <td data-title="Ngày">@InvoiceDate</td>
                                        @if (CategoryKey != 9)
                                        {
                                            <td data-title="Loại">@CategoryName</td>
                                        }
                                        else
                                        {
                                            <td data-title="Loại" class="text-danger font-weight-semibold">
                                                @CategoryName<br />
                                                @Description
                                            </td>
                                        }
                                        <td data-title="Người bán">@PartnerName</td>
                                        <td data-title="Số tiền" class="number">@AmountNotV</td>
                                        <td data-title="Số tiền V" class="number">@AmountVat</td>
                                        <td data-title="Tổng tiền" class="number">@AmountTotal</td>
                                        <td class="text-right">
                                            @if (FileAttach.Length > 0)
                                            {
                                                <a href="@FileAttach" download class="btn btn-outline-primary btn-sm modal-with-zoom-anim">
                                                    <i class="fas fa-download"></i>
                                                </a>
                                            }
                                            <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Detail('@Key')">
                                                <i class="far fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Key')">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9">
                                        <div class="alert alert-primary">
                                            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin hóa đơn</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số hóa đơn</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_InvoiceID" value="" placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Ngày lập</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control datepicker" id="txt_InvoiceDate" value="" placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Khấu trừ</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Category" class="form-control select2" name="Branch">
                        <option value="0">Trực tiếp</option>
                        <option value="1" selected>Dùng chung</option>
                        <option value="2">Tồn kho</option>
                        <option value="9">Không đủ điều kiện</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">MST</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control " id="txt_PartnerTax" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Đơn vị bán</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control " id="txt_PartnerName" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số tiền chưa VAT</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control number" id="txt_AmountNotV" value="0" placeholder="" onblur="TotalAmout()">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số tiền VAT</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control number" id="txt_AmountVat" value="0" placeholder="" onblur="TotalAmout()">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Tổng tiền</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control number" id="txt_AmountTotal" value="0" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Tập tin</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="file" id="FileAttach" class="form-control" accept="image/*;capture=camera" />
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea id="txt_Description" rows="3" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row d-none">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">VAT đầu vào</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_ReferenceInvoice" class="form-control select2" name="Branch" multiple="multiple">
                        @{
                            foreach (Invoice_Model zItem in _ListInvoiceIN)
                            {
                                <option value="@zItem.InvoiceKey">@zItem.InvoiceID</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="card-footer border-primary text-center">
                <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                    <i class="far fa-save"></i>
                    Cập nhật
                </button>
            </div>
        </div>
    </div>
    <input id="txt_InvoiceKey" type="hidden" name="FeaKey" value="" />
</div>
@section Scripts{
    <script>
        var URL_Detail = '@Url.Action("DetailInvoice", "Financial")';
        var URL_Delete = '@Url.Action("DeleteInvoice", "Financial")';
        var URL_Save = '@Url.Action("SaveInvoice", "Financial")';
        var URL_GetCustomerByTax =  '@Url.Action("GetCustomerByTax", "Financial")';
        var URL_SearchButton ='@Url.Action("SearchInvoiceIN_Button", "Financial")';
        var URL_SearchDate = '@Url.Action("SearchInvoiceIN_Date", "Financial")';
    </script>
    <script src="~/Assets/App_JS/DesktopJS/Invoice/In.js"></script>
    <script>
        $(document).ready(function () {
            $("#formSearchButton").attr("action", URL_SearchButton);
            $("#formSearchDate").attr("action", URL_SearchDate);
        });
    </script>
}