﻿@model Invoice_Quarter_Model
@{
    Layout = null;
}
<table class="table table-bordered table-sm">
    <tr>
        <th>#</th>
        <th>Nội dung</th>
        <th>Số tiền</th>
    </tr>
    <tr>
        <td>@("Q" + (Model.Previous == 0 ? 4: Model.Previous))</td>
        <td class="font-weight-semibold text-dark">A. Thuế giá trị gia tăng còn được khấu trừ chuyển qua</td>
        <td class="font-weight-semibold text-dark number">
            @Model.AmountPrevious
        </td>

    </tr>
    @{
        <tr>
            <td rowspan="11">@("Q" + Model.Current)</td>
            <td class="font-weight-semibold text-dark">B. Doanh số bán ra chịu thuế</td>
            <td class="font-weight-semibold text-dark number">
                @Model.IncomeWithV
            </td>

        </tr>
        <tr>

            <td class="font-weight-semibold text-dark">C. Doanh số bán ra không chịu thuế</td>
            <td class="font-weight-semibold text-dark number">
                @Model.IncomeNoV
            </td>

        </tr>
        <tr>

            <td class="font-weight-semibold text-dark">D. Tổng doanh số</td>
            <td class="font-weight-semibold text-dark number">
                @Model.InComeTotal
            </td>

        </tr>
        <tr>
            <td class="font-weight-semibold text-dark">E. Thuế GTGT đầu vào Q4</td>
            <td class="font-weight-semibold text-dark number">
                @Model.AmountVatInTotal
            </td>

        </tr>
        <tr>

            <td class="font-weight-semibold text-danger"> - Số VAT đầu vào trực tiếp</td>
            <td class="font-weight-semibold text-danger number">
                @Model.AmountVatInDirect
            </td>

        </tr>
        <tr>

            <td class="font-weight-semibold text-dark"> - Số VAT đầu vào dùng chung</td>
            <td class="font-weight-semibold text-dark number">
                @Model.AmountVatInShare
            </td>

        </tr>
        <tr>
            <td class="font-weight-semibold text-danger">F. Số VAT được khấu trừ của hóa đơn dùng chung</td>
            <td class="font-weight-semibold text-danger number">
                @Model.AmountVatInShareToMinus
            </td>

        </tr>
        <tr>
            <td class="font-weight-semibold text-dark">G. Tổng số VAT được trừ trong quý</td>
            <td class="font-weight-semibold text-dark number">
                @Model.AmountVatAllowMinus
            </td>

        </tr>
        <tr>
            <td class="font-weight-semibold text-dark">H. Thuế GTGT đầu ra Q4</td>
            <td class="font-weight-semibold text-dark number">
                @Model.AmountVatOutTotal
            </td>

        </tr>
        <tr>
            <td class="font-weight-semibold text-danger">K. Số tiền nộp thuế của quý hiện tại</td>
            <td class="font-weight-semibold text-danger number">
                @Model.AmountPayCurrent
            </td>

        </tr>
        <tr>
            <td class="font-weight-semibold text-dark">J. Số tiền nộp thuế khi cộng quý trước</td>
            <td class="font-weight-semibold text-dark number">
                @Model.AmountPayInclude
            </td>

        </tr>
    }
</table>