﻿
@{
    ViewBag.Title = "ReportInvoice";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
    List<Invoice_Model> _ListInvoiceIN = new List<Invoice_Model>();
    if (ViewBag.ListInvoiceIN != null)
    {
        _ListInvoiceIN = ViewBag.ListInvoiceIN as List<Invoice_Model>;
    }
    List<Invoice_Model> _ListInvoiceOUT = new List<Invoice_Model>();
    if (ViewBag.ListInvoiceOUT != null)
    {
        _ListInvoiceOUT = ViewBag.ListInvoiceOUT as List<Invoice_Model>;
    }
    List<Invoice_Model> _ListInvoiceRef = new List<Invoice_Model>();
    if (ViewBag.ListInvoiceRef != null)
    {
        _ListInvoiceRef = ViewBag.ListInvoiceRef as List<Invoice_Model>;
    }
    List<TNItem> _ListQuarter = new List<TNItem>();
    if (ViewBag.SelectQuarter != null)
    {
        _ListQuarter = ViewBag.SelectQuarter as List<TNItem>;
    }
    string _DateView = ViewBag.DateView;
}

<header class="page-header">
    <h2>Thuế GTGT (Quý)</h2>
    <div class="right-wrapper number">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>

                </a>
            </li>
            <li>
            </li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <form action="@Url.Action("InvoiceBalanceQuarter","Financial")" id="QuarterForm">
                    <table class="table mb-0 Custom">
                        <tr>
                            <td class="text-left">
                                <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Prev">
                                    <i class="fas fa-chevron-left"></i>
                                </button>
                            </td>
                            <td class="text-center" onclick="OpenDate()">
                                <h4 class="font-weight-semibold text-primary">
                                    Quý @_DateView
                                    <i class="fas fa-caret-down"></i>
                                </h4>
                            </td>
                            <td class="text-right">
                                <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Next">
                                    <i class="fas fa-chevron-right"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" name="DateView" value="@_DateView" />
                </form>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    @if (ViewBag.Summary != null)
                    {
                        Invoice_Quarter_Model Model = ViewBag.Summary as Invoice_Quarter_Model;
                        <table class="table table-bordered table-sm">
                            <tr>
                                <th>#</th>
                                <th>Nội dung</th>
                                <th>Số tiền</th>
                            </tr>
                            <tr>
                                <td>@("Q" + (Model.Previous == 0 ? 4 : Model.Previous))</td>
                                <td class="font-weight-semibold text-dark">Thuế GTGT được trừ chuyển qua</td>
                                <td class="font-weight-semibold text-dark number">
                                    @Model.AmountPrevious
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="11">@("Q" + Model.Current)</td>
                                <td class="font-weight-semibold text-dark">Thuế GTGT đầu vào</td>
                                <td class="font-weight-semibold text-dark number">
                                    @Model.AmountVatInTotal
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold text-danger"> - Số VAT đầu vào trực tiếp</td>
                                <td class="font-weight-semibold text-danger number">
                                    @Model.AmountVatInDirect
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold text-dark"> - Số VAT đầu vào dùng chung</td>
                                <td class="font-weight-semibold text-dark number">
                                    @Model.AmountVatInShare
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold text-danger">Số VAT được khấu trừ của hóa đơn dùng chung</td>
                                <td class="font-weight-semibold text-danger number">
                                    @Model.AmountVatInShareToMinus
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold text-dark">Tổng số VAT được trừ trong quý</td>
                                <td class="font-weight-semibold text-dark number">
                                    @Model.AmountVatAllowMinus
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold text-dark">Doanh số bán ra chịu thuế</td>
                                <td class="font-weight-semibold text-dark number">
                                    @Model.IncomeWithV
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold text-dark">Doanh số bán ra không chịu thuế</td>
                                <td class="font-weight-semibold text-dark number">
                                    @Model.IncomeNoV
                                </td>
                            </tr>
                            <tr>

                                <td class="font-weight-semibold text-dark">Tổng doanh số</td>
                                <td class="font-weight-semibold text-dark number">
                                    @Model.InComeTotal
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold text-dark">Thuế GTGT đầu ra Q4</td>
                                <td class="font-weight-semibold text-dark number">
                                    @Model.AmountVatOutTotal
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold text-danger">Số tiền nộp thuế của quý hiện tại</td>
                                <td class="font-weight-semibold text-danger text-right">
                                    @Model.AmountPayCurrent.FormatMoneyFromObject()
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold text-dark">Số tiền nộp thuế khi cộng quý trước</td>
                                <td class="font-weight-semibold text-dark text-right">
                                    @Model.AmountPayInclude.FormatMoneyFromObject()
                                </td>
                            </tr>

                        </table>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea id="txt_Description" rows="2" class="form-control"></textarea>
                </div>
            </div>
            <div class="card-footer text-center">
                <button id="btn_Save" type="button" class="btn btn-warning btn-sm modal-with-zoom-anim" onclick="SaveQuarterInvoice()">
                    <i class="fas fa-angle-double-right"></i>
                    Lưu chuyển
                </button>
            </div>
            <hr />
            <div class="accordion accordion-quaternary" id="accordion2Quaternary">
                <div class="card card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2Quaternary" href="#collapse2QuaternaryOne">
                                VAT mua vào
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2QuaternaryOne" class="collapse">
                        <div class="card-body p-0">
                            <table class="table table-sm Custom table-responsive-lg">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Số hóa đơn</th>
                                        <th>Ngày lập</th>
                                        <th>Khấu trừ</th>
                                        <th>Tên đối tác</th>
                                        <th>Tiền chưa VAT</th>
                                        <th>Tiền VAT</th>
                                        <th>Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody id="tblBody">
                                    @{
                                        if (_ListInvoiceIN.Count > 0)
                                        {
                                            double SumAmountNotVIN = _ListInvoiceIN.Where(s => s.AmountVat > 0 && s.ReturnStatus != 1).Sum(item => item.AmountNotV);
                                            double SumAmountVatIN = _ListInvoiceIN.Where(s => s.AmountVat > 0 && s.ReturnStatus != 1).Sum(item => item.AmountVat);
                                            double SumAmountTotalIN = _ListInvoiceIN.Where(s => s.AmountVat > 0 && s.ReturnStatus != 1).Sum(item => item.AmountTotal);

                                            <tr style="background-color:lemonchiffon">
                                                <td colspan="5" class="font-weight-semibold">
                                                    Tổng giá trị HHDV mua vào phục vụ SXKD được khấu trừ thuế GTGT:
                                                </td>
                                                <td class="number text-danger font-weight-semibold">
                                                    @SumAmountNotVIN
                                                </td>
                                                <td class="number text-danger font-weight-semibold">
                                                    @SumAmountVatIN
                                                </td>
                                                <td class="number text-danger font-weight-semibold">
                                                    @SumAmountTotalIN
                                                </td>
                                                <td class="text-right">#</td>
                                            </tr>

                                            SumAmountNotVIN = _ListInvoiceIN.Where(s => s.AmountVat == 0 && s.ReturnStatus != 1).Sum(item => item.AmountNotV);
                                            SumAmountVatIN = _ListInvoiceIN.Where(s => s.AmountVat == 0 && s.ReturnStatus != 1).Sum(item => item.AmountVat);
                                            SumAmountTotalIN = _ListInvoiceIN.Where(s => s.AmountVat == 0 && s.ReturnStatus != 1).Sum(item => item.AmountTotal);

                                            <tr style="background-color:lemonchiffon">
                                                <td colspan="5" class="font-weight-semibold">
                                                    Tổng giá trị HHDV không tập hợp lên tờ khai:
                                                </td>
                                                <td class="number text-danger font-weight-semibold">
                                                    @SumAmountNotVIN
                                                </td>
                                                <td class="number text-danger font-weight-semibold">
                                                    @SumAmountVatIN
                                                </td>
                                                <td class="number text-danger font-weight-semibold">
                                                    @SumAmountTotalIN
                                                </td>
                                                <td class="text-right">#</td>
                                            </tr>

                                            for (int i = 0; i < _ListInvoiceIN.Count; i++)
                                            {
                                                #region Info
                                                Invoice_Model zModel = _ListInvoiceIN[i];
                                                string Key = zModel.InvoiceKey;
                                                string No = (i + 1).ToString();
                                                string InvoiceID = zModel.InvoiceID;
                                                string InvoiceType = zModel.InvoiceType;
                                                string CategoryName = zModel.CategoryName;
                                                string InvoiceDate = zModel.InvoiceDate.ToString("dd/MM/yyyy");
                                                string PartnerName = zModel.PartnerName;
                                                double AmountNotV = zModel.AmountNotV;
                                                double AmountVat = zModel.AmountVat;
                                                double AmountTotal = zModel.AmountTotal;
                                                #endregion
                                                <tr>
                                                    <th>@No</th>
                                                    <td>@InvoiceID</td>
                                                    <td>@InvoiceDate</td>
                                                    <td>@CategoryName</td>
                                                    <td>@PartnerName</td>
                                                    <td class="number">@AmountNotV</td>
                                                    <td class="number">@AmountVat</td>
                                                    <td class="number">@AmountTotal</td>
                                                    <td></td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="8">
                                                    <div class="alert alert-primary">
                                                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                                    </div>
                                                </td>
                                            </tr>

                                        }
                                    }

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2Quaternary" href="#collapse2QuaternaryTwo">
                                VAT bán ra
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2QuaternaryTwo" class="collapse">
                        <div class="card-body p-0">
                            <table class="table table-sm Custom table-responsive-lg">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Số hóa đơn</th>
                                        <th>Ngày lập</th>
                                        <th>Khấu trừ</th>
                                        <th>Tên đối tác</th>
                                        <th>Tiền chưa VAT</th>
                                        <th>Tiền VAT</th>
                                        <th>Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody id="tblBody">

                                    @{
                                        if (_ListInvoiceOUT.Count > 0)
                                        {
                                            double SumAmountNotVOUT = _ListInvoiceOUT.Where(s => s.AmountVat > 0 && s.ReturnStatus != 1).Sum(item => item.AmountNotV);
                                            double SumAmountVatOUT = _ListInvoiceOUT.Where(s => s.AmountVat > 0 && s.ReturnStatus != 1).Sum(item => item.AmountVat);
                                            double SumAmountTotalOUT = _ListInvoiceOUT.Where(s => s.AmountVat > 0 && s.ReturnStatus != 1).Sum(item => item.AmountTotal);

                                            <tr style="background-color:lemonchiffon">
                                                <td colspan="5" class="font-weight-semibold">
                                                    Tổng doanh số hàng hóa, dịch vụ bán ra chịu thuế GTGT:
                                                </td>
                                                <td class="number text-danger font-weight-semibold">
                                                    @SumAmountNotVOUT
                                                </td>
                                                <td class="number text-danger font-weight-semibold">
                                                    @SumAmountVatOUT
                                                </td>
                                                <td class="number text-danger font-weight-semibold">
                                                    @SumAmountTotalOUT
                                                </td>
                                                <td class="text-right">#</td>
                                            </tr>

                                            SumAmountNotVOUT = _ListInvoiceOUT.Where(s => s.AmountVat == 0 && s.ReturnStatus != 1).Sum(item => item.AmountNotV);
                                            SumAmountVatOUT = _ListInvoiceOUT.Where(s => s.AmountVat == 0 && s.ReturnStatus != 1).Sum(item => item.AmountVat);
                                            SumAmountTotalOUT = _ListInvoiceOUT.Where(s => s.AmountVat == 0 && s.ReturnStatus != 1).Sum(item => item.AmountTotal);

                                            <tr style="background-color:lemonchiffon">
                                                <td colspan="5" class="font-weight-semibold">
                                                    Tổng doanh số hàng hóa, dịch vụ không chịu thuế GTGT:
                                                </td>
                                                <td class="number text-danger font-weight-semibold">
                                                    @SumAmountNotVOUT
                                                </td>
                                                <td class="number text-danger font-weight-semibold">
                                                    @SumAmountVatOUT
                                                </td>
                                                <td class="number text-danger font-weight-semibold">
                                                    @SumAmountTotalOUT
                                                </td>
                                                <td class="text-right">#</td>
                                            </tr>

                                            for (int i = 0; i < _ListInvoiceOUT.Count; i++)
                                            {
                                                #region Info
                                                Invoice_Model zModel = _ListInvoiceOUT[i];
                                                string Key = zModel.InvoiceKey;
                                                string No = (i + 1).ToString();
                                                string InvoiceID = zModel.InvoiceID;
                                                string InvoiceType = zModel.InvoiceType;
                                                string CategoryName = zModel.CategoryName;
                                                string InvoiceDate = zModel.InvoiceDate.ToString("dd/MM/yyyy");
                                                string PartnerName = zModel.PartnerName;
                                                double AmountNotV = zModel.AmountNotV;
                                                double AmountVat = zModel.AmountVat;
                                                double AmountTotal = zModel.AmountTotal;
                                                int IsReturn = zModel.ReturnStatus;
                                                string Css = "";
                                                if (IsReturn == 1)
                                                {
                                                    Css = "style=\"color:maroon;font-style: italic\"";
                                                }
                                                #endregion

                                                <tr @Html.Raw(Css)>
                                                    <th>@No</th>
                                                    <td>
                                                        @if (IsReturn == 1)
                                                        {
                                                            @InvoiceID<br />
                                                            <a href="@zModel.ReplaceFile" download>
                                                                Biên bản thu hồi
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            @InvoiceID
                                                        }
                                                    </td>
                                                    <td>@InvoiceDate</td>
                                                    <td>@CategoryName</td>
                                                    <td>@PartnerName</td>
                                                    <td class="number">@AmountNotV</td>
                                                    <td class="number">@AmountVat</td>
                                                    <td class="number">@AmountTotal</td>
                                                    <td></td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="8">
                                                    <div class="alert alert-primary">
                                                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2Quaternary" href="#collapse2QuaternaryThree">
                                VAT trừ 100%
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2QuaternaryThree" class="collapse">
                        <div class="card-body p-0">
                            <table class="table table-sm Custom table-responsive-lg">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Số hóa đơn</th>
                                        <th>Ngày xuất  bản</th>
                                        <th>Phân loại</th>
                                        <th>Khấu trừ</th>
                                        <th>Tên đối tác</th>
                                        <th>Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody id="tblBody">
                                    @{
                                        if (_ListInvoiceRef.Count > 0)
                                        {
                                            int No = 0;
                                            for (int i = 0; i < _ListInvoiceRef.Count; i++)
                                            {
                                                #region Info
                                                Invoice_Model zModel = _ListInvoiceRef[i];
                                                string Key = zModel.InvoiceKey;
                                                No = (No + 1);
                                                string InvoiceID = zModel.InvoiceID;
                                                string InvoiceType = zModel.InvoiceType;
                                                string CategoryName = zModel.CategoryName;
                                                string InvoiceDate = zModel.InvoiceDate.ToString("dd/MM/yyyy");
                                                string PartnerName = zModel.PartnerName;
                                                double AmountTotal = zModel.AmountTotal;
                                                string ReferenceInvoice = zModel.ReferenceInvoice;
                                                string zName = "";
                                                if (InvoiceType == "IN")
                                                {
                                                    zName = "Hóa đơn vào";
                                                }
                                                if (InvoiceType == "OUT")
                                                {
                                                    zName = "Hóa đơn Ra";
                                                }
                                                #endregion

                                                <tr style="background-color:lemonchiffon">
                                                    <th>@No</th>
                                                    <td>@InvoiceID</td>
                                                    <td>@InvoiceDate</td>
                                                    <td>@zName</td>
                                                    <td>@CategoryName</td>
                                                    <td>@PartnerName</td>
                                                    <td class="number">@AmountTotal</td>
                                                </tr>

                                                string[] arrListStr = ReferenceInvoice.Split(',');
                                                foreach (string zInvoiKey in arrListStr)
                                                {
                                                    #region Detail Info
                                                    Invoice_Info zInfo = new Invoice_Info(zInvoiKey.Trim());
                                                    Key = zInfo.Invoice.InvoiceKey;
                                                    No = (No + 1);
                                                    InvoiceID = zInfo.Invoice.InvoiceID;
                                                    InvoiceType = zInfo.Invoice.InvoiceType;
                                                    CategoryName = zInfo.Invoice.CategoryName;
                                                    InvoiceDate = zInfo.Invoice.InvoiceDate.ToString("dd/MM/yyyy");
                                                    PartnerName = zInfo.Invoice.PartnerName;
                                                    AmountTotal = zInfo.Invoice.AmountTotal;
                                                    zName = "";
                                                    if (InvoiceType == "IN")
                                                    {
                                                        zName = "Hóa đơn vào";
                                                    }
                                                    if (InvoiceType == "OUT")
                                                    {
                                                        zName = "Hóa đơn Ra";
                                                    }
                                                    #endregion

                                                    <tr>
                                                        <th>@No</th>
                                                        <td>@InvoiceID</td>
                                                        <td>@InvoiceDate</td>
                                                        <td>@zName</td>
                                                        <td>@CategoryName</td>
                                                        <td>@PartnerName</td>
                                                        <td class="number">@AmountTotal</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="9">
                                                    <div class="alert alert-primary">
                                                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---->
<div id="modalDate" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Tùy chọn thời gian</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group">
                <div class="radio-custom radio-warning">
                    <input type="radio" id="radioQuarter" name="radioView" value="Quarter" checked>
                    <label for="radioQuarter">Xem theo quý</label>
                </div>
                <div class="radio-custom radio-warning">
                    <input type="radio" id="radioYear" name="radioView" value="Year">
                    <label for="radioYear">Xem theo năm</label>
                </div>
            </div>
            <div class="card-footer border-primary text-center">
                <button type="button" class="btn btn-outline-primary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button type="button" class="btn btn-outline-primary modal-confirm" onclick="SetView()">
                    <i class="fas fa-search"></i>
                    OK
                </button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        var URL_Quarter = '@Url.Action("InvoiceBalanceQuarter", "Financial")';
        var URL_Year = '@Url.Action("InvoiceBalanceYear", "Financial")';
        var URL_AmountPrevious = '@Url.Action("GetAmountPrevious", "Financial")';
        var URL_SaveQuarterInvoice = '@Url.Action("SaveQuarterInvoice", "Financial")';
    </script>
    <script src="~/Assets/App_JS/DesktopJS/Invoice/Quarter.js"></script>
    <script>
        function OpenDate() {
            Utils.OpenMagnific("#modalDate");
        }
        function SetView() {
            var val = $("#modalDate input[type='radio']:checked").val();
            if (val == "Quarter") {
                window.location.href = URL_Quarter;
            }
            if (val == "Year") {
                window.location.href = URL_Year;
            }
        }
    </script>
}