﻿
@{
    ViewBag.Title = "Year";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
    List<Invoice_Model> _ListInvoiceIN = new List<Invoice_Model>();
    if (ViewBag.ListInvoiceIN != null)
    {
        _ListInvoiceIN = ViewBag.ListInvoiceIN as List<Invoice_Model>;
    }
    List<Invoice_Model> _ListInvoiceOUT = new List<Invoice_Model>();
    if (ViewBag.ListInvoiceOUT != null)
    {
        _ListInvoiceOUT = ViewBag.ListInvoiceOUT as List<Invoice_Model>;
    }
    string _DateView = ViewBag.DateView.ToString();
}

<header class="page-header">
    <h2>Thuế GTGT (Năm)</h2>
    <div class="right-wrapper number">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>

                </a>
            </li>
            <li>
            </li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <form action="@Url.Action("InvoiceBalanceYear","Financial")" id="YearForm">
                    <table class="table mb-0 Custom">
                        <tr>
                            <td class="text-left">
                                <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Prev">
                                    <i class="fas fa-chevron-left"></i>
                                </button>
                            </td>
                            <td class="text-center" onclick="OpenDate()">
                                <h4 class="font-weight-semibold text-primary">
                                    Năm @_DateView
                                    <i class="fas fa-caret-down"></i>
                                </h4>
                            </td>
                            <td class="text-right">
                                <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Next">
                                    <i class="fas fa-chevron-right"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" name="DateView" value="@_DateView" />
                </form>
            </div>
        </div>
        <div class="card-body">
            @Html.Raw(ViewBag.HtmlData)
        </div>
    </div>
</div>

<!---->
<div id="modalDate" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Tùy chọn thời gian</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group">
                <div class="radio-custom radio-warning">
                    <input type="radio" id="radioQuarter" name="radioView" value="Quarter" checked>
                    <label for="radioQuarter">Xem theo quý</label>
                </div>
                <div class="radio-custom radio-warning">
                    <input type="radio" id="radioYear" name="radioView" value="Year">
                    <label for="radioYear">Xem theo năm</label>
                </div>
            </div>
            <div class="card-footer border-primary text-center">
                <button type="button" class="btn btn-outline-primary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button type="button" class="btn btn-outline-primary modal-confirm" onclick="SetView()">
                    <i class="fas fa-search"></i>
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var URL_Quarter = '@Url.Action("InvoiceBalanceQuarter", "Financial")';
        var URL_Year = '@Url.Action("InvoiceBalanceYear", "Financial")';
    </script>
    <script>
        $(document).ready(function () {

        });
        function OpenDate() {
            Utils.OpenMagnific("#modalDate");
        }
        function SetView() {
            var val = $("#modalDate input[type='radio']:checked").val();
            if (val == "Quarter") {
                window.location.href = URL_Quarter;
            }
            if (val == "Year") {
                window.location.href = URL_Year;
            }
        }
    </script>
}