﻿
@{
    ViewBag.Title = "BillInfo";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";

    string[] Data = new string[4] { "", "", "", "" };
    if (ViewBag.Data != null)
    {
        string temp = ViewBag.Data as string;
        if (temp.Contains("|"))
        {
            Data = temp.Split('|');
        }
    }
}

<header class="page-header">
    <h2>Thông tin mẫu in bill</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<form class="card" action="@Url.Action("UpdateBill","Config")" method="post" enctype="multipart/form-data">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group text-center">
                    @if (Data[3] == string.Empty)
                    {
                        <img id="imgpreview" src="@Url.Content("~/assets/themes/img/unnamed.png")" alt="your image" style="max-width: -webkit-fill-available; max-height:200px;" />
                    }
                    else
                    {
                        <img id="imgpreview" src="@Url.Content(Data[3])" alt="your image" style="max-width: -webkit-fill-available; max-height:200px;" />
                    }
                    <br />
                    <input type="file" id="fileListPhoto" multiple name="files">
                </div>
                <div class="form-group row">
                    <label class="col-lg-5 col-xl-3 control-label text-lg-right">
                        Tiêu đề
                    </label>
                    <div class="col-lg-7 col-xl-9">
                        <input type="text" class="form-control" name="Title" value="@Data[0]" required="" id="txt_Title">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-5 col-xl-3 control-label text-lg-right">
                        Ghi chú
                    </label>
                    <div class="col-lg-7 col-xl-9">
                        <textarea class="form-control" name="Description" required="" id="txt_Description">@Data[1]</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-5 col-xl-3 control-label text-lg-right">
                        Cuối trang
                    </label>
                    <div class="col-lg-7 col-xl-9">
                        <input type="text" class="form-control" name="End" value="@Data[2]" required="" id="txt_End">
                    </div>
                </div>
            </div>
            <div class="col-md-4 border-left">

            </div>
        </div>
    </div>
    <div class="card-footer">
        <button id="btn_Save" type="submit" class="btn btn-outline-primary">
            <i class="far fa-save"></i>
            Cập nhật
        </button>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>@ViewBag.Message</strong>.
            </div>
        }
    </div>
</form>
@section scripts{
    <script>
        $("#imgpreview").click(function () {
            $("#fileListPhoto").trigger('click');
        });
        $("#fileListPhoto").change(function () {
            Utils.PreviewImg(this, "#imgpreview");
            var str = $("#imgpreview").attr("src");
            $("#txt_Base64String").val(str);
        });
    </script>
}