﻿
@{
    ViewBag.Title = "CategoryReceipt";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
    List<CashReceipt_Category_Model> _ListData = new List<CashReceipt_Category_Model>();
    if (ViewBag.List != null)
    {
        _ListData = ViewBag.List as List<CashReceipt_Category_Model>;
    }
}

<header class="page-header">
    <h2>Danh mục thu phí</h2>
    <div class="right-wrapper text-right" style="margin-right:10px">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ol>
    </div>

</header>

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary float-right" type="button" id="btnAdd" onclick="Save(0)">
                            <i class="fa fa-plus"></i> Thêm
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                @foreach (CashReceipt_Category_Model zItem in _ListData)
                {
                    <div class="form-group row" key="@zItem.CategoryKey">
                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="" key="@zItem.CategoryKey" value="@zItem.CategoryNameVN" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-primary" onclick="Save(@zItem.CategoryKey)">
                                        <i class="far fa-save"></i> Lưu
                                    </button>
                                    <button type="button" class="btn btn-outline-danger" onclick="Delete(@zItem.CategoryKey)">
                                        <i class="fas fa-trash"></i> Xóa
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="card-footer ">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var URL_Save = '@Url.Action("SaveCategory", "Config")';
        var URL_Delete = '@Url.Action("DeleteCategory", "Config")';
        var height = $(window).height() - 350;

        $(document).ready(function () {

        });

        function Delete(Key) {
            if (confirm('Bạn có chắc xóa thông tin !.')) {
                $.ajax({
                    url: URL_Delete,
                    type: 'POST',
                    data: {
                        "CategoryKey": Key,
                        "Type": "Receipt"
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            location.reload();
                        }
                        else {
                            alert(r.Message);
                        }
                    },
                    error: function (err) {
                        console.log(err.responseText);
                    },
                    complete: function () {

                    }
                });
            }
        }
        function Save(Key) {
            var name = 'Nội dung mới';
            if (Key != 0)
            {
                name = $("input[key=" + Key + "]").val();
            }
            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                   "CategoryKey": Key,
                   "CategoryName": name,
                   "Type": "Receipt"
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        alert(r.Message);
                    }
                },
                error: function (err) {
                    console.log(err.responseText);
                },
                complete: function () {

                }
            });
        }
    </script>
}