﻿
@{
    ViewBag.Title = "ChangePass";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
}
<header class="page-header">
    <h2>Đổi mật khẩu</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-4">
        <form class="card-body border-primary" action="@Url.Action("ChangePass","Config")" method="post">
            <div class="form-group row">
                <label for="txt_OldPass" class="col-lg-5 col-xl-3 control-label text-lg-right">Mật khẩu cũ</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="password" class="form-control " id="txt_OldPass" value="" placeholder="" name="OldPass" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="txt_NewPass" class="col-lg-5 col-xl-3 control-label text-lg-right">Mật khẩu mới</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="password" class="form-control " id="txt_NewPass" value="" placeholder="" name="NewPass" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="txt_RePass" class="col-lg-5 col-xl-3 control-label text-lg-right">Lập lại mật khẩu mới</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="password" class="form-control " id="txt_RePass" value="" placeholder="" name="RePass" required="">
                </div>
            </div>
            <div class="card-footer border-primary text-center">             
                <button id="btn_Save" type="submit" class="btn btn-outline-primary">
                    <i class="far fa-save"></i>
                    Cập nhật
                </button>
                @if (ViewBag.Message != null)
                {
                    <div style="font-weight:bold; color:maroon">@ViewBag.Message</div>
                }
            </div>
        </form>
    </div>
</div>