﻿
@{
    ViewBag.Title = "ListDepartment";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
    List<Department_Model> _ListDepartment = new List<Department_Model>();
    if (ViewBag.ListDepartment != null)
    {
        _ListDepartment = ViewBag.ListDepartment as List<Department_Model>;
    }
    List<Branch_Model> _ListBranch = new List<Branch_Model>();
    if (ViewBag.ListBranch != null)
    {
        _ListBranch = ViewBag.ListBranch as List<Branch_Model>;
    }
}

<header class="page-header">
    <h2>Phòng ban</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header ">

            </div>
            <div class="card-body ">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã số</th>
                            <th>Phòng ban</th>
                            <th>Thuộc chi nhánh</th>
                            <th>Diễn giải</th>
                            <th>Thứ tự hiển thị</th>
                            <th class="text-right">
                                <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Detail()">
                                    <i class="fa fa-plus"></i>
                                    Thêm mới
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @{
                            if (_ListDepartment.Count > 0)
                            {
                                for (int i = 0; i < _ListDepartment.Count; i++)
                                {
                                    #region [Info]
                                    Department_Model zModel = _ListDepartment[i];
                                    string Key = zModel.DepartmentKey;
                                    string No = (i + 1).ToString();
                                    string DepartmentID = zModel.DepartmentID;
                                    string DepartmentName = zModel.DepartmentName;
                                    string BranchName = zModel.BranchName;
                                    string Description = zModel.Description;
                                    int Rank = zModel.Rank;
                                    #endregion
                                    <tr>
                                        <th>@No</th>
                                        <td>@DepartmentID</td>
                                        <td>@DepartmentName</td>
                                        <td>@BranchName</td>
                                        <td>@Description</td>
                                        <td class="number">@Rank</td>
                                        <td class="text-right">
                                            <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Detail('@Key')">
                                                <i class="far fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Key')">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8">
                                        <div class="alert alert-primary">
                                            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer ">
            </div>
        </div>
       
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Thông tin phòng ban</h2>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Mã số</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_DepartmentID" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Phòng ban</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_DepartmentName" value="" placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Địa chỉ</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Address" value="" placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Diễn giải</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Description" value="" placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Chi nhánh</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Branch" class="form-control select2" name="Branch">
                        @{
                            foreach (Branch_Model zItem in _ListBranch)
                            {
                                <option value="@zItem.BranchKey">@zItem.BranchName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Thứ tự hiển thị</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control number" id="txt_Rank" value="" placeholder="" required>
                </div>
            </div>

            <div class="card-footer  text-center">
                <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="Save()">
                    <i class="far fa-save"></i>
                    Cập nhật
                </button>
            </div>
        </div>
    </div>
    <input id="txt_DepartmentKey" type="hidden" name="FeaKey" value="" />
</div>

<script>
        var URL_Detail = "@Url.Action("DetailDepartment", "Config")";
        var URL_Delete = "@Url.Action("DeleteDepartment", "Config")";
        var URL_Save = "@Url.Action("SaveDepartment", "Config")";

        $(document).ready(function () {

        });

        function Save() {
            var DepartmentKey = $("#txt_DepartmentKey").val();
            var DepartmentID = $("#txt_DepartmentID").val();
            var DepartmentName = $("#txt_DepartmentName").val();
            var Address = $("#txt_Address").val();
            var Description = $("#txt_Description").val();           
            var BranchKey = $('#cbo_Branch').val();
            var BranchName = $("#cbo_Branch option:selected").text();
            var Rank = $("#txt_Rank").val();
            $.ajax({
                url: URL_Save,
                type: "POST",
                data: {
                    "DepartmentKey": DepartmentKey,
                    "DepartmentID": DepartmentID,
                    "DepartmentName": DepartmentName,
                    "Address": Address,
                    "Description": Description,
                    "BranchKey": BranchKey,
                    "BranchName": BranchName,
                    "Rank": Rank,


                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
    function Detail(DepartmentKey) {
            Utils.OpenMagnific("#modalEdit");
        if (DepartmentKey.length >= 36) {
                $.ajax({
                    url: URL_Detail,
                    type: "GET",
                    data: {
                        "DepartmentKey": DepartmentKey
                    },
                    beforeSend: function () {
                        Utils.LoadIn();
                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);
                            $("#txt_DepartmentKey").val(obj.DepartmentKey);
                            $("#txt_DepartmentID").val(obj.DepartmentID);
                            $("#txt_DepartmentName").val(obj.DepartmentName);
                            $("#txt_Address").val(obj.Address);
                            $("#txt_Description").val(obj.Description);
                            $('#cbo_Branch').val(obj.BranchKey).trigger('change');
                            $("#txt_Rank").val(obj.Rank);
                        }
                        else {
                            Utils.OpenNotify(r.Message, "Thông báo", "error");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                    },
                    complete: function () {
                        Utils.LoadOut();
                    }
                });
            }
            else {
                Utils.ClearUI("#modalEdit");
            $("#txt_PositionKey").val(0);
                $("#txt_Rank").val(0);
            }
        }
    function Delete(DepartmentKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "DepartmentKey": DepartmentKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }

</script>

