﻿@model Partner_Model
@{
    ViewBag.Title = "StoreInfo";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
}

<header class="page-header">
    <h2>Thông tin cửa hàng</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<form class="card" action="@Url.Action("UpdateStore","Config")" method="post" enctype="multipart/form-data">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 text-center ">
                <i class="ti-info-alt fa-5x"></i>
                <h4 class="c-deep-purple-500 ">Logo</h4>
                <div class="form-group-sm mb-2">
                    @if (Model.Logo_Large != string.Empty)
                    {
                        <img id="imgpreview" src="@Url.Content(Model.Logo_Large)" alt="your image" style="max-width: 100%; max-height:200px;" />
                    }
                    else
                    {
                        <img id="imgpreview" src="@Url.Content("~/assets/themes/img/unnamed.png")" alt="your image" style="max-width: 100%; max-height:200px;" />
                    }
                    <input type="file" id="fileListPhoto" multiple name="files">
                </div>
            </div>
            <div class="col-md-9 border-left">
                <div class="form-group-sm mb-2 row">
                    <label class="col-lg-5 col-xl-3 control-label text-lg-right">Mã ID khách hàng</label>
                    <div class="col-lg-7 col-xl-9">
                        <input type="text" class="form-control" name="PartnerID" value="@Model.PartnerID" required="" id="txt_PartnerID" readonly>
                    </div>
                </div>
                <div class="form-group-sm mb-2 row">
                    <label class="col-lg-5 col-xl-3 control-label text-lg-right">
                        Tên cửa hàng
                        <span class="required">*</span>
                    </label>
                    <div class="col-lg-7 col-xl-9">
                        <input type="text" class="form-control" name="StoreName" value="@Model.StoreName" required="" id="txt_StoreName">
                    </div>
                </div>
                <div class="form-group-sm mb-2 row">
                    <label class="col-lg-5 col-xl-3 control-label text-lg-right">
                        Tên chủ cửa hàng
                        <span class="required">*</span>
                    </label>
                    <div class="col-lg-7 col-xl-9">
                        <input type="text" class="form-control" name="PartnerName" value="@Model.PartnerName" required="" id="txt_PartnerName">
                    </div>
                </div>
                <div class="form-group-sm mb-2 row">
                    <label class="col-lg-5 col-xl-3 control-label text-lg-right pt-2">
                        Địa chỉ
                        <span class="required">*</span>
                    </label>
                    <div class="col-lg-7 col-xl-9">
                        <input type="text" class="form-control" name="PartnerAddress" value="@Model.PartnerAddress" required="" id="txt_PartnerAddress">
                    </div>
                </div>
                <div class="form-group-sm mb-2 row">
                    <label class="col-lg-5 col-xl-3 control-label text-lg-right pt-2">
                        Số điện thoại
                        <span class="required">*</span>
                    </label>
                    <div class="col-lg-7 col-xl-9">
                        <input type="text" class="form-control" name="PartnerPhone" value="@Model.PartnerPhone" required="" id="txt_PartnerPhone">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button id="btn_Save" type="submit" class="btn btn-outline-primary">
            <i class="far fa-save"></i>
            Cập nhật
        </button>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>@ViewBag.Message</strong>.
            </div>
        }
    </div>
</form>
@section scripts{
    <script>
        $("#imgpreview").click(function () {
            $("#fileListPhoto").trigger('click');
        });
        $("#fileListPhoto").change(function () {
            Utils.PreviewImg(this, "#imgpreview");
            var str = $("#imgpreview").attr("src");
            $("#txt_Base64String").val(str);
        });
    </script>
}