﻿
@{
    ViewBag.Title = "UnitConvert";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";

    var _ListUnitConvert = new List<Unit_Converted_Model>();
    var _ListUnit = new List<Product_Unit_Model>();
    var _ListProduct = new List<Product_Model>();

    if (ViewBag.ListUnitConvert != null)
    {
        _ListUnitConvert = ViewBag.ListUnitConvert as List<Unit_Converted_Model>;
    }
    if (ViewBag.ListUnit != null)
    {
        _ListUnit = ViewBag.ListUnit as List<Product_Unit_Model>;
    }
    if (ViewBag.ListProduct != null)
    {
        _ListProduct = ViewBag.ListProduct as List<Product_Model>;
    }
}

<header class="page-header">
    <h2>Chuyển đổi đơn vị tính</h2>
    <div class="right-wrapper text-right" style="margin-right:10px">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ol>
    </div>

</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary float-right" type="button" id="btnAdd" data-toggle="modal" data-target="#modalEdit">
                            <i class="fa fa-plus"></i> Thêm
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body border-primary">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Sản phẩm/ mặt hàng</th>
                            <th>Đơn vị mua vào</th>
                            <th>Hệ số chuyển đổi</th>
                            <th>Đơn vị bán ra</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Unit_Converted_Model zItem in _ListUnitConvert)
                        {
                        <tr>
                            <th></th>
                            <td>@zItem.ProductName</td>
                            <td>@zItem.UnitName</td>
                            <td>@zItem.Rate</td>
                            <td>@zItem.StandardUnitName</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-sm" onclick="Detail(@zItem.AutoKey)"><i class="far fa-edit"></i></button>
                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete(@zItem.AutoKey)"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>


            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="modalEdit" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thiết lập chuyển đổi đơn vị</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-2 row">
                    <label class="col-md-4">Sản phẩm/ hàng hóa<span class="required">*</span></label>
                    <div class="col-md-8">
                        <select data-placeholder="-- // --" class="form-control select2" name="ProductKey" id="cbo_Product">
                            @{
                                if (_ListProduct.Count > 0)
                                {
                                    foreach (Product_Model zModel in _ListProduct)
                                    {
                                        string Name = zModel.ProductID + ": " + zModel.ProductName;
                                        <option value="@zModel.ProductKey">@Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group mb-2 row">
                    <label class="col-md-4">Đơn vị tính (nhập, mua)</label>
                    <div class="col-md-8">
                        <select data-placeholder="-- // --" class="form-control select2" name="UnitKey" id="cbo_Unit">
                            @{
                                if (_ListUnit.Count > 0)
                                {
                                    foreach (Product_Unit_Model zModel in _ListUnit)
                                    {
                                        <option value="@zModel.UnitKey">@zModel.UnitnameVN</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group mb-2 row">
                    <label class="col-md-4">Hệ số quy đổi</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control number" id="txt_Rate" placeholder="" name="Rate">
                    </div>
                </div>
                <div class="form-group mb-2 row">
                    <label class="col-md-4">Đơn vị tính (xuất, bán)</label>
                    <div class="col-md-8">
                        <select data-placeholder="-- // --" class="form-control select2" name="StandardUnitKey" id="cbo_StandardUnit">
                            @{
                                if (_ListUnit.Count > 0)
                                {
                                    foreach (Product_Unit_Model zModel in _ListUnit)
                                    {
                                        <option value="@zModel.UnitKey">@zModel.UnitnameVN</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>

                <!--HIDDEN-->
                <input id="txt_AutoKey" type="hidden" name="AutoKey" value="0" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="Save()">Cập nhật</button>
            </div>
        </div>

    </div>
</div>
@section scripts {   
    <script>
        var URL_UnitDetail = '@Url.Action("UnitDetail", "Config")';
        var URL_UnitDelete = '@Url.Action("UnitDelete", "Config")';
        var URL_UnitSave = '@Url.Action("UnitSave", "Config")';

        $(document).ready(function () {
            $(".select2").select2({
                width: '100%',
                placeholder: '--Chọn--',
            });
        });

        function Detail(AutoKey) {
            $.ajax({
                url: URL_UnitDetail,
                type: 'GET',
                data: {
                    "AutoKey": AutoKey
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        var Cate = JSON.parse(r.Data);

                        $("#txt_AutoKey").val(Cate.AutoKey);
                        $("#cbo_Product").val(Cate.ProductKey).trigger("change");;
                        $("#cbo_StandardUnit").val(Cate.StandardUnitKey).trigger("change");;
                        $("#cbo_Unit").val(Cate.UnitKey).trigger("change");;
                        $("#txt_Rate").val(Cate.Rate);

                        $("#modalEdit").modal('show');
                    }
                    else {
                        alert(r.Message)
                    }
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        function Delete(AutoKey) {
            if (confirm('Bạn có chắc xóa thông tin')) {
                $.ajax({
                    url: URL_UnitDelete,
                    type: 'POST',
                    data: {
                        "AutoKey": AutoKey,
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            window.location.reload();
                        }
                        else {
                            alert(r.Message)
                        }
                    },
                    error: function (err) {

                    },
                    complete: function () {

                    }
                });
            }
        }
        function Save() {
            var key = $("#txt_AutoKey").val();
            var productkey = $("#cbo_Product").val();
            var productname = $("#cbo_Product option:selected").text();
            var inputUnitkey = $("#cbo_StandardUnit").val();
            var inputUnitName = $("#cbo_StandardUnit option:selected").text();
            var outputUnitkey = $("#cbo_Unit").val();
            var outputUnitName = $("#cbo_Unit option:selected").text();
            var rate = $("#txt_Rate").val();

            $.ajax({
                url: URL_UnitSave,
                type: 'POST',
                data: {
                    "AutoKey": key,
                    "ProductKey": productkey,
                    "ProductName": productname,
                    "StandardUnitKey": inputUnitkey,
                    "StandardUnitName": inputUnitName,
                    "UnitKey": outputUnitkey,
                    "UnitName": outputUnitName,
                    "Rate": rate,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        window.location.reload();
                    }
                    else {
                        alert(r.Message)
                    }
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
    </script>
}