﻿
@{
    ViewBag.Title = "ListProductUnit";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";

    List<Product_Unit_Model> _ListProductUnit = new List<Product_Unit_Model>();
    if (ViewBag.ListProductUnit != null)
    {
        _ListProductUnit = ViewBag.ListProductUnit as List<Product_Unit_Model>;
    }
}

<header class="page-header">
    <h2>Danh sách đơn vị tính</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">

            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body ">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã số</th>
                                <th>Tên dơn vị</th>
                                <th>Diễn giải</th>
                                <th>Thứ tự hiển thị</th>
                                <th class="text-right">
                                    <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Detail(0)">
                                        <i class="fa fa-plus"></i>
                                        Thêm mới
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tblBody">

                            @{
                                if (_ListProductUnit.Count > 0)
                                {
                                    for (int i = 0; i < _ListProductUnit.Count; i++)
                                    {
                                        Product_Unit_Model zModel = _ListProductUnit[i];
                                        string Key = zModel.UnitKey.ToString();
                                        string No = (i + 1).ToString();
                                        string UnitID = zModel.UnitID;
                                        string UnitnameVN = zModel.UnitnameVN;
                                        string Description = zModel.Description;
                                        int Rank = zModel.Rank;

                                        <tr>
                                            <th>@No</th>
                                            <td>@UnitID</td>
                                            <td>@UnitnameVN</td>
                                            <td>@Description</td>
                                            <td>@Rank</td>
                                            <td class="text-right">
                                                <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Detail(@Key)">
                                                    <i class="far fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete(@Key)">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7">
                                            <div class="alert alert-primary">
                                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                            </div>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer ">
                </div>
            </div>

    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Thông tin đơn vị tính</h2>
        </div>
        <div class="card-body ">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Mã đơn vị</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_UnitID" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Tên đơn vị (VN)</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_UnitnameVN" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Diễn giải</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control " id="txt_Description" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Thứ tự hiển thị</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control number" id="txt_Rank" value="0" placeholder="">
                </div>
            </div>
            <div class="card-footer  text-center">
                <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="Save()">
                    <i class="far fa-save"></i>
                    Cập nhật
                </button>
            </div>
        </div>
    </div>
    <input id="txt_UnitKey" type="hidden" name="FeaKey" value="0" />
</div>
@section scripts{
    <script>
        var URL_Detail = "@Url.Action("DetailProductUnit", "Config")";
        var URL_Delete = "@Url.Action("DeleteProductUnit", "Config")";
        var URL_Save = "@Url.Action("SaveProductUnit", "Config")";

        $(document).ready(function () {

        });

        function Save() {
            var UnitKey = $("#txt_UnitKey").val();
            var UnitID = $("#txt_UnitID").val();
            var UnitnameVN = $("#txt_UnitnameVN").val();
            var Description = $("#txt_Description").val();
            var Rank = $("#txt_Rank").val();
            $.ajax({
                url: URL_Save,
                type: "POST",
                data: {
                    "UnitKey": UnitKey,
                    "UnitID": UnitID,
                    "UnitnameVN": UnitnameVN,
                    "Description": Description,
                    "Rank": Rank,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {

                }
            });
        }
        function Detail(UnitKey) {
            Utils.OpenMagnific("#modalEdit");
            if (UnitKey > 0) {
                $.ajax({
                    url: URL_Detail,
                    type: "GET",
                    data: {
                        "UnitKey": UnitKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);
                            $("#txt_UnitKey").val(obj.UnitKey);
                            $("#txt_UnitID").val(obj.UnitID);
                            $("#txt_UnitnameVN").val(obj.UnitnameVN);
                            $("#txt_Description").val(obj.Description);
                            $("#txt_Rank").val(obj.Rank);
                        }
                        else {
                            Utils.OpenNotify(r.Message, "Thông báo", "error");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI("#modalEdit");
                $("#txt_UnitKey").val(0);
                $("#txt_Rank").val(0);
            }
        }
        function Delete(UnitKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "UnitKey": UnitKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }

    </script>
}


