﻿@model Order_Model
@{
    ViewBag.Title = "Print";
    Layout = null;

    string[] Data = new string[4] { "HÓA ĐƠN BÁN HÀNG", "GHI CHÚ", "CÁM ƠN QUÝ KHÁCH", "" };
    if (ViewBag.BillConfig != null)
    {
        Data = (ViewBag.BillConfig as string).Split('|');
    }
}

<div id="printSection" style="width:100%; background:white">
    <div style="text-align:center;">
        <p>
            @if (Data[3] == string.Empty)
            {
                <img src="@ViewBag.StoreLogo" style="max-width:100%; height:70px" />
            }
            else
            {
                <img src="@Data[3]" style="max-width:100%; height:70px" />
            }
        </p>
        <p style="margin-bottom:0px; margin-top:0px">
            <span>
                <b>@ViewBag.StoreName</b>
            </span>
        </p>
        <p style="margin-bottom:0px; margin-top:0px">
            <span>
                <b>@ViewBag.StorePhone</b>
            </span>
        </p>
        <p style="margin-bottom:0px; margin-top:0px">
            <span>
                <b>@ViewBag.StoreAddress</b>
            </span>
        </p>
    </div>
    <div style="border-top:1px solid #08c; padding-top:10px; text-align:center;">
        <p style="margin-bottom:0px">
            <span>
                <b>@Data[0]</b>
            </span>
        </p>
    </div>
    <div style="clear:both;">
        <div style="text-align:center; ">Ngày: @Model.OrderDate.ToString("dd/MM/yyyy hh:mm")</div><br />
        <div style="clear:both;">
            <span style="font-size:12px">KH: @Model.BuyerName</span>
            <br />
            <span style="font-size:12px">ĐT:@Model.BuyerPhone</span>
            <br />
            <br />
            <div style="clear:both;">
                <table style="width:100%" cellspacing="0" border="0">
                    <tbody>
                        @{
                            foreach (var item in Model.ListItem)
                            {
                                if (item.AmountDiscount > 0)
                                {
                                    <tr>
                                        <td style="border-top:1px dashed #08c;">
                                            @item.ObjectName
                                            <br />
                                            <span style="font-style:italic">
                                                @item.Quantity x @item.ObjectPrice.FormatMoneyFromObject() x @item.PercentDiscount % = <span style="float:right">@item.AmountWithVAT.FormatMoneyFromObject()</span>
                                            </span>
                                            <br />
                                            <br />
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td style="border-top:1px dashed #08c;">
                                            @item.ObjectName
                                            <br />
                                            <span style="font-style:italic; font-weight:bolder">
                                                @item.Quantity x @item.ObjectPrice.FormatMoneyFromObject() = <span style="float:right">@item.AmountWithVAT.FormatMoneyFromObject()</span>
                                            </span>
                                            <br />
                                            <br />
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="border-top:1px dashed #08c;">
                                <br />
                                <span style="float:right; font-weight:bold">Tổng: @Model.AmountOrder.FormatMoneyFromObject()</span>
                            </td>
                        </tr>
                        @if (Model.PercentDiscount > 0)
                        {
                            <tr>
                                <td style="text-align:right; font-weight:bold">
                                    Giảm giá @Model.PercentDiscount (%): @Model.AmountDiscount.FormatMoneyFromObject()
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right; font-weight:bold">
                                    Tạm tính: @((Model.AmountOrder - Model.AmountDiscount).FormatMoneyFromObject())
                                </td>
                            </tr>
                        }
                        @if (Model.AmountReceived > Model.AmountCurrencyMain)
                        {
                            <tr>
                                <td style="text-align:right; font-weight:bold">
                                    Khách gửi: @Model.AmountReceived.FormatMoneyFromObject()
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right; font-weight:bold">
                                    Hoàn lại: @Model.AmountReturned.FormatMoneyFromObject()
                                </td>
                            </tr>
                        }
                    </tfoot>
                </table>
                <br>
                <div style="text-align:center; font-weight:bold">NV: @Model.CreatedName</div>
                <br />
                <div style="border-top:1px solid #08c; padding-top:10px;">
                    <p style="text-align:center; margin:0 auto;margin-top:5px;">@Model.OrderStatusName</p>
                    <div style="clear:both;">
                        <p style="text-align:center; margin:0 auto;margin-top:5px;">@Data[2]</p>
                        <p style="text-align:center; margin:0 auto;margin-top:10px;">@Data[1]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>