﻿@{
    Layout = null;
    List<Product_Model> _ListProduct = new List<Product_Model>();
    if (ViewBag.ListProduct != null)
    {
        _ListProduct = ViewBag.ListProduct as List<Product_Model>;
    }
}


<table class="table table-sm bg-white" id="tblProduct">
    @{
        if (_ListProduct.Count > 0)
        {
            for (int i = 0; i < _ListProduct.Count; i++)
            {
                #region [Info]
                Product_Model zModel = _ListProduct[i];
                string Key = zModel.ProductKey;
                string No = (i + 1).ToString();
                string ProductID = zModel.ProductID;
                string ProductName = zModel.ProductName;
                double StandardCost = zModel.StandardCost;
                double SalePrice = zModel.SalePrice;
                float SafetyInStock = zModel.SafetyInStock;
                string Photo = zModel.PhotoPath;
                if (Photo == string.Empty)
                {
                    Photo = Helper.NoImage;
                }
                #endregion

                <tr productkey="@Key" class="rocket">
                    <td style="width:100px">
                        <img src="@Url.Content(Photo)" class="rounded"
                             style="width:100px; height:100px" />
                    </td>
                    <td>
                        <h3 style="font-size:14px" class="mt-0">@ProductName</h3>
                        <h4 class="text-danger font-weight-semibold">
                            <span class="number float-right">@SalePrice</span>
                            <span class="d-none">SL: 0</span>
                        </h4>
                    </td>
                </tr>
            }
        }
    }
</table>
