﻿@model Order_Model
@{
    ViewBag.Title = "Sale";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";


    List<Product_Category_Model> _ListCategory = new List<Product_Category_Model>();
    if (ViewBag.ListCategory != null)
    {
        _ListCategory = ViewBag.ListCategory as List<Product_Category_Model>;
    }
}
@section style{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .ui-menu {
            z-index: 10001;
        }

        .bg-orange {
            background-color: orange;
        }

        :root {
            --input-padding-x: .75rem;
            --input-padding-y: .75rem
        }

        .form-control {
            min-height: 2.7rem !important;
        }

        .form-label-group {
            position: relative;
            margin-bottom: 0.3rem
        }

            .form-label-group > input, .form-label-group > label {
                padding: var(--input-padding-y) var(--input-padding-x)
            }

            .form-label-group > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0;
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out
            }

            .form-label-group input::-webkit-input-placeholder {
                color: transparent
            }

            .form-label-group input:-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-moz-placeholder {
                color: transparent
            }

            .form-label-group input::placeholder {
                color: transparent
            }

            .form-label-group input:not(:placeholder-shown) {
                padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2/3));
                padding-bottom: calc(var(--input-padding-y)/3)
            }

                .form-label-group input:not(:placeholder-shown) ~ label {
                    padding-top: calc(var(--input-padding-y)/3);
                    padding-bottom: calc(var(--input-padding-y)/3);
                    font-size: 14px;
                    color: #777
                }
    </style>
    <style>
       
        .sidebar {
            z-index: 9999;
            right: 0;
            top: 110px;
            height: 100%;
            position: fixed;
            background-color: #ffdeac;
            -webkit-transition: margin 0.3s ease;
            -moz-transition: margin 0.3s ease;
            -o-transition: margin 0.3s ease;
            transition: margin 0.3s ease;
        }

        .collapsed {
            display: none;
        }
    </style>
}

<header class="page-header">
    <h2>BÁN HÀNG</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-6 pr-0">
        <section class="card">
            <div class="card-header p-2">
                <div class="row">
                    <div class="col-md-7 col-sm-6 col-lg-6 pr-0">
                        <h4>Đơn hàng số: [Tự động phát sinh]</h4>
                    </div>
                    <div class="col-md-5 col-sm-6 col-lg-6 pl-0 text-right">
                        <button type="button" class="btn btn-primary" id="btn_NewOrder" onclick="NewOrder()">
                            <i class="fas fa-plus"></i>
                            Lập mới
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body nano" id="LeftPanel" data-loading-overlay>
                <div class="nano-content">
                    <div class="row m-0">
                        <div class="col-md-12 p-0" id="divCart">
                            @{
                                if (Model != null && Model.ListItem.Count > 0)
                                {
                                    @Html.Action("Detail_SaleOrder", "Desktop")
                                }
                                else
                                {
                                    <div class="alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <strong>Bạn chưa có sản phẩm nào trong giỏ hàng !</strong>.
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer p-0">
                <div class="card">
                    <input type="hidden" class="form-control" placeholder="." id="txt_BuyerKey">
                    <input type="hidden" class="form-control" placeholder="." id="txt_BuyerAddress">
                    <div class="form-label-group mb-0">
                        <input type="text" class="form-control" placeholder="." id="txt_BuyerPhone">
                        <label for="txt_BuyerPhone">Số điện thoại</label>
                    </div>
                    <div class="form-label-group mb-0">
                        <input type="text" class="form-control" placeholder="." id="txt_BuyerName">
                        <label for="txt_BuyerName">Tên khách hàng</label>
                    </div>
                </div>
                <div class="row m-0 border border-top">
                    <div class="col-md-12 p-0">
                        <table class="table mb-0 text-white table-sm">
                            <tr>
                                <td class="bg-primary " style="vertical-align:middle">
                                    <h4 class="font-weight-bolder">
                                        Thanh toán
                                        <span class="number float-right" id="txtMustPay">@Model.AmountOrder</span>
                                    </h4>
                                </td>
                                <td style="vertical-align:middle; width:16%" class="text-white bg-orange text-center">
                                    <a href="#" class="text-white" onclick="Preview()">
                                        <i class="fas fa-chevron-right fa-3x"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="card">
            <div class="card-header p-2">
                <div class="row">
                    <div class="col-md-7 col-sm-6 col-lg-6 pr-0">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Tên/ Mã sản phẩm" id="txt_ProductName">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-info" id="btn_Search">
                                    <i class="fas fa-search"></i>Tìm
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-lg-6 pl-0 text-right" id="btn_MostBuy">
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-filter"></i>Bán chạy
                        </button>
                        <button type="button" class="btn btn-primary" id="btn_NewImport">
                            <i class="fas fa-filter"></i>Mới nhập
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body nano" id="RightPanel">
                <div class="nano-content" id="divProduct">
                    @Html.Action("Product_Select", "Desktop", new { For = "SO" })
                </div>
            </div>
            <div class="card-footer border-primary">

            </div>
        </section>
    </div>
</div>
<button type="button" class="btn btn-warning toggle-sidebar-right" style="
    position: fixed;
    top: 250px;
    right: 0;">
    <i class="fab fa-searchengin fa-3x"></i>
</button>
<div class="col-md-3 sidebar collapsed" id="sidebar-right">
    <section class="card row">
        <header class="card-header bg-transparent">
            <div class="card-actions">
                <button type="button" class="close toggle-sidebar-right" aria-hidden="true">×</button>
            </div>
            <h2 class="card-title">Nhóm hàng</h2>
        </header>
        <div class="nano " style="height:100vh">
            <div class=" nav-main nano-content">
                <ul class="nav nav-main">
                    <li style="border-bottom: 1px solid cornsilk;">
                        <a class="nav-link" onclick="LoadProduct(0)">
                            <span class="font-weight-bolder">Tất cả</span>
                        </a>
                    </li>
                    @{
                        foreach (Product_Category_Model zItem in _ListCategory)
                        {
                            <li style="border-bottom: 1px solid cornsilk;">
                                <a class="nav-link" onclick="LoadProduct(@zItem.CategoryKey)">
                                    <span class="font-weight-bolder">@zItem.CategoryNameVN</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </section>

</div>
<div id="modalPayment" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

</div>
<div id="modalPrint" class="zoom-anim-dialog modal-block modal-block-sm modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Bản in mẫu</h2>
        </div>
        <div class="card-body" id="printdata">
        </div>
        <div class="card-footer text-right">            
            <button type="button" class="btn btn-outline-purple modal-dismiss float-left" onclick="CancelOrder('')">
                <i class="fas fa-trash fa-2x"></i>
                Hủy đơn
            </button>
            <button type="button" class="btn btn-outline-purple" onclick="printDiv();">
                <i class="fa fa-print fa-2x"></i>
                In
            </button>
            <button type="button" class="btn btn-outline-purple modal-dismiss" onclick="window.location.reload(true);">
                <i class="far fa-times-circle fa-2x"></i>
                Đóng
            </button>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        var URL_GetCustomerByPhone = "@Url.Action("GetCustomerByPhone", "Desktop")";
        var URL_LoadProduct = "@Url.Action("Product_Select", "Desktop")";
        var URL_AutoComplete = "@Url.Action("AutoNumber", "Desktop")";

        var URL_AddToCard = "@Url.Action("AddItem_SaleOrder_Unit", "Desktop")";
        var URL_EditCart = "@Url.Action("EditItem_SaleOrder", "Desktop")";
        var URL_Remove = "@Url.Action("DelItem_SaleOrder","Desktop")";

        var URL_NewOrder = "@Url.Action("SaleOrderNew", "Desktop")";
        var URL_CheckCart = "@Url.Action("Check_SaleOrder", "Desktop")";
        var URL_Sum = "@Url.Action("Sum_SaleOrder","Desktop")";
        var URL_Save = "@Url.Action("Save_SaleOrder","Desktop")";

        var URL_Print = "@Url.Action("Print_SaleOrder", "Desktop")";
        var URL_CancelOrder = "@Url.Action("Cancel_SaleOrder", "Desktop")";
    </script>
    <script src="@Url.Content("~/Assets/App_JS/DesktopJS/SO/SaleOrder_Unit.js")"></script>
}
