﻿
@{
    ViewBag.Title = "ListInvoice";
    Layout = "~/Views/Desktop/_Layout.cshtml";

    List<Invoice_Model> _ListInvoice = new List<Invoice_Model>();
    if (ViewBag.ListInvoice != null)
    {
        _ListInvoice = ViewBag.ListInvoice as List<Invoice_Model>;
    }

    List<Invoice_Model> _ListInvoiceIN = new List<Invoice_Model>();
    if (ViewBag.ListInvoiceIN != null)
    {
        _ListInvoiceIN = ViewBag.ListInvoiceIN as List<Invoice_Model>;
    }
}
<style>
    .select2-results__option[aria-selected=true] {
        display: none;
    }

    .select2-selection--multiple {
        overflow: hidden !important;
        height: auto !important;
    }
</style>
<header class="page-header">
    <h2>Hóa đơn</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>

                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <form method="post" action="@Url.Action("SearchInvoice","Financial")">
                    <div class="form-group row">
                        <label class="col-md-2">Từ ngày</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="txt_FromDate" name="FromDate" placeholder="">
                        </div>
                        <label class="col-md-2">Đến ngày</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="txt_ToDate" name="ToDate" placeholder="">
                        </div>
                        <div class="col-md-2">
                            <button id="btn_Search" type="submit" class="btn btn-outline-primary">
                                <i class="far fa-save"></i>
                                Tìm
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-sm Custom">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th class="p-0" style="vertical-align: middle;"><input type="text" class="form-control" id="txt_SearchInvoiceID" name="SearchID" placeholder="Số hóa đơn"></th>
                        <th>Ngày</th>
                        <th class="p-0" style="vertical-align: middle;">
                            <select id="cbo_InvoiceType" class="form-control select2" name="SearchType">
                                <option value="" selected>Loại</option>
                                <option value="IN">Hóa đơn vào</option>
                                <option value="OUT">Hóa đơn ra</option>
                            </select>
                        </th>
                        <th>Khấu trừ</th>
                        <th>Tên đối tác</th>
                        <th>Tiền chưa VAT</th>
                        <th>Tiền VAT</th>
                        <th>Tổng tiền</th>
                        <th class="text-right">
                            <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Detail('')">
                                <i class="fa fa-plus"></i>
                                Thêm mới
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody id="tblBody">

                    @{

                        if (_ListInvoice.Count > 0)
                        {

                            for (int i = 0; i < _ListInvoice.Count; i++)
                            {
                                #region Info
                                Invoice_Model zModel = _ListInvoice[i];
                                string Key = zModel.InvoiceKey;
                                string No = (i + 1).ToString();
                                string InvoiceID = zModel.InvoiceID;
                                string InvoiceType = zModel.InvoiceType;
                                string CategoryName = zModel.CategoryName;
                                string InvoiceDate = zModel.InvoiceDate.ToString("dd/MM/yyyy");
                                string PartnerName = zModel.PartnerName;
                                double AmountNotV = zModel.AmountNotV;
                                double AmountVat = zModel.AmountVat;
                                double AmountTotal = zModel.AmountTotal;
                                string zName = "";
                                if (InvoiceType == "IN")
                                {
                                    zName = "Hóa đơn vào";
                                }
                                if (InvoiceType == "OUT")
                                {
                                    zName = "Hóa đơn Ra";
                                }
                                #endregion

                                <tr>
                                    <th>@No</th>
                                    <td>@InvoiceID</td>
                                    <td>@InvoiceDate</td>
                                    <td>@zName</td>
                                    <td>@CategoryName</td>
                                    <td>@PartnerName</td>
                                    <td class="number">@AmountNotV</td>
                                    <td class="number">@AmountVat</td>
                                    <td class="number">@AmountTotal</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Detail('@Key')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Key')">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }  /**/
                        }
                        else
                        {
                            <tr>
                                <td colspan="7">
                                    <div class="alert alert-primary">
                                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                    </div>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin hóa đơn</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số hóa đơn</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_InvoiceID" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Phân loại hóa đơn</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_InvoiceType" class="form-control select2" name="Branch">
                        @{
                            <option value="IN">Hóa đơn vào</option>
                            <option value="OUT">Hóa đơn ra</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Ngày xuất hóa đơn</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_InvoiceDate" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Khấu trừ</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Category" class="form-control select2" name="Branch">
                        @{
                            <option value="0">Trực tiếp</option>
                            <option value="1">Dùng chung</option>
                            <option value="2">Tồn kho</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Tên đối tác</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control " id="txt_PartnerName" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Mã số thuế</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control " id="txt_PartnerTax" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số tiền chưa VAT</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control number" id="txt_AmountNotV" value="0" placeholder="" onblur="TotalAmout()">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số tiền VAT</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control number" id="txt_AmountVat" value="0" placeholder="" onblur="TotalAmout()">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Tổng tiền</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control number" id="txt_AmountTotal" value="0" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Tập tin</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control " id="txt_FileAttach" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">VAT đầu vào</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_ReferenceInvoice" class="form-control select2" name="Branch" multiple="multiple">
                        @{
                            foreach (Invoice_Model zItem in _ListInvoiceIN)
                            {
                                <option value="@zItem.InvoiceKey">@zItem.InvoiceID</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="card-footer border-primary text-center">
                <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                    <i class="far fa-save"></i>
                    Cập nhật
                </button>
            </div>
        </div>
    </div>
    <input id="txt_InvoiceKey" type="hidden" name="FeaKey" value="" />
</div>
@section Scripts{
    <script>
         var URL_Detail = '@Url.Action("DetailInvoice", "Financial")';
         var URL_Delete = '@Url.Action("DeleteInvoice", "Financial")';
         var URL_Save = '@Url.Action("SaveInvoice", "Financial")';
    </script>
    <script>
        $(document).ready(function () {

        });
        function Save() {
            var InvoiceKey = $('#txt_InvoiceKey').val();
            var InvoiceID = $('#txt_InvoiceID').val();
            var InvoiceType = $('#cbo_InvoiceType').val();
            var InvoiceDate = Utils.ConvertToYYYYMMDD($('#txt_InvoiceDate').val());
            var CategoryKey = $('#cbo_Category').val();
            var CategoryName = $("#cbo_Category option:selected").text();
            var PartnerName = $('#txt_PartnerName').val();
            var PartnerTax = $('#txt_PartnerTax').val();
            var AmountNotV = $("#txt_AmountNotV").val();
            var AmountVat = $("#txt_AmountVat").val();
            var AmountTotal = $("#txt_AmountTotal").val();
            var FileAttach = $("#txt_FileAttach").val();
            var ReferenceInvoice = $("#cbo_ReferenceInvoice").val().join(", ");

            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "InvoiceKey": InvoiceKey,
                    "InvoiceID": InvoiceID,
                    "InvoiceType": InvoiceType,
                    "InvoiceDate": InvoiceDate,
                    "CategoryKey": CategoryKey,
                    "CategoryName": CategoryName,
                    "PartnerName": PartnerName,
                    "PartnerTax": PartnerTax,
                    "AmountNotV": AmountNotV,
                    "AmountVat": AmountVat,
                    "AmountTotal": AmountTotal,
                    "FileAttach": FileAttach,
                    "ReferenceInvoice": ReferenceInvoice,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Detail(InvoiceKey) {
            Utils.OpenMagnific('#modalEdit');
            if (InvoiceKey != "") {
                $.ajax({
                    url: URL_Detail,
                    type: 'GET',
                    data: {
                        "InvoiceKey": InvoiceKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);

                            var InvoiceDate = Utils.ConvertToDDMMYYYY(obj.InvoiceDate);

                            $('#txt_InvoiceKey').val(obj.InvoiceKey);
                            $('#txt_InvoiceID').val(obj.InvoiceID);
                            $('#cbo_InvoiceType').val(obj.InvoiceType).trigger('change');
                            $('#txt_InvoiceDate').val(InvoiceDate);
                            $('#cbo_Category').val(obj.CategoryKey).trigger('change');
                            $('#txt_PartnerName').val(obj.PartnerName);
                            $('#txt_PartnerTax').val(obj.PartnerTax);
                            $('#txt_AmountNotV').val(obj.AmountNotV);
                            $('#txt_AmountVat').val(obj.AmountVat);
                            $('#txt_AmountTotal').val(obj.AmountTotal);
                            $('#txt_FileAttach').val(obj.FileAttach);
                            $('#cbo_ReferenceInvoice').val(obj.ReferenceInvoice).trigger('change');

                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI('#modalEdit');
                $('#txt_AmountVat').val(0);
                $('#txt_AmountNotV').val(0);
                $('#txt_AmountTotal').val(0);

            }
        }
        function Delete(InvoiceKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "InvoiceKey": InvoiceKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
        function TotalAmout() {
            var AmountNotV = $("#txt_AmountNotV").val();
            var AmountVat = $("#txt_AmountVat").val();
            var AmountTotal = 0;
            AmountTotal = parseFloat(AmountNotV) + parseFloat(AmountVat);
            $("#txt_AmountTotal").val(AmountTotal);
        }
    </script>
}