﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Simple APP</title>
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <!-- themes/vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/animate/animate.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/font-awesome/css/all.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/jstree/themes/default/style.css")" />
    <!-- Specific Page themes/vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/jquery-ui/jquery-ui.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/jquery-ui/jquery-ui.theme.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/jquery-confirm/css/jquery-confirm.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/magnific-popup/magnific-popup.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/pnotify/pnotify.custom.css")" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/css/theme.css")" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/css/skins/default.css")" />
    <!-- Head Libs -->
    <script src="@Url.Content("~/assets/themes/vendor/modernizr/modernizr.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/assets/App_Css/LayoutDesktop.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/App_Css/LayoutMobile.css")" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .ui-menu {
            z-index: 10001;
        }

        .bg-orange {
            background-color: orange;
        }

        :root {
            --input-padding-x: .75rem;
            --input-padding-y: .75rem
        }

        .form-control {
            min-height: 2.7rem !important;
        }

        .form-label-group {
            position: relative;
            margin-bottom: 0.3rem
        }

            .form-label-group > input, .form-label-group > label {
                padding: var(--input-padding-y) var(--input-padding-x)
            }

            .form-label-group > label {
                position: absolute;
                font-weight: bolder;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0;
                line-height: 0.7;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out
            }

            .form-label-group input::-webkit-input-placeholder {
                color: transparent
            }

            .form-label-group input:-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-moz-placeholder {
                color: transparent
            }

            .form-label-group input::placeholder {
                color: transparent
            }

            .form-label-group input:not(:placeholder-shown) {
                padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2/3));
                padding-bottom: calc(var(--input-padding-y)/3)
            }

                .form-label-group input:not(:placeholder-shown) ~ label {
                    padding-top: calc(var(--input-padding-y)/3);
                    padding-bottom: calc(var(--input-padding-y)/3);
                    font-size: 14px;
                    color: #777
                }
    </style>
</head>
<body style="background-image: url(/assets/themes/img/bg_mobile.jpg);">
    <div class="se-pre-con" style="background: #3498db;">
        <div class="book">
            <div class="book__page"></div>
            <div class="book__page"></div>
            <div class="book__page"></div>
        </div>
    </div>
    <section class="body">
        <header class="header">
            
        </header>
        <div class="inner-wrapper"
             style="padding-top:15px;">
            <section role="main" class="container-fluid p-0">
                @RenderBody()
            </section>
        </div>
    </section>
    <script src="@Url.Content("~/assets/themes/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/jquery-browser-mobile/jquery.browser.mobile.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/popper/umd/popper.min.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/bootstrap/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/common/common.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/nanoscroller/nanoscroller.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/magnific-popup/jquery.magnific-popup.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/moment/moment.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/jquery-confirm/js/jquery-confirm.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/pnotify/pnotify.custom.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/ios7-switch/ios7-switch.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/autosize/autosize.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/inputmask/jquery.inputmask.bundle.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/jquery-validation/jquery.validate.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js")"></script>
    <script src="@Url.Content("~/assets/themes/js/jquery.number.js")"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="@Url.Content("~/assets/themes/vendor/isotope/isotope.js")"></script>
    <script src="@Url.Content("~/assets/themes/js/theme.js")"></script>
    <!-- Theme Initialization Files -->
    <script src="@Url.Content("~/assets/themes/js/theme.init.js")"></script>
    <script src="@Url.Content("~/assets/App_Js/Utils.js")"></script>
    <script src="@Url.Content("~/assets/App_Js/Layout.js")"></script>
    @RenderSection("Scripts", false)
    <script>
    </script>
</body>
</html>
