﻿
@{
    ViewBag.Title = "BillInfo";
    Layout = "~/Views/Shared/_Layout_mHome.cshtml";
    string[] Data = new string[4] { "", "", "", "" };
    if (ViewBag.Data != null)
    {
        string temp = ViewBag.Data as string;
        if (temp.Contains("|"))
        {
            Data = temp.Split('|');
        }
    }
}
<div class="row m-0 border border-top bg-white pageHead">
    <div class="col-md-12 p-0">
        <table class="table table-borderd">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a href="@Url.RouteUrl("mCaiDat")">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4>Mẫu in hóa đơn</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a href="#" id="btn_Save" style="display:inline-block;width: 100%;">
                        <i class="fas fa-2x fa-check"></i>
                    </a>
                </td>
            </tr>
        </table>

    </div>
</div>
<form class="card" action="@Url.Action("BillConfig","Mobile")" method="post" enctype="multipart/form-data" id="frmSubmit">
    <div class="card-body" style="padding-top:72px !important;">
        <div class="form-group mt-2 text-center">
            @if (Data[3] == string.Empty)
            {
                <img id="imgpreview" src="@Url.Content("~/assets/themes/img/unnamed.png")" alt="your image" style="height:200px;" />
            }
            else
            {
                <img id="imgpreview" src="@Url.Content(Data[3])" alt="your image" style="height:200px;" />
            }
            <br />
            <input type="file" id="fileListPhoto" multiple name="files" accept="image/*;capture=camera" style="display:none;">
           <span class="text-danger">Lưu ý: Phần mềm sẽ tự động lấy logo cửa hàng nếu logo hóa đơn để trống</span>
        </div>
        <div class="form-label-group">
            <label class="" for="txt_Title">
                Tiêu đề hóa đơn
            </label>
            <input type="text" class="form-control" name="Title" value="@Data[0]" id="txt_Title">
        </div>

        <div class="form-label-group">
            <textarea class="form-control" name="Description" id="txt_Description" placeholder="Ghi chú hóa đơn">@Data[1]</textarea>
        </div>
        <div class="form-label-group">
            <label class="" for="txt_End">
                Cuối hóa đơn
            </label>
            <input type="text" class="form-control" name="End" value="@Data[2]" id="txt_End">
        </div>
    </div>
    <div class="card-footer text-center">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>@ViewBag.Message</strong>.
            </div>
        }
    </div>
</form>

@section scripts{
    <script>
        $(".header").remove();
        $("#btn_Save").click(function () {
            $("#frmSubmit").submit();
        });
        $("#imgpreview").click(function () {
            $("#fileListPhoto").trigger('click');
        });
        $("#fileListPhoto").change(function () {
            Utils.PreviewImg(this, "#imgpreview");
            var str = $("#imgpreview").attr("src");
            $("#txt_Base64String").val(str);
        });
    </script>
}
