﻿
@{
    ViewBag.Title = "CategoryProduct";
    Layout = "~/Views/Shared/_Layout_mHome.cshtml";
    var _ListData = new List<Product_Category_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Product_Category_Model>;
    }
}
<div class="row m-0 border border-top bg-white pageHead">
    <div class="col-md-12 p-0">
        <table class="table table-borderd mb-0">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a href="@Url.RouteUrl("mCaiDat")">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4>Danh mục sản phẩm</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a href="#" onclick="Save(0)">
                        <i class="fas fa-2x fa-plus"></i>
                    </a>
                </td>
            </tr>
        </table>

    </div>
</div>
<div class="bg-white" style="padding-top:72px !important;">
    @foreach (Product_Category_Model zItem in _ListData)
    {
        <div class="form-group row mb-0" key="@zItem.CategoryKey">
            <div class="col-12">
                <div class="input-group">
                    <input type="text" class="form-control rounded-0" placeholder="" key="@zItem.CategoryKey" value="@zItem.CategoryNameVN" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-primary rounded-0"
                                onclick="Save(@zItem.CategoryKey)">
                            <i class="far fa-save"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-0"
                                onclick="Delete(@zItem.CategoryKey)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        var URL_Save = "@Url.Action("SaveCategoryProduct", "Mobile")";
        var URL_Delete = "@Url.Action("DeleteProductCategory", "Mobile")";
        var height = $(window).height() - 350;

        $(document).ready(function () {
            $(".header").remove();
        });

        function Delete(Key) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "CategoryKey": Key,
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        $("div[key=\"" + Key + "\"]")
                                            .css({ 'background': 'red', 'color': 'white' })
                                            .fadeOut(500, function () { $(this).remove(); });
                                    }
                                    else {
                                        alert(r.Message);
                                    }
                                },
                                error: function (err) {
                                    console.log(err.responseText);
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function Save(Key) {
            var name = 'Nội dung mới';
            if (Key != 0)
            {
                name = $("input[key=" + Key + "]").val();
            }
            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "CategoryKey": Key,
                    "CategoryName": name,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        alert(r.Message);
                    }
                },
                error: function (err) {
                    console.log(err.responseText);
                },
                complete: function () {

                }
            });
        }
    </script>
}