﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_mHome.cshtml";

    var ListSetting = new List<User_Role>();
    if (Session["User_Model"] != null)
    {
        User_Model zModel = Session["User_Model"] as User_Model;
        if (zModel.ListRole.Count > 0)
        {
            ListSetting = zModel.ListRole.Where(s => s.Level == 2).ToList();
        }
    }
}

<div class="row">
    <div class="col-12">
        <table class="table Custom bg-white" id="tblMenu">
            <tbody>
                @foreach (User_Role Item in ListSetting)
                {
                    string Action = Item.ActionName;
                    string Control = Item.ControllerName;
                    string Icon = Item.Icon;
                    string Name = Item.RoleName;

                    <tr link="@Url.Action(Action,Control)">
                        <td class="">
                            <i class="@Icon"></i>
                        </td>
                        <td>@Name</td>
                        <td>
                            <i class="fas fa-angle-right"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    <div class="row m-0 border border-top bg-white" style="position: fixed; top:0px; width:100%; height:72px; z-index:1000">
        <div class="col-md-12 p-0">
            <table class="table table-borderd">
                <tr>
                    <td class="text-center" style="vertical-align: middle; width:15%">
                        <a href="@Url.RouteUrl("mTrangChu")">
                            <i class="fas fa-2x fa-angle-left"></i>
                        </a>
                    </td>
                    <td class="text-center" style="vertical-align: middle;">
                        <h4>Cài đặt</h4>
                    </td>
                    <td class="text-center" style="vertical-align: middle; width:15%">
                        <a href="@Url.RouteUrl("mTrangChu")">
                            <i class="fas fa-2x fa-home"></i>
                        </a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
@section scripts{
    <script>
        $(document).ready(function () {
            
            $('#tblMenu tr').click(function () {
                var href = $(this).attr("link");
                if (href) {
                    window.location = href;
                }
            });

        });
    </script>
}
