﻿
@{
    /**/

    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
    List<Order_Model> _ListOrder = new List<Order_Model>();
    if (ViewBag.ListOrder != null)
    {
        _ListOrder = ViewBag.ListOrder as List<Order_Model>;
    }
    List<Payment_Model> _ListPayment = new List<Payment_Model>();
    if (ViewBag.ListPayment != null)
    {
        _ListPayment = ViewBag.ListPayment as List<Payment_Model>;
    }

    double OrderTotal = ViewBag.OrderTotal,
    Amount = ViewBag.SaleAmount,
    Debt = ViewBag.OrderDebt,
    Income = ViewBag.InCome,
    Payment = ViewBag.Payment,
    Stock = 0;
}
<style>
    .bg-purple {
        background-color: purple;
    }

    .bg-orange {
        background-color: orange;
    }
</style>
<header class="page-header">
    <h2>Thống kê bán hàng</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-12">
        <form action="@Url.Action("Index","Home")" id="formSubmit">
            <table class="table table-sm Custom mb-0">
                <tr>
                    <td class="text-left">
                        <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Prev">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <h4 class="font-weight-semibold text-primary">
                            @ViewBag.FromDate -  @ViewBag.ToDate
                        </h4>
                    </td>
                    <td class="text-right">
                        <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Next">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </td>
                </tr>
            </table>

            <input type="hidden" name="FromDate" id="txtStartDate" value="@ViewBag.FromDate" />
            <input type="hidden" name="ToDate" id="txtEndDate" value="@ViewBag.ToDate" />
            <input type="hidden" name="Option" id="txtOption" value="@ViewBag.Option" />
            <input type="hidden" name="Color" value="#383f4882,#0088cc82,#e361598f,#2baab194,#8000807a,#ffa50080" />
        </form>
    </div>
</div>
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>@ViewBag.Message</strong>
    </div>
}
<div class="row pt-0">
    <div class="col-2">
        <section class="card mb-4">
            <div class="card-body bg-quaternary p-2">
                <div class="widget-summary">
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Đơn hàng</h4>
                            <div class="info">
                                <strong class="amount">@OrderTotal.FormatMoneyFromObject()</strong>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <div class="checkbox-custom checkbox-default text-white float-right">
                                <input type="checkbox" checked="" id="chkSale" value="DONHANG">
                                <label for="chkSale">Xem</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-2">
        <section class="card mb-4">
            <div class="card-body bg-primary p-2">
                <div class="widget-summary">
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Doanh số</h4>
                            <div class="info">
                                <strong class="amount">@Amount.FormatMoneyFromObject()</strong>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <div class="checkbox-custom checkbox-default text-white float-right">
                                <input type="checkbox" checked="" id="chkAmount" value="DOANHSO">
                                <label for="chkAmount">Xem</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-2">
        <section class="card mb-4">
            <div class="card-body bg-secondary p-2">
                <div class="widget-summary">

                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Thu bán hàng</h4>
                            <div class="info">
                                <strong class="amount">@Debt.FormatMoneyFromObject()</strong>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <div class="checkbox-custom checkbox-default text-white float-right">
                                <input type="checkbox" checked="" id="chkDebt" value="THUBANHANG">
                                <label for="chkDebt">Xem</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-2">
        <section class="card mb-4">
            <div class="card-body bg-tertiary p-2">
                <div class="widget-summary">

                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Thu khác</h4>
                            <div class="info">
                                <strong class="amount">@Income.FormatMoneyFromObject()</strong>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <div class="checkbox-custom checkbox-default text-white float-right">
                                <input type="checkbox" checked="" id="chkIncome" value="THUKHAC">
                                <label for="chkIncome">Xem</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-2">
        <section class="card mb-4">
            <div class="card-body bg-purple p-2">
                <div class="widget-summary">
                    <div class="widget-summary-col ">
                        <div class="summary">
                            <h4 class="title text-white">Chi phí</h4>
                            <div class="info">
                                <strong class="amount text-white">@Payment.FormatMoneyFromObject()</strong>
                            </div>
                        </div>
                        <div class="summary-footer" style="border-top: 1px solid #fff;border-top-color: rgba(255, 255, 255, 0.2);">
                            <div class="checkbox-custom checkbox-default text-white float-right">
                                <input type="checkbox" checked="" id="chkIncome" value="CHIPHI">
                                <label for="chkIncome">Xem</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-2">
        <section class="card mb-4">
            <div class="card-body bg-orange p-2">
                <div class="widget-summary">
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title text-white">Khách mới</h4>
                            <div class="info">
                                <strong class="amount text-white">@Stock</strong>
                            </div>
                        </div>
                        <div class="summary-footer" style="border-top: 1px solid #fff;border-top-color: rgba(255, 255, 255, 0.2);">
                            <div class="checkbox-custom checkbox-default text-white float-right">
                                <input type="checkbox" checked="" id="chkIncome" value="TON">
                                <label for="chkIncome">Xem</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row pt-0">
    <div class="col-12">
        <section class="card mb-4">
            <div class="card-body" style="position: relative; height:45vh;">
                <canvas id="canvas"></canvas>
            </div>
        </section>
    </div>
</div>
<div class="row pt-0">
    <div class="col-12">
        <div class="card-body">
            @if (_ListOrder.Count > 0)
            {
                <table class="table Custom table-sm" id="tblData" style="min-width:max-content">
                    <thead>
                        <tr>
                            <th>Số đơn hàng</th>
                            <th>Ngày lập</th>
                            <th>Khách hàng</th>
                            <th>Tình trạng</th>
                            <th>Số tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < _ListOrder.Count; i++)
                        {
                            #region [Info]
                            Order_Model zModel = _ListOrder[i];
                            string Key = zModel.OrderKey;
                            string Name = zModel.BuyerName;
                            string Phone = zModel.BuyerPhone;
                            string Address = zModel.BuyerAddress;
                            string OrderID = zModel.OrderID;
                            string OrderDate = zModel.OrderDate.ToString("dd/MM/yyyy");
                            string Status = zModel.StatusName;
                            double Money = zModel.AmountOrderIncVAT;
                            #endregion

                            <tr key="@Key">
                                <td>@OrderID</td>
                                <td>@OrderDate</td>
                                <td>
                                    <div>@Name</div>
                                    <div><i class="fas fa-mobile"></i> @Phone</div>
                                    <div>@Address</div>
                                </td>
                                @if (zModel.StatusOrder == 9)
                                {
                                    <td class="text-success font-weight-semibold">@Status</td>
                                }
                                else
                                {
                                    <td class="text-warning font-weight-semibold">@Status</td>
                                }
                                <td class="number">@Money</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Chưa có thông tin phát sinh !</strong>.
                </div>
            }
        </div>
    </div>
</div>
<div class="row pt-0">
    <div class="col-12">
        <div class="card-body">
            @if (_ListPayment.Count > 0)
            {
                <table class="table table-sm Custom table-responsive-lg">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Số phiếu</th>
                            <th>Ngày lập</th>
                            <th>Nội dung</th>
                            <th>Số tiền </th>

                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @for (int i = 0; i < _ListPayment.Count; i++)
                        {
                            #region Info
                            Payment_Model zModel = _ListPayment[i];
                            string Key = zModel.PaymentKey;
                            string No = (i + 1).ToString();
                            string PaymentID = zModel.PaymentID;
                            string PaymentDescription = zModel.PaymentDescription;
                            int CategoryKey = zModel.CategoryKey;
                            string CategoryName = zModel.CategoryName;
                            string PaymentDate = zModel.PaymentDate.ToString("dd/MM/yyyy");
                            string CustomerKey = zModel.CustomerKey;
                            string CustomerName = zModel.CustomerName;
                            double AmountCurrencyMain = zModel.AmountCurrencyMain;
                            #endregion

                            <tr>
                                <td>@No</td>
                                <td style="white-space:nowrap">@PaymentID</td>
                                <td>@PaymentDate</td>
                                <td class="longtext">@PaymentDescription</td>
                                <td class="number">@AmountCurrencyMain</td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Chưa có thông tin phát sinh !</strong>.
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    <script src="@Url.Content("~/assets/themes/js/Chart.js")"></script>
    <script src="@Url.Content("~/assets/themes/js/ChartUtils.js")"></script>
    <script src="@Url.Content("~/Assets/App_JS/DesktopJS/SO/Week.js")"></script>
    <script>
        var chk = "@ViewBag.Option";
        $(document).ready(function () {
            
        });

        function renderChart() {
            var ctx = document.getElementById('canvas');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [@Html.Raw(ViewBag.Label)],
                    datasets: [@Html.Raw(ViewBag.Dataset)]
                },
                options: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Biểu đồ'
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                callback: function (value, index, values) {
                                    return kFormatter(value) + ' (đ)';
                                }
                            }
                        }]
                    },
                    showTooltips: false,
                    "animation": {
                        "duration": 1,
                        "onComplete": function () {
                            var chartInstance = this.chart,
                                ctx = chartInstance.ctx;

                            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                            ctx.fillStyle = 'black';
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';

                            this.data.datasets.forEach(function (dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function (bar, index) {
                                    var data = dataset.data[index];
                                    ctx.fillText(addCommas(data), bar._model.x, bar._model.y - 5);
                                });
                            });
                        }
                    },
                }
            });
        }
    </script>
}