﻿
@{
    ViewBag.Title = "TableSample";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
    var _ListPartner = new List<Partner_Model>();
    if (ViewBag.ListPartner != null)
    {
        _ListPartner = ViewBag.ListPartner as List<Partner_Model>;
    }
}

<header class="page-header">
    <h2>Copy dữ liệu</h2>
    <div class="right-wrapper text-right" style="margin-right:10px">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ol>
    </div>
</header>
<form class="card" action="@Url.Action("CopySample","Admin")" method="post" enctype="multipart/form-data" id="frmSubmit">
    <div class="card-body">
        <div class="form-group">
            <select id="cbo_PartnerSource" class="form-control rounded-0" name="SourcePartner">
                <option value="">--Chọn partner gốc--</option>
                @{
                    foreach (Partner_Model zItem in _ListPartner)
                    {
                        <option value="@zItem.PartnerNumber">@zItem.PartnerName</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <select id="cbo_PartnerDestination" class="form-control rounded-0" name="DestinationPartner">
                <option value="">--Chọn partner cần copy--</option>
                @{
                    foreach (Partner_Model zItem in _ListPartner)
                    {
                        <option value="@zItem.PartnerNumber">@zItem.PartnerName</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="card-footer">
        <button id="btn_Save" type="submit" value="submit" class="btn btn-outline-primary">Copy</button>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>@ViewBag.Message</strong>.
            </div>
        }
    </div>
</form>