﻿@model List<Input_Product_Model>
@{
    Layout = null;
    List<Product_Unit_Model> _ListUnit = new List<Product_Unit_Model>();
    if (ViewBag.ListUnit != null)
    {
        _ListUnit = ViewBag.ListUnit as List<Product_Unit_Model>;
    }
}
<table class="table table-sm bg-white Custom">
    @foreach (Input_Product_Model Item in Model)
    {
        <tr>
            <td class="text-center font-weight-bolder">
                <h1 class="m-0">
                    @Item.QuantityFact
                </h1>
            </td>
            <td>
                <h5 class="font-weight-bolder m-0">@Item.ProductName</h5> X
                <span class="font-weight-bolder m-0 text-success number">
                    @Item.PurchasePrice
                </span>
                <span class="font-weight-bolder m-0">
                    ĐVT: @Item.UnitName
                </span>
                @if (Item.Description.Length > 0)
                {
                    <br />
                    <span style="font-style:italic; font-weight:bolder" class="text-muted">@Item.Description</span>
                }
            </td>
            <td class="text-muted" style="vertical-align: bottom; font-weight:700; font-size:0.85rem">
                <span class="number float-right text-danger">@Item.Amount</span>
            </td>
        </tr>
        <tr style="display:none; background-color:lemonchiffon" name="edit" for="@Item.ProductKey">
            <td class="p-0 text-primary" colspan="3">
                <h5 class="text-center font-weight-bolder">Điều chỉnh</h5>
                <ul style="display:flex; margin:0px; padding:0px; width:100%; list-style:none;">
                    <li style="width:100%; margin: 3px;">
                        <div class="input-group input-group-sm ">
                            <span class="input-group-prepend">
                                <span class="input-group-text font-weight-bolder">ĐVT</span>
                            </span>
                            <select id="cbo_Unit" class="form-control" name="Unit">
                                <option value="0">--Chọn--</option>
                                @{
                                    foreach (Product_Unit_Model zItem in _ListUnit)
                                    {
                                        if (zItem.UnitKey == Item.UnitKey)
                                        {
                                            <option value="@zItem.UnitKey" selected>@zItem.UnitnameVN</option>
                                        }
                                        else
                                        {
                                            <option value="@zItem.UnitKey">@zItem.UnitnameVN</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </li>
                    <li style="width:100%; margin: 3px;">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text font-weight-bolder">SL</span>
                                <button role="button" class="btn btn-default btn-sm" name="btn_Minus" key="@Item.ProductKey">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="number" class="form-control font-weight-bolder text-center" key="@Item.ProductKey" name="txt_Quantity" value="@Item.QuantityFact" />
                            <div class="input-group-append">
                                <button role="button" class="btn btn-default btn-sm" name="btn_Plus" key="@Item.ProductKey">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul style="display:flex; margin:0px; padding:0px; width:100%; list-style:none;">
                    <li style="width:100%; margin: 3px;">
                        <div class="input-group input-group-sm ">
                            <span class="input-group-prepend">
                                <span class="input-group-text font-weight-bolder">Giá nhập</span>
                            </span>
                            <input type="text" class="form-control number" name="txt_PurchasePrice" value="@Item.PurchasePrice" key="@Item.ProductKey" />
                        </div>
                    </li>
                    <li style="width:100%; margin: 3px;">
                        <div class="input-group input-group-sm ">
                            <span class="input-group-prepend">
                                <span class="input-group-text font-weight-bolder">Số tiền</span>
                            </span>
                            <input type="text" class="form-control number" name="txt_AmountPrice" value="@Item.Amount" key="@Item.ProductKey" />
                        </div>
                    </li>
                    <li style="width:100%; margin: 3px;">
                        <div class="input-group input-group-sm ">
                            <span class="input-group-prepend">
                                <span class="input-group-text font-weight-bolder">Giá bán</span>
                            </span>
                            <input type="text" class="form-control number" name="txt_SalePrice" value="@Item.SalePrice" />
                        </div>
                    </li>
                </ul>
                <ul style="display:flex; margin:0px; padding:0px; width:100%; list-style:none;">
                    <li style="width:100%; margin: 3px;">
                        <textarea class="form-control" placeholder="Ghi chú" name="txt_Description">@Item.Description</textarea>
                    </li>
                </ul>
                <ul style="display:flex; margin:0px; padding:0px; width:100%; list-style:none; text-align:center;">
                    <li style="width:100%; margin: 3px;">
                        <button role="button" class="btn btn-outline btn-outline-purple " onclick="Close('@Item.ProductKey')">
                            Đóng
                        </button>
                        <button role="button" class="btn btn-outline btn-outline-purple " onclick="Remove('@Item.ProductKey')">
                            Xóa
                        </button>
                        <button role="button" class="btn btn-outline btn-outline-purple " onclick="Apply('@Item.ProductKey')">
                            Áp dụng
                        </button>
                    </li>
                </ul>
            </td>
        </tr>
    }
</table>