﻿@model Input_Order_Model
@{
    ViewBag.Title = "InputDetail";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
}
@section style{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .ui-menu {
            z-index: 10001;
        }

        .bg-orange {
            background-color: orange;
        }

        :root {
            --input-padding-x: .75rem;
            --input-padding-y: .75rem
        }

        .form-control {
            min-height: 2.7rem !important;
        }

        .form-label-group {
            position: relative;
            margin-bottom: 0.3rem
        }

            .form-label-group > input, .form-label-group > label {
                padding: var(--input-padding-y) var(--input-padding-x)
            }

            .form-label-group > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0;
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out
            }

            .form-label-group input::-webkit-input-placeholder {
                color: transparent
            }

            .form-label-group input:-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-moz-placeholder {
                color: transparent
            }

            .form-label-group input::placeholder {
                color: transparent
            }

            .form-label-group input:not(:placeholder-shown) {
                padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2/3));
                padding-bottom: calc(var(--input-padding-y)/3)
            }

                .form-label-group input:not(:placeholder-shown) ~ label {
                    padding-top: calc(var(--input-padding-y)/3);
                    padding-bottom: calc(var(--input-padding-y)/3);
                    font-size: 14px;
                    color: #777
                }
    </style>
    <style>
        .col-md-6 .width-9, .col-md-6 .width-12, .col-md-9 .width-6, .col-md-9 .width-12, .col-md-12 .width-6, .col-md-12 .width-9 {
            display: none;
        }

        .sidebar {
            z-index: 99;
            right: 0;
            top: 110px;
            height: 100%;
            position: fixed;
            background-color: #ffdeac;
            -webkit-transition: margin 0.3s ease;
            -moz-transition: margin 0.3s ease;
            -o-transition: margin 0.3s ease;
            transition: margin 0.3s ease;
        }

        .collapsed {
            display: none;
        }
    </style>
}
<header class="page-header">
    <h2>Đơn mua, nhập hàng</h2>
    <div class="right-wrapper text-right" style="margin-right:10px">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ol>
    </div>

</header>
<div class="row">
    <div class="col-md-6">
        <section class="card">
            <div class="card-header p-2">
                <div class="row">
                    <div class="col-md-7 col-sm-6 col-lg-6 pr-0">
                        <h4>Đơn hàng nhập số: @Model.OrderID</h4>
                    </div>
                    <div class="col-md-5 col-sm-6 col-lg-6 pl-0 text-right">
                        <button type="button" class="btn btn-primary" id="btn_NewOrder" onclick="NewOrder()">
                            <i class="fas fa-plus"></i>
                            Lập mới
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body nano" id="LeftPanel">
                <div class="nano-content">
                    <div class="row m-0">
                        <div class="col-md-12 p-0" id="divCart">
                            @{
                                if (Model != null && Model.ListItem.Count > 0)
                                {
                                    @Html.Partial("~/Views/Desktop/PO/_PurchaseItem.cshtml", Model.ListItem)
                                }
                                else
                                {
                                    <div class="alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <strong>Bạn chưa có sản phẩm nào trong giỏ hàng !</strong>.
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer p-0">
               
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="card">
            <div class="card-header p-2">
                <div class="row">
                    <div class="col-md-7 col-sm-6 col-lg-6 pr-0">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Tên/ Mã sản phẩm" id="txt_ProductName">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-info" id="btn_Search">
                                    <i class="fas fa-search"></i>Tìm
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-lg-6 pl-0 text-right" id="btn_MostBuy">
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-filter"></i>Bán chạy
                        </button>
                        <button type="button" class="btn btn-primary" id="btn_NewImport">
                            <i class="fas fa-filter"></i>Mới nhập
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body" id="RightPanel">
                
            </div>
            <div class="card-footer border-primary">

            </div>
        </section>
    </div>
</div>
<input id="txt_OrderKey" type="hidden" value="@Model.OrderKey" />
<div id="modalPayment" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

</div>
@section scripts{
    <script src="@Url.Content("~/Assets/App_JS/DesktopJS/PO/PurchaseOrder.js")"></script>
    <script>
      
    </script>
}