﻿
@{
    ViewBag.Title = "Input";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";

    List<Input_Order_Model> _List = new List<Input_Order_Model>();
    if (ViewBag.List != null)
    {
        _List = ViewBag.List as List<Input_Order_Model>;
    }
}

<header class="page-header">
    <h2>Nhập hàng</h2>
    <div class="right-wrapper text-right" style="margin-right:10px">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ol>
    </div>

</header>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header ">
                <div class="row">
                    <div class="col-md-12">
                        <form action="@Url.Action("List_PurchaseOrder","Desktop")">
                            <table class="table Custom table-sm mb-0">
                                <tr>
                                    <td class="text-left">
                                        <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Prev">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <h4 class="font-weight-semibold text-primary">
                                            @ViewBag.FromDate - @ViewBag.ToDate
                                        </h4>
                                    </td>
                                    <td class="text-right">
                                        <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Next">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <input type="hidden" name="FromDate" id="txtStartDate" value="@ViewBag.FromDate" />
                            <input type="hidden" name="ToDate" id="txtEndDate" value="@ViewBag.ToDate" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body" id="divTable">
                <table class="table table-sm Custom" id="tblData" style="min-width:max-content">
                    <thead>
                        <tr>
                            <th><input type="text" id="Filter_OrderID" class="form-control" placeholder="Số đơn hàng" onkeyup="Utils.FilterQuick(this,0,'tblBody')"></th>
                            <th>Ngày lập</th>
                            <th>Chứng từ nhập</th>
                            <th>Nhà cung cấp</th>
                            <th>Tình trạng</th>
                            <th>Số tiền</th>
                            <th>
                                <a class="btn btn-info btn-block" href="@Url.Action("PurchaseOrderNew","Desktop")">
                                    <i class="fa fa-plus"></i>
                                    Lập mới
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (_List != null && _List.Count > 0)
                            {
                                foreach (Input_Order_Model zModel in _List)
                                {
                                    <tr key="@zModel.OrderKey">
                                        <td>@zModel.OrderID</td>
                                        <td>@zModel.OrderDate.ToString("dd/MM/yyyy")</td>
                                        <td>@zModel.DocumentOrigin</td>
                                        <td>@zModel.VendorName</td>
                                        @if (zModel.Slug == 1)
                                        {
                                            <td class="text-success font-weight-semibold">Đã thanh toán</td>
                                        }
                                        else
                                        {
                                            <td class="text-warning font-weight-semibold">Chưa thanh toán</td>
                                        }
                                        <td class="number">@zModel.AmountOrderIncVAT</td>
                                        <td>
                                            <a href="@Url.Action("PurchaseOrderEdit","Desktop", new { zModel.OrderKey })" class="btn btn-outline-primary btn-sm modal-with-zoom-anim">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="CancelOrder('@zModel.OrderKey')">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7">
                                        <div class="alert alert-warning">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <strong>Bạn chưa có phát sinh thông tin !</strong>.
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer ">
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="@Url.Content("~/Assets/App_JS/DesktopJS/PO/List.js")"></script>
    <script>
        var URL_CancelOrder = "@Url.Action("Cancel_PurchaseOrder", "Desktop")";
    </script>
}