﻿
@{
    ViewBag.Title = "CashBalance";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
    List<Payment_Model> _ListPayment = new List<Payment_Model>();
    if (ViewBag.ListPayment != null)
    {
        _ListPayment = ViewBag.ListPayment as List<Payment_Model>;
    }
    List<CashBalance_Model> _ListInside = new List<CashBalance_Model>();
    if (ViewBag.ListInside != null)
    {
        _ListInside = ViewBag.ListInside as List<CashBalance_Model>;
    }
    string _DateView = ViewBag.DateView;
}
<header class="page-header">
    <h2>Cân đối thu chi</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>

                </a>
            </li>
            <li>
            </li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                @Html.Partial("~/Views/Shared/_SearchDateButton.cshtml")
            </div>
        </div>
        <div class="card-body">
            <table class="table table-sm Custom table-responsive-lg">
                <thead>
                    <tr>
                        <td colspan="8" class="text-right"></td>
                    </tr>
                    <tr>
                        <th>STT</th>
                        <th>Số phiếu</th>
                        <th>Ngày lập</th>
                        <th>Nội dung</th>
                        <th>Chi phí</th>
                        <th>Thu</th>
                        <th>Chi</th>
                        <th>Cân đối</th>
                    </tr>
                </thead>
                <tbody id="tblBody">

                    @{

                        if (_ListInside.Count > 0)
                        {
                            double zPreAmount = ViewBag.PreAmount;
                            double zPaymentAmountCurrencyMain = _ListInside.Sum(s => s.PaymentAmountCurrencyMain);
                            double zReceiptAmountCurrencyMain = _ListInside.Sum(s => s.ReceiptAmountCurrencyMain);
                            double zEndAmount = zPreAmount + zReceiptAmountCurrencyMain - zPaymentAmountCurrencyMain;
                            double TotalTemp = zPreAmount + zReceiptAmountCurrencyMain - zPaymentAmountCurrencyMain;

                            <tr>
                                <td class="text-right" colspan="8">
                                    <button type="button" class="btn btn-warning btn-sm modal-with-zoom-anim" onclick="Save(@zEndAmount)">
                                        <i class="fas fa-angle-double-right"></i>
                                        Lưu chuyển
                                    </button>
                                </td>
                            </tr>
                            <tr style="background-color:lemonchiffon" class="font-weight-semibold">
                                <td colspan="5">
                                    Cuối kỳ
                                </td>
                                <td class="number text-danger">
                                    @zReceiptAmountCurrencyMain
                                </td>
                                <td class="number text-danger">
                                    @zPaymentAmountCurrencyMain
                                </td>
                                <td class="text-danger text-right">
                                    <span class="number">@zEndAmount</span>
                                </td>
                            </tr>
                            for (int i = 0; i < _ListInside.Count; i++)
                            {

                                CashBalance_Model zModel = _ListInside[i];
                                string No = (i + 1).ToString();
                                //TotalTemp += (zModel.PaymentAmountCurrencyMain - zModel.ReceiptAmountCurrencyMain);

                                <tr>
                                    <td>@No</td>
                                    <td>@zModel.ObjectID</td>
                                    <td>@zModel.ObjectDate.ToString("dd/MM/yyyy")</td>
                                    <td style="max-width:300px">@zModel.ObjectDescription</td>
                                    <td>@zModel.CategoryNameVN</td>
                                    <td class="number">@zModel.ReceiptAmountCurrencyMain</td>
                                    <td class="number">@zModel.PaymentAmountCurrencyMain</td>
                                    <td class="number">@TotalTemp</td>
                                    @{
                                        TotalTemp += (zModel.PaymentAmountCurrencyMain - zModel.ReceiptAmountCurrencyMain);
                                    }
                                </tr>
                            }
                            <tr style="background-color:lemonchiffon" class="font-weight-semibold">
                                <td colspan="7">
                                    Đầu kỳ
                                </td>
                                <td class="number text-danger">
                                    @zPreAmount
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td colspan="8">
                                    <div class="alert alert-primary">
                                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var URL_Save = '@Url.Action("Save", "Financial")';
        var URL_SearchButton ='@Url.Action("SearchCashBalance_Button", "Financial")';
    </script>
    <script src="~/Assets/App_JS/DesktopJS/Cash/Balance.js"></script>
    <script>
        $(document).ready(function () {
            $("#formSearchButton").attr("action", URL_SearchButton);
            //$("#formSearchDate").attr("action", URL_SearchDate);
        });
    </script>
}
