﻿
@{
    ViewBag.Title = "Balance";
    Layout = "~/Views/Shared/_Layout_mCash.cshtml";
    List<Payment_Model> _ListPayment = new List<Payment_Model>();
    if (ViewBag.ListPayment != null)
    {
        _ListPayment = ViewBag.ListPayment as List<Payment_Model>;
    }
    List<CashBalance_Model> _ListInside = new List<CashBalance_Model>();
    if (ViewBag.ListInside != null)
    {
        _ListInside = ViewBag.ListInside as List<CashBalance_Model>;
    }
    string _DateView = ViewBag.DateView;
}
<div class="row">
    <div class="col-12">
        @Html.Partial("~/Views/Shared/_SearchDateButton.cshtml")
    </div>
</div>
<div class="toggle toggle-quaternary" data-plugin-toggle>
    <section class="toggle active">
        <label> TỔNG HỢP TIỀN MẶT</label>
        <div class="toggle-content">
            <table class="table table-borderd bg-white Custom table-sm table-striped ">

                <tr>
                    <td><i class="fas fa-circle-notch"></i></td>
                    <td class="font-weight-semibold text-dark">Đầu kỳ</td>
                    <td class="font-weight-semibold text-danger number">@ViewBag.PreAmount</td>
                </tr>
                <tr>
                    <td><i class="fas fa-circle-notch"></i></td>
                    <td class="font-weight-semibold text-dark">Tổng thu</td>
                    <td class="font-weight-semibold text-danger number">@ViewBag.ReceiptAmountCurrencyMain</td>
                </tr>
                <tr>
                    <td><i class="fas fa-circle-notch"></i></td>
                    <td class="font-weight-semibold text-dark">Tổng chi</td>
                    <td class="font-weight-semibold text-danger number">@ViewBag.PaymentAmountCurrencyMain</td>
                </tr>
                <tr>
                    <td><i class="fas fa-circle-notch"></i></td>
                    <td class="font-weight-semibold text-dark">Cuối kỳ</td>
                    <td class="font-weight-semibold text-danger number"> @ViewBag.EndAmount</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">
                        <button type="button" class="btn btn-primary" onclick="Save('@ViewBag.EndAmount')">
                            <i class="fas fa-angle-double-right"></i>
                            Lưu chuyển
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <section class="toggle">
        <label>BẢNG KÊ</label>
        <div class="toggle-content">
            <table class="table bg-white table-sm table-striped">
                @{
                    if (_ListInside.Count > 0)
                    {
                        double TotalTemp = ViewBag.PreAmount + ViewBag.ReceiptAmountCurrencyMain - ViewBag.PaymentAmountCurrencyMain;
                        for (int i = 0; i < _ListInside.Count; i++)
                        {
                            CashBalance_Model zModel = _ListInside[i];
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            Ngày:
                                            <span class="text-primary float-right">@zModel.ObjectDate.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div class="col-6">
                                            Số:
                                            <span class="text-primary float-right">@zModel.ObjectID</span>
                                        </div>
                                    </div>
                                    <h4 class="font-weight-semibold text-muted">@zModel.ObjectDescription</h4>
                                    @if (i == 1)
                                    {
                                        if (zModel.PaymentAmountCurrencyMain == 0)
                                        {
                                            <div class="row mb-1 bg-warning">
                                                <div class="col-6">
                                                    Thu:
                                                    <span class="font-weight-semibold number text-green">@zModel.ReceiptAmountCurrencyMain</span>
                                                </div>
                                                <div class="col-6 text-danger ">
                                                    Cân đối:
                                                    <span class="font-weight-semibold number float-right">@TotalTemp</span>
                                                </div>
                                                @{
                                                    TotalTemp += (zModel.PaymentAmountCurrencyMain - zModel.ReceiptAmountCurrencyMain);
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row mb-1">
                                                <div class="col-6 text-danger ">
                                                    Chi:
                                                    <span class="font-weight-semibold number float-right">@zModel.PaymentAmountCurrencyMain</span>
                                                </div>
                                                <div class="col-6 text-danger ">
                                                    Cân đối:
                                                    <span class="font-weight-semibold number float-right">@TotalTemp</span>
                                                </div>
                                                @{
                                                    TotalTemp += (zModel.PaymentAmountCurrencyMain - zModel.ReceiptAmountCurrencyMain);
                                                }
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        if (zModel.PaymentAmountCurrencyMain == 0)
                                        {
                                            <div class="row mb-1 bg-warning">
                                                <div class="col-6">
                                                    Thu:
                                                    <span class="font-weight-semibold number float-right">@zModel.ReceiptAmountCurrencyMain</span>
                                                </div>
                                                <div class="col-6 text-danger ">
                                                    Cân đối:
                                                    <span class="font-weight-semibold number float-right">@TotalTemp</span>
                                                </div>
                                                @{
                                                    TotalTemp += (zModel.PaymentAmountCurrencyMain - zModel.ReceiptAmountCurrencyMain);
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row mb-1">
                                                <div class="col-6 text-danger ">
                                                    Chi:
                                                    <span class="font-weight-semibold number float-right">@zModel.PaymentAmountCurrencyMain</span>
                                                </div>
                                                <div class="col-6 text-danger ">
                                                    Cân đối:
                                                    <span class="font-weight-semibold number float-right">@TotalTemp</span>
                                                </div>

                                                @{
                                                    TotalTemp += (zModel.PaymentAmountCurrencyMain - zModel.ReceiptAmountCurrencyMain);
                                                }
                                            </div>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </section>
</div>
@section Scripts{
    <script>
        var URL_Save = '@Url.Action("Save", "Mobile")';
    </script>
    <script>
        $(document).ready(function () {

        });
        function Save(Amount) {
            var DateView = $('#txt_DateView').val();
            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "Amount": Amount,
                    "DateView": DateView,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        Utils.OpenNotify('Đã lưu chuyển số tiền qua tháng sau !.', 'Thông báo', 'success');
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
    </script>
}

