﻿
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout_mCash.cshtml";
    List<Payment_Model> _ListPayment = new List<Payment_Model>();
    if (ViewBag.ListPayment != null)
    {
        _ListPayment = ViewBag.ListPayment as List<Payment_Model>;
    }
    List<CashPayment_Category_Model> _ListCategoryPayment = new List<CashPayment_Category_Model>();
    if (ViewBag.ListCategoryPayment != null)
    {
        _ListCategoryPayment = ViewBag.ListCategoryPayment as List<CashPayment_Category_Model>;
    }
    string _DateView = ViewBag.DateView;
}
<div class="row">
    <div class="col-12">
        @Html.Partial("~/Views/Shared/_SearchDateButtonModal.cshtml")
    </div>
</div>
<div class="toggle toggle-quaternary" data-plugin-toggle>
    <section class="toggle active">
        <label>TỔNG HỢP PHIẾU CHI</label>
        <div class="toggle-content">
            <table class="table table-borderd bg-white Custom table-sm table-striped ">

                <tr>
                    <td><i class="fas fa-circle-notch"></i></td>
                    <td class="font-weight-semibold text-dark">Số lượng</td>
                    <td class="font-weight-semibold text-danger number">@_ListPayment.Count</td>
                </tr>
                <tr>
                    <td><i class="fas fa-circle-notch"></i></td>
                    <td class="font-weight-semibold text-dark"> Tổng tiền </td>
                    <td class="font-weight-semibold text-danger number">@ViewBag.PaymentAmountCurrencyMain</td>
                </tr>

            </table>
        </div>
    </section>
    <section class="toggle active">
        <label>BẢNG KÊ</label>
        <div class="toggle-content">
            <table class="table bg-white table-sm table-striped">
                @{
                    if (_ListPayment.Count > 0)
                    {
                        for (int i = 0; i < _ListPayment.Count; i++)
                        {
                            #region Info
                            Payment_Model zModel = _ListPayment[i];
                            string Key = zModel.PaymentKey;
                            string No = (i + 1).ToString();
                            string PaymentID = zModel.PaymentID;
                            string PaymentDescription = zModel.PaymentDescription;
                            int CategoryKey = zModel.CategoryKey;
                            string CategoryName = zModel.CategoryName;
                            string PaymentDate = zModel.PaymentDate.ToString("dd/MM/yyyy");
                            string CustomerKey = zModel.CustomerKey;
                            string CustomerName = zModel.CustomerName;
                            double AmountCurrencyMain = zModel.AmountCurrencyMain;
                            #endregion

                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            Ngày:
                                            <span class="text-primary float-right">@PaymentDate</span>
                                        </div>
                                        <div class="col-6">
                                            Số:
                                            <span class="text-primary float-right">@PaymentID</span>
                                        </div>
                                    </div>
                                    <h4 class="font-weight-semibold text-muted">@PaymentDescription</h4>
                                    <div class="row mb-1">
                                        <div class="col-6 text-danger ">
                                            Số tiền:
                                            <span class="font-weight-semibold number float-right">@AmountCurrencyMain</span>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm" onclick="Detail('@Key')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Key')">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </section>
</div>
<button type="button" class="btn btn-primary fixedBR" onclick="Detail('')">
    <i class="fas fa-plus"></i>
    Thêm mới
</button>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Thông tin phiếu chi</h2>
        </div>
        <div class="card-body ">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số phiếu</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_PaymentID" value="" placeholder="" readonly="readonly">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Ngày lập</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_PaymentDate" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Loại</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Category" class="form-control select2" name="Branch">
                        @{
                            foreach (CashPayment_Category_Model zItem in _ListCategoryPayment)
                            {
                                <option value="@zItem.CategoryKey">@zItem.CategoryNameVN</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Tên đối tác</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control " id="txt_CustomerName" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Địa chỉ</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control " id="txt_Address" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Diễn giải</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_PaymentDescription" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số tiền</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control number" id="txt_AmountCurrencyMain" value="0" placeholder="">
                </div>
            </div>
            <div class="form-group row d-none">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">-------</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="checkbox" id="cbx_IsFeeInside" value="true" placeholder="">
                </div>
            </div>

        </div>
        <div class="card-footer  text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
        <input id="txt_PaymentKey" type="hidden" name="FeaKey" value="" />
    </div>
</div>
@section Scripts{
    <script>
        var URL_Detail = '@Url.Action("mDetailPayment", "Mobile")';
        var URL_Delete = '@Url.Action("mDeletePayment", "Mobile")';
        var URL_Save = '@Url.Action("mSavePayment", "Mobile")';
        var URL_AutoID = '@Url.Action("GetReceiptID", "Mobile")';
        var URL_SearchButton ='@Url.Action("SearchPayment_Button", "Mobile")';
        var URL_SearchDate = '@Url.Action("SearchPayment_Date", "Mobile")';
    </script>
    <script>
        $(document).ready(function () {
            $("#formSearchButton").attr("action", URL_SearchButton);
            $("#formSearchDate").attr("action", URL_SearchDate);
        });
        function Save() {
            var PaymentKey = $('#txt_PaymentKey').val();
            var PaymentID = $('#txt_PaymentID').val();
            var PaymentDate = Utils.ConvertToYYYYMMDD($('#txt_PaymentDate').val());
            var CategoryKey = $('#cbo_Category').val();
            var CategoryName = $("#cbo_Category option:selected").text();
            var PaymentDescription = $('#txt_PaymentDescription').val();
            var CustomerName = $('#txt_CustomerName').val();
            var Address = $("#txt_Address").val();
            var AmountCurrencyMain = $("#txt_AmountCurrencyMain").val();
            var IsFeeInside = "True";

            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "PaymentKey": PaymentKey,
                    "PaymentID": PaymentID,
                    "PaymentDate": PaymentDate,
                    "CategoryKey": CategoryKey,
                    "CategoryName": CategoryName,
                    "PaymentDescription": PaymentDescription,
                    "CustomerName": CustomerName,
                    "Address": Address,
                    "AmountCurrencyMain": AmountCurrencyMain,
                    "IsFeeInside": IsFeeInside,

                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Detail(PaymentKey) {
            Utils.OpenMagnific('#modalEdit');
            if (PaymentKey.length >= 36) {
                $.ajax({
                    url: URL_Detail,
                    type: 'GET',
                    data: {
                        "PaymentKey": PaymentKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);

                            var PaymentDate = Utils.ConvertToDDMMYYYY(obj.PaymentDate);

                            $('#txt_PaymentKey').val(obj.PaymentKey);
                            $('#txt_PaymentID').val(obj.PaymentID);
                            $('#txt_PaymentDate').val(PaymentDate);
                            $('#cbo_Category').val(obj.CategoryKey).trigger('change');
                            $('#txt_PaymentDescription').val(obj.PaymentDescription);
                            $('#txt_CustomerName').val(obj.CustomerName);
                            $('#txt_Address').val(obj.Address);
                            $('#txt_AmountCurrencyMain').val(obj.AmountCurrencyMain);
                            //$('#chb_IsFeeInside').val(obj.IsFeeInside);
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI('#modalEdit');
                $("#rdo1").val(1);
                $("#rdo0").val(0);

                $.ajax({
                    url: URL_AutoID,
                    type: 'GET',
                    data: {

                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        $('#txt_PaymentID').val(r);
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {
                    }
                });
            }
        }
        function Delete(PaymentKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "PaymentKey": PaymentKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
    </script>
}