﻿
@{
    /**/

    ViewBag.Title = "Receipt";
    Layout = "~/Views/Shared/_Layout_mCash.cshtml";
    List<Receipt_Model> _ListReceipt = new List<Receipt_Model>();
    if (ViewBag.ListReceipt != null)
    {
        _ListReceipt = ViewBag.ListReceipt as List<Receipt_Model>;
    }
    List<CashReceipt_Category_Model> _ListCategoryReceipt = new List<CashReceipt_Category_Model>();
    if (ViewBag.ListCategoryReceipt != null)
    {
        _ListCategoryReceipt = ViewBag.ListCategoryReceipt as List<CashReceipt_Category_Model>;
    }
    string _DateView = ViewBag.DateView;
}
<div class="row">
    <div class="col-12">
        @Html.Partial("~/Views/Shared/_SearchDateButtonModal.cshtml")
    </div>
</div>
<div class="toggle toggle-quaternary" data-plugin-toggle>
    <section class="toggle active">
        <label>TỔNG HỢP PHIẾU THU</label>
        <div class="toggle-content">
            <table class="table table-borderd bg-white Custom table-sm table-striped ">
                <tr>
                    <td><i class="fas fa-circle-notch"></i></td>
                    <td class="font-weight-semibold text-dark">Số lượng</td>
                    <td class="font-weight-semibold text-danger number">@_ListReceipt.Count</td>
                </tr>
                <tr>
                    <td><i class="fas fa-circle-notch"></i></td>
                    <td class="font-weight-semibold text-dark"> Tổng tiền </td>
                    <td class="font-weight-semibold text-danger number">@ViewBag.ReceiptAmountCurrencyMain</td>
                </tr>
            </table>
        </div>
    </section>
    <section class="toggle active">
        <label>BẢNG KÊ</label>
        <div class="toggle-content">
            <table class="table bg-white table-sm table-striped">
                @{
                    if (_ListReceipt.Count > 0)
                    {
                        for (int i = 0; i < _ListReceipt.Count; i++)
                        {
                            #region [Info]
                            Receipt_Model zModel = _ListReceipt[i];
                            string Key = zModel.ReceiptKey;
                            string No = (i + 1).ToString();
                            string ReceiptID = zModel.ReceiptID;
                            string ReceiptDescription = zModel.ReceiptDescription;
                            int CategoryKey = zModel.CategoryKey;
                            string CategoryName = zModel.CategoryName;
                            string ReceiptDate = zModel.ReceiptDate.ToString("dd/MM/yyyy");
                            string CustomerKey = zModel.CustomerKey;
                            string CustomerName = zModel.CustomerName;
                            double AmountCurrencyMain = zModel.AmountCurrencyMain;
                            #endregion

                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            Ngày:
                                            <span class="text-primary float-right">@ReceiptDate</span>
                                        </div>
                                        <div class="col-6">
                                            Số:
                                            <span class="text-primary float-right">@ReceiptID</span>
                                        </div>
                                    </div>
                                    <h4 class="font-weight-semibold text-muted">@ReceiptDescription</h4>
                                    <div class="row mb-1">
                                        <div class="col-6 text-danger ">
                                            Số tiền:
                                            <span class="font-weight-semibold number float-right">@AmountCurrencyMain</span>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm" onclick="Detail('@Key')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Key')">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </section>
</div>

<button type="button" class="btn btn-primary fixedBR" onclick="Detail('')">
    <i class="fas fa-plus"></i>
    Thêm mới
</button>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Thông tin phiếu thu</h2>
        </div>
        <div class="card-body ">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số phiếu</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_ReceiptID" value="" placeholder="" readonly="readonly">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Ngày lập</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_ReceiptDate" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Loại</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Category" class="form-control select2" name="Branch">
                        @{
                            foreach (CashReceipt_Category_Model zItem in _ListCategoryReceipt)
                            {
                                <option value="@zItem.CategoryKey">@zItem.CategoryNameVN</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Tên đối tác</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control " id="txt_CustomerName" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Địa chỉ</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control " id="txt_Address" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Diễn giải</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_ReceiptDescription" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số tiền</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control number" id="txt_AmountCurrencyMain" value="0" placeholder="">
                </div>
            </div>
            <div class="form-group row d-none">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">-------</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="checkbox" id="cbx_IsFeeInside" value="true" placeholder="">
                </div>
            </div>

        </div>
        <div class="card-footer  text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_ReceiptKey" type="hidden" name="FeaKey" value="" />
</div>
@section Scripts{
    <script>
        var URL_Detail = '@Url.Action("mDetailReceipt", "Mobile")';
        var URL_Delete = '@Url.Action("mDeleteReceipt", "Mobile")';
        var URL_Save = '@Url.Action("mSaveReceipt", "Mobile")';
        var URL_AutoID = '@Url.Action("GetReceiptID", "Mobile")';
        var URL_SearchButton ='@Url.Action("SearchReceipt_Button", "Mobile")';
        var URL_SearchDate = '@Url.Action("SearchReceipt_Date", "Mobile")';
    </script>
    <script>
        $(document).ready(function () {
            $("#formSearchButton").attr("action", URL_SearchButton);
            $("#formSearchDate").attr("action", URL_SearchDate);
        });
        function Save() {
            var ReceiptKey = $('#txt_ReceiptKey').val();
            var ReceiptID = $('#txt_ReceiptID').val();
            var ReceiptDate = Utils.ConvertToYYYYMMDD($('#txt_ReceiptDate').val());
            var CategoryKey = $('#cbo_Category').val();
            var CategoryName = $("#cbo_Category option:selected").text();
            var ReceiptDescription = $('#txt_ReceiptDescription').val();
            var CustomerName = $('#txt_CustomerName').val();
            var Address = $("#txt_Address").val();
            var AmountCurrencyMain = $("#txt_AmountCurrencyMain").val();
            var IsFeeInside = 'true'
            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "ReceiptKey": ReceiptKey,
                    "ReceiptID": ReceiptID,
                    "ReceiptDate": ReceiptDate,
                    "CategoryKey": CategoryKey,
                    "CategoryName": CategoryName,
                    "ReceiptDescription": ReceiptDescription,
                    "CustomerName": CustomerName,
                    "Address": Address,
                    "AmountCurrencyMain": AmountCurrencyMain,
                    "IsFeeInside": IsFeeInside,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Detail(ReceiptKey) {
            Utils.OpenMagnific('#modalEdit');
            if (ReceiptKey.length >= 36) {
                $.ajax({
                    url: URL_Detail,
                    type: 'GET',
                    data: {
                        "ReceiptKey": ReceiptKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);
                            var ReceiptDate = Utils.ConvertToDDMMYYYY(obj.ReceiptDate);
                            $('#txt_ReceiptKey').val(obj.ReceiptKey);
                            $('#txt_ReceiptID').val(obj.ReceiptID);
                            $('#txt_ReceiptDate').val(ReceiptDate);
                            $('#cbo_Category').val(obj.CategoryKey).trigger('change');
                            $('#txt_ReceiptDescription').val(obj.ReceiptDescription);
                            $('#txt_CustomerName').val(obj.CustomerName);
                            $('#txt_Address').val(obj.Address);
                            $('#txt_AmountCurrencyMain').val(obj.AmountCurrencyMain);
                            //$('#cbx_IsFeeInside').val(obj.IsFeeInside);
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI('#modalEdit');
                $("#rdo1").val(1);
                $("#rdo0").val(0);

                $.ajax({
                    url: URL_AutoID,
                    type: 'GET',
                    data: {

                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        $('#txt_ReceiptID').val(r);
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {
                    }
                });

            }
        }
        function Delete(ReceiptKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "ReceiptKey": ReceiptKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
    </script>
}
