﻿@{
    Layout = null;
    List<User_Role> _ListData = new List<User_Role>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<User_Role>;
    }
}

<div class="card border border-primary">
    <div class="card-header">
        <h2 class="card-title">Phân quyền người dùng cho MOBILE</h2>
    </div>
    <div class="card-body p-0">
        <table class="table table-bordered table-sm Custom" id="tblroleMobile">
            <thead>
                <tr>
                    <th>Stt</th>
                    <th>Đường dẫn</th>
                    <th class="text-center" style="width:55px">Xem</th>
                    <th class="text-center" style="width:55px">Sửa</th>
                    <th class="text-center" style="width:55px">Xóa</th>
                    <th>.</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int No = 1;
                    foreach (User_Role Item in _ListData)
                    {
                        string css = "";
                        switch (Item.Level)
                        {
                            case 1:
                                css = "style='background: aliceblue;'";
                                break;
                            case 2:
                                css = "style='padding-left:3em'";
                                break;
                            case 3:
                                css = "style='padding-left:6em'";
                                break;
                            case 4:
                                css = "style='padding-left:9em'";
                                break;
                        }

                        <tr rolekey="@Item.RoleKey" userkey="@Item.UserKey" id="@Item.RoleKey" parent="@Item.Parent">
                            <td>@No</td>
                            <td @Html.Raw(css)>@Item.RoleName</td>
                            <td class="text-center">
                                @if (Item.RoleRead)
                                {
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" aria-role checked="" name="chkRead" id="chkRead_@Item.RoleKey">
                                        <label for="chkRead_@Item.RoleKey">&nbsp;</label>
                                    </div>
                                }
                                else
                                {
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" aria-role name="chkRead" id="chkRead_@Item.RoleKey">
                                        <label for="chkRead_@Item.RoleKey">&nbsp;</label>
                                    </div>
                                }
                            </td>
                            <td class="text-center">
                                @if (Item.RoleEdit && Item.Level > 1)
                                {
                                    <div class="checkbox-custom checkbox-warning">
                                        <input type="checkbox" aria-role checked="" name="chkEdit">
                                        <label for="chk_@Item.RoleKey">&nbsp;</label>
                                    </div>
                                }
                                else
                                {
                                    <div class="checkbox-custom checkbox-warning">
                                        <input type="checkbox" aria-role name="chkEdit" id="chkEdit_@Item.RoleKey">
                                        <label for="chk_@Item.RoleKey">&nbsp;</label>
                                    </div>
                                }
                            </td>
                            <td class="text-center">
                                @if (Item.RoleDel)
                                {
                                    <div class="checkbox-custom checkbox-danger">
                                        <input type="checkbox" aria-role checked="" name="chkDel" id="chkDel_@Item.RoleKey">
                                        <label for="chkDel_@Item.RoleKey">&nbsp;</label>
                                    </div>
                                }
                                else
                                {
                                    <div class="checkbox-custom checkbox-danger">
                                        <input type="checkbox" aria-role name="chkDel" id="chkDel_@Item.RoleKey">
                                        <label for="chkDel_@Item.RoleKey">&nbsp;</label>
                                    </div>
                                }
                            </td>
                            <td>
                                .
                            </td>
                        </tr>

                        No++;
                    }
                }

            </tbody>
        </table>
    </div>
    <div class="card-footer border-primary text-center">
        <button type="button" class="btn btn-outline-secondary modal-dismiss">
            <i class="far fa-times-circle"></i>
            Đóng
        </button>
        <button type="button" class="btn btn-outline-primary modal-confirm" onclick="SaveAuthRoleMobile()">
            <i class="far fa-save"></i>
            Cập nhật
        </button>
    </div>
</div>
<input id="txt_User" type="hidden" name="user" value="" />
<input id="txt_Module" type="hidden" name="module" value="" />
<input id="txt_AuthMobile" type="hidden" name="auth" value="" />