﻿@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";

    List<Business_Model> _List = new List<Business_Model>();
    if (ViewBag.ListGroup != null)
    {
        _List = ViewBag.ListGroup as List<Business_Model>;
    }
}
<header class="page-header">
    <h2>Nhóm Menu</h2>
    <div class="right-wrapper text-right" style="margin-right:10px">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">

            </div>
            <div class="card-body border-primary">
                <table class="table table-sm Custom">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kinh doanh</th>
                            <th>Ghi chú</th>
                            <th>Desktop</th>
                            <th>Mobile</th>
                            <th>
                                <a class="modal-with-zoom-anim btn btn-info" href="#modalEdit" onclick="Edit(0)"><i class="fa fa-plus"></i>Thêm mới</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @if (_List.Count > 0)
                        {
                            for (int i = 0; i < _List.Count; i++)
                            {
                                Business_Model rec = _List[i];
                                <tr rolekey="@rec.BusinessKey">
                                    <td>@(i + 1)</td>
                                    <td>@rec.BusinessName</td>
                                    <td>@rec.Description</td>
                                    <td>@rec.RoleDesktop</td>
                                    <td>@rec.RoleMobile</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-warning btn-sm modal-with-zoom-anim" onclick="LoadDesktop('@rec.BusinessKey')">
                                            <i class="fas fa-desktop"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-warning btn-sm modal-with-zoom-anim" onclick="LoadMobile('@rec.BusinessKey')">
                                            <i class="fas fa-mobile-alt"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Edit('@rec.BusinessKey')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm modal-with-zoom-anim" onclick="Delete('@rec.BusinessKey')">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">
                                    <div class="alert alert-primary">
                                        <strong>Bạn chưa có phát sinh dữ liệu !</strong>.
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

</div>
<div id="modalRoleDesktop" class="zoom-anim-dialog modal-block-lg modal-block modal-header-color modal-block-info mfp-hide">

</div>
<div id="modalRoleMobile" class="zoom-anim-dialog modal-block-lg modal-block modal-header-color modal-block-info mfp-hide">

</div>
@section scripts {
    <script src="~/Assets/App_JS/DesktopJS/Admin/Group.js"></script>
    <script>

    </script>
}