﻿@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
    List<Role_Model> _ListRole = new List<Role_Model>();
    if (ViewBag.ListRole != null)
    {
        _ListRole = ViewBag.ListRole as List<Role_Model>;
    }
    List<string> _ListModule = new List<string>();
    if (ViewBag.ListModule != null)
    {
        _ListModule = ViewBag.ListModule as List<string>;
    }
    string _ModuleSelect = "";
    if (ViewBag.SelectModule != null)
    {
        _ModuleSelect = ViewBag.SelectModule;
    }
}
<header class="page-header">
    <h2>Bộ Menu</h2>
    <div class="right-wrapper text-right" style="margin-right:10px">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">
                <form class="row" action="@Url.Action("ListRole")" method="get" id="form_Search">
                    <div class="col-md-4">
                        <select class="form-control select2" name="Module" id="cbo_SearchModule">
                            @{
                                foreach (string Item in _ListModule)
                                {
                                    if (Item == _ModuleSelect)
                                    {
                                        <option value="@Item" selected>@Item</option>
                                    }
                                    else
                                    {
                                        <option value="@Item">@Item</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="card-body border-primary p-0" id="divTable">
                <table class="table table-sm Custom" id="tblData">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Rank</th>
                            <th>RoleName</th>
                            <th>RouteName</th>
                            <th>ActionName</th>
                            <th>ControllerName</th>
                            <th>Description</th>
                            <th>
                                <a class="modal-with-zoom-anim btn btn-info" href="#modalEdit" onclick="Edit(0)"><i class="fa fa-plus"></i>Thêm mới</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @if (_ListRole.Count > 0)
                        {
                            _ListRole = _ListRole.OrderBy(p => p.RoleID).ToList();

                            for (int i = 0; i < _ListRole.Count; i++)
                            {
                                Role_Model rec = _ListRole[i];
                                <tr rolekey="@rec.RoleKey">
                                    <td>@(i + 1)</td>
                                    <td>@rec.RoleID </td>
                                    <td>
                                        <i class="@rec.Icon"></i>
                                        @rec.RoleName
                                    </td>
                                    <td>@rec.RouteName </td>
                                    <td>@rec.ActionName</td>
                                    <td>@rec.ControllerName</td>
                                    <td>@rec.Description </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Edit('@rec.RoleKey')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm modal-with-zoom-anim" onclick="Delete('@rec.RoleKey')">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8">
                                    <div class="alert alert-primary">
                                        <strong>Bạn chưa có phát sinh dữ liệu !</strong>.
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

</div>
@section scripts {
    <script src="~/Assets/App_JS/3rt/tableHeadFixer.js"></script>
    <script src="@Url.Content("~/assets/App_JS/DesktopJS/Admin/Role.js")"></script>
    <script>
        var URL_Edit = '@Url.Action("EditRole", "Admin")';
        var URL_Delete = '@Url.Action("DeleteRole", "Admin")';
    </script>
    <script>
        $(document).ready(function () {
            $("#divTable").css({
                "height": $(window).height() - 290,
            });
            $("#tblData").tableHeadFixer({
                head: true,
                foot: false,
                left: 3,
                right: 1,
                'z-index': '501'
            });
        });
    </script>
}